.announcement {
    position: relative;
    padding: $spacing-2xl 0;
    background: $grey-50-pc;
    border-bottom: $spacing-2xs solid $teal;
}

.slider--announcements  .slick-slide { padding-right: $spacing-xl; }