<aside class="access-able-link">
    <div class="access-able-link__logo">
        <img src="https://www.staffs.ac.uk/image-library/legacy-logos/access-able-icon.png" alt="" class="accessable-link__logo">
    </div>
    <div class="access-able-link__link">
        <a href="https://www.accessable.co.uk/staffordshire-university/access-guides/science-centre">Science Centre accessibility guide provided by AccessAble</a>
    </div>
</aside>