<aside class="link-with-icon  margin-bottom-xl">
    <div class="link-with-icon__logo">
        <img src="https://www.staffs.ac.uk/image-library/legacy-logos/access-able-icon.png" alt="" class="accessable-link__logo">
    </div>
    <div class="link-with-icon__link">
        <a href="https://www.accessable.co.uk/staffordshire-university/access-guides/science-centre">Science Centre accessibility guide provided by AccessAble</a>
    </div>
</aside>

<div class="link-with-icon">
    <div class="link-with-icon__logo">
        <i class="icon  icon--play-circle-red  font-3xl"></i>
    </div>
    <div class="link-with-icon__link">
        <a href="https://www.youtube.com/embed/fiiB4p6ORsc">Esports Arena London</a>
    </div>
</div>