<div class="slab  slab--bg-box-knot  lavender-on-dark-blue  align-full">
    <div class="wrap">
        <div class="accolade-container  accolade-container--divider">
            {% include '@accolade--item' with {
                headline: '8th for student satisfaction',
                source: 'Complete University Guide 2024',
                image: '/images/icons/icon-brain.png',
                style: 'divider',
                colour: 'yellow-light'
            } %}

            {% include '@accolade--item' with {
                headline: 'TIGA Games Industry Award Winners',
                source: 'TIGA Games Industry 2024',
                image: '/images/icons/icon-tiga-awards.png',
                style: 'divider',
                colour: 'pale-blue'
            } %}

            {% include '@accolade--item' with {
                headline: 'Top 10 for Mental Health Nursing',
                source: 'Guardian University Guide 2024',
                image: '/images/icons/icon-trophy.png',
                style: 'divider',
                colour: 'peach'
            } %}
        </div>
    </div>
</div>