<p>{{ loremLong }}</p>

<blockquote>
  <q>I’m delighted for Staffordshire University to be shortlisted for Best Educational Institution and all the staff are incredibly proud that our students have been recognised for their game Pair Up. It is a well-deserved honour.</q>
  <footer>
    <cite>Dr Bobbie Fletcher</cite>
    <p>Head of Department Games and Visual Effects</p>
  </footer>
</blockquote>

<p>{{ loremLong }}</p>