<p>{{ loremLong }}</p>

<blockquote class="blockquote--short">
  <q>It is a well-deserved honour.</q>

  <footer>
    <cite>Dr Bobbie Fletcher</cite>
    <p>Head of Department Games and Visual Effects</p>
  </footer>
</blockquote>

<p>{{ loremLong }}</p>