<p>{{ loremLong }}</p>

<blockquote>
  <figure class="blockquote__figure  align-right  size-small">
    <img src="https://picsum.photos/480/480?random=1" alt=""/>
  </figure>

  <q class="blockquote__title">...about as complex as a blockquote could ever be.</q>

  <div class="blockquote__prose">
    <p>It contains a figure with an alignment (and sizing) class on it, and becuase it's inside a quote we add a <code>border-radius</code> and a <code>shape-outside</code> in the CSS to make it wrap to a circlular shape - neat huh?</p>
    <>It's got a title, some "prose", and a footer, which has not only a citation, but a title of the person giving it too. We'll use this largely for the Testimonial Card component.</p>
  </div>

  <footer class="blockquote__footer">
    <cite class="cite">Dan Sheerman</cite>
    <p>Vice President of naming complicated variants of things</p>
  </footer>
</blockquote>

<p>{{ loremLong }}</p>