<p>{{ loremLong }}</p>

<blockquote>
  <p>&ldquo;I’m delighted for Staffordshire University to be shortlisted for Best Educational Institution and all the staff are incredibly proud that our students have been recognised for their game Pair Up.</p>
  <p>It is a well-deserved honour.&rdquo;</p>

  <footer>
    <cite>Dr Bobbie Fletcher</cite>
    <p>Head of Department Games and Visual Effects</p>
  </footer>
</blockquote>

<p>{{ loremLong }}</p>