@use "../../assets/styles/__vars/colours";
@use "../../assets/styles/__vars/config";
@use "../../assets/styles/__vars/layout";
@use "../../assets/styles/__vars/spacing";

.quote-banner {
  position: relative;
  overflow: hidden;
  color: white;
  background: colours.$burgundy url('#{config.$image-theme-directory}/bg-knot-whole-red.svg');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 55%;

  @each $name, $value in colours.$banner-bg-colors {
    &--bg-#{$name} {
      background-color: #{$value};

      @if $name == 'digital-blue' {
        background-image: url('#{config.$image-theme-directory}/bg-knot-whole-neon.svg');
      }

      @else if $name == 'teal' {
        background-image: url('#{config.$image-theme-directory}/bg-knot-whole-neon.svg');
      }

    }
  }

  .card {
    border: 0;
  }

  &__flexContainer {
    margin: 0 -#{layout.$grid-gutter};
    min-height: 50vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
  }

  &--reverse {
    .quote-banner__flexContainer {
      flex-direction: row-reverse;
    }
  }

  &__figure {
    margin: spacing.$spacing-xl layout.$grid-gutter 0;
    flex: 1 1 40%;

    &--align-bottom {
      margin: 0 layout.$grid-gutter;
      align-self: flex-end;
    }

    img {
      margin: auto;
      max-height: 75vh;
      width: auto;
    }
  }

  & .blockquote__title {
    color: white;
  }

  &__quoteContainer {
    margin: spacing.$spacing-xl layout.$grid-gutter;
    flex: 1 1 20em;
  }
}