.button {
  // For the moment, these are defined as little mixins over in __vars/mixins so they can be included elsewhere

  @include button;

  // Sizes

  &--xs {
    @include button--xs;
  }

  &--sm {
    @include button--sm;
  }

  &--lg {
    @include button--lg;
  }

  &--xl {
    @include button--xl;
  }

  // Layout

  &--block {
    @include button--block;
    line-height: 1.5;
  }

  &--pointy {
    @include button--pointy;
  }

  &--caps {
    text-transform: uppercase;
  }

  // Colours

  &--dark-blue {
    @include button--dark-blue;
  }

  &--granite {
    @include button--granite;
  }

  &--outline {
    @include button--outline;

    .slab--bg-slate & {
      color: white;
    }
  }

  &--outline-slate {
    @include button--outline-slate;
  }

  &--outline-white {
    @include button--outline-white;
  }

  &[disabled] {
    @include button--disabled;
  }
}