hr {
  position: relative;
  // see base-elements in vars/_typography
}

.hr--primary {
  border-top-width: 2px;
  border-color: $grey-50-pc;
}

.hr--burgundy {
  border-top-width: 2px;
  border-color: $burgundy;
}

.hr--teal {
  border-top-width: 2px;
  border-color: $teal;
}

// Spacing

.hr--compact {
  margin: $spacing-xl auto;
}

.hr--spaced {
  margin: $spacing-5xl auto;
}

.hr--invisible {
  border-color: transparent;
}