<p class="intro">This is a style primarily developed for the LDN skin, as the brand more heavily uses the triangle 'cutout' from the logo as a device.</p>
<p>It can be used on the left or right (or alternating corners) of a horizontal rule. Demo combinations follow:</p>

<h2 class="title  title--bg-magenta-ldn  h3"><span class="title__highlight">Single triangle</span></h2>

<h3 class="h6">above-left</h3>
<hr class="hr--tri-above-left" />

<h3 class="h6">below-left</h3>
<hr class="hr--tri-below-left" />

<h3 class="h6">above-right</h3>
<hr class="hr--tri-above-right" />

<h3 class="h6">below-right</h3>
<hr class="hr--tri-below-right" />

<h2 class="title  title--bg-magenta-ldn  h3"><span class="title__highlight">Dual Triangles</span></h2>

<h3 class="h6">above-left + below-right</h3>
<hr class="hr--tri-above-left  hr--tri-below-right" />

<h3 class="h6">above-right + below-left</h3>
<hr class="hr--tri-above-right  hr--tri-below-left" />