<p class="intro">Spacing modifiers can be applied to increase or decrease visual spacing around the horizontal rule, examples below.</p>
<p class="intro">It's also possible to use the <code>margin-y-[size]</code> <a href="/components/detail/spacing" target="_top">spacing utility</a> for finer control.</p>

<p>{{ lorem }}</p>

<div><strong>Regular spacing:</strong></div>

<hr class="" />

<p>{{ lorem }}</p>

<div><strong>'Spaced'</strong></div>

<hr class="hr--spaced" />

<p>{{ lorem }}</p>

<div><strong>'Compact'</strong></div>

<hr class="hr--compact" />

<p>{{ lorem }}</p>
