<p>Add a class of <code>list--unstyled</code> or <code>list--unbulleted</code> to remove bullets from lists. There's two classes that do the same thing for legacy reasons.</p>

<ul class="list--unstyled  ">
  <li><a href="">Undergraduate</a></li>
  <li><a href="">Postgraduate</a></li>
  <li><a href="">Part-time</a></li>
  <li><a href="">Professional</a></li>
  <li><a href="">Distance learning</a></li>
  <li><a href="">Two-year accelerated degrees</a></li>
  <li><a href="">Partnerships</a></li>
</ul>