<p>A class of <code>list--links</code> removes underlines from a list of links (and slightly adjusts line-height and item margins) for visual reasons</p>

<ul class="list--links">
  <li><a href="">Undergraduate</a></li>
  <li><a href="">Postgraduate</a></li>
  <li><a href="">Part-time</a></li>
  <li><a href="">Professional</a></li>
  <li><a href="">Distance learning</a></li>
  <li><a href="">Two-year accelerated degrees</a></li>
  <li><a href="">Partnerships</a></li>
</ul>

<p>It can be combined with <code>list--unstyled</code> to remove bullets</p>

<ul class="list--unstyled  list--links">
  <li><a href="">Undergraduate</a></li>
  <li><a href="">Postgraduate</a></li>
  <li><a href="">Part-time</a></li>
  <li><a href="">Professional</a></li>
  <li><a href="">Distance learning</a></li>
  <li><a href="">Two-year accelerated degrees</a></li>
  <li><a href="">Partnerships</a></li>
</ul>