
<div class="tabs  js-tabs">
  <nav class="tabs__nav">
    <ul class="tabs__list">
      <li class="tabs__item"><a class="tabs__link" href="#section1">Module Route 1</a></li>
      <li class="tabs__item"><a class="tabs__link" href="#section-two">Route Two</a></li>
      <li class="tabs__item"><a class="tabs__link" href="#third-section">Third Route</a></li>
      <li class="tabs__item"><a class="tabs__link" href="#section4">Fourth and Final Route</a></li>
    </ul>
  </nav>

  <section class="tabs__section" id="section1">
    {% include '@slider--modules' %}
  </section>

  <section class="tabs__section" id="section-two">
    {% include '@slider--modules' %}
  </section>

  <section class="tabs__section" id="third-section">
    {% include '@slider--modules' %}
  </section>

  <section class="tabs__section" id="section4">
    {% include '@slider--modules' %}
  </section>

  <section class="tabs__section" id="section5">
    {% include '@slider--modules' %}
  </section>
</div>