@use "sass:map";
@use "../../assets/styles/__vars/breakpoints";
@use "../../assets/styles/__vars/colours";
@use "../../assets/styles/__vars/spacing";

.side-nav {
    @media (min-width: map.get(breakpoints.$breakpoint-stages, 'tablet')) {
        margin-left: spacing.$spacing-md;
    }

    &__list {
        border-bottom: 2px solid colours.$red;
        border-top: 2px solid colours.$red;
        padding: spacing.$spacing-lg 0;
    }

    &__current {
        font-weight: 500;
    }

    & .title {
        margin-bottom: 0;
        padding-bottom: 0;
        line-height: spacing.$spacing-lg;
    }

    .title__highlight {
        color: white;
        & > a {
            color: white;
        }
    }

    & h2 {
        margin-bottom: spacing.$spacing-xs;
    }
}