@use "../../assets/styles/__vars/colours";
@use "../../assets/styles/__vars/spacing";
@use "../../assets/styles/__vars/typography";

.list--unbulleted,
.list--unstyled {
  list-style: none;
  padding-left: 0;
}

.list--spaced {
  > li {
    margin-bottom: spacing.$spacing-lg;
  }
}

.list--inline {
  padding: 0;

  li {
    display: inline;
    margin-right: spacing.$spacing-xs;
  }
}

.list--links {
  @include typography.line-height('normal');

  li {
    margin-bottom: spacing.$spacing-sm;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.list--icon-bullets {
  list-style: none;
  padding: 0;

  li {
    padding-left: 1.5em;
  }

  .icon {
    float: left;
    top: 0.5em;
    margin-left: -1.5em;
  }

  a {
    display: inline-table; // prevents icon/text wrapping line
  }

  &.list--inline {
    li {
      margin-right: 1em;
    }
  }

  &.list--links {
    .icon {
      top: 0.2em;
    }
  }
}

.list--icon-bullets {

}

.list--inline-bulleted {
  padding: 0;

  li {
    display: inline;
    margin-right: spacing.$spacing-xs;

    &:before {
      content: '•';
      margin-right: spacing.$spacing-xs;
      font-weight: bold;
      color: colours.$primary;
    }

    &:first-child {
      &:before {
        display: none;
      }
    }
  }
}

.list--inline-floated {
  padding-left: 0;

  li {
    float: left;
    margin-left: 1.5rem;
  }

}

.list--steps {
  $number-accent-colors: (
    'red': colours.$red,
    'pink': colours.$pink,
    'maroon': colours.$maroon,
    'slate': colours.$slate,
    'blue-ldn': colours.$blue--deep-ldn,
  );

  list-style: none;
  padding-inline-start: spacing.$spacing-3xl;
  counter-reset: list--steps;
  margin-bottom: spacing.$spacing-4xl;

  > li {
    position: relative;
    border-left: typography.$border-accent-width solid colours.$neutral--primary;
    border-color: var(--accent-color, #{colours.$neutral--primary});
    padding-left: spacing.$spacing-lg;
    margin-bottom: spacing.$spacing-2xl;

    &::before {
      content: counter(list--steps);
      counter-increment: list--steps;
      display: block;
      float: left;
      clear: left;
      margin-left: -#{spacing.$spacing-3xl + spacing.$spacing-lg + typography.$border-accent-width*0.5};
      width: spacing.$spacing-3xl;
      padding: spacing.$spacing-2xs 0;
      background: var(--accent-color, #{colours.$neutral--primary});
      color: white;
      @include typography.typescale('3xl');
      font-weight: 500;
      line-height: 1.4; // matches .title
      text-align: center;
    }

  }

  &__box {
    background: colours.$greyblue--superlight;
    padding: calc(#{spacing.$spacing-sm} + 2.5%);
    margin-left: -(spacing.$spacing-lg);
  }

  &__title {
  }

  &__cta {
    .button:only-child {
      margin-bottom: 0;
    }
  }

  //--  ACCENT THEMES
  @each $name, $value in $number-accent-colors {
    &-accent-#{$name} {
      --accent-color: #{$value};
    }
  }


  //--

  &.accordion {
    // component fusion, like Jazz fusion; not sure if this is a wonderful or terrible idea (probably terrible)

    border-bottom: 0;

    > li {
      border-color: colours.$primary;
      border-color: var(--accent-color, #{colours.$primary});

      &::before {
        background-color: colours.$primary;
        background-color: var(--accent-color, #{colours.$primary});
      }
    }

    .accordion__title {
      background: colours.$greyblue--superlight;
    }

    .accordion__title,
    .accordion__content {
      padding-left: calc(#{spacing.$spacing-sm} + 2.5%);
    }

    .accordion__item {
      border-top: none;
      margin-left: -(spacing.$spacing-lg);
    }

    .accordion__toggle {
      padding-left: 0;

      &:before {
        float: right;
        margin: 0 0 0 spacing.$spacing-md;
      }
    }
  }

}
