@use "../../assets/styles/__vars/spacing";

.sitewide-message {
    background-color: #FFD91C;
    padding: spacing.$spacing-xs spacing.$spacing-sm;

    &__text {
        margin: 0;
        line-height: 1.5;
    }
}