<p>This is intended to be displayed before the Mega Nav component, if the message needs to be displayed.</p>

<aside id="sitewide-message" class="sitewide-message" aria-labelledby="sitewide-message__title">
    <p class="sitewide-message__text  text-center">
        <strong id="sitewide-message__title">Coronavirus (COVID-19)</strong> - updates from the University can be found on our <a class="sitewide-banner__link" href="/coronavirus">coronavirus pages.</a>
    </p>
</aside>