@use "../../assets/styles/__vars/colours";
@use "../../assets/styles/__vars/spacing";

.booking-link {
    --accent-color: #{colours.$teal};
    margin-bottom: spacing.$spacing-xl;
    color: colours.$neutral--primary;
    text-decoration: none;
    padding: spacing.$spacing-md calc(#{spacing.$spacing-sm} + 2.5%) 0;
    background: colours.$grey-50-pc;
  
    &__title {
      display: table;
      position: relative;
      margin-bottom: spacing.$spacing-md;
      padding-right: 1em;
      word-break: break-word;
    }
  
    &__content {
      padding: spacing.$spacing-xs 0;
  
      > :first-child {
        margin-top: 0;
      }
  
      > :last-child {
        margin-bottom: 0;
      }
    }
  
    p {
      color: colours.$neutral--primary;
    }
  }