.title {
  // $title-bg-colors: see __vars/colours

  position: relative;
  --background: #{$dark-blue};
  --color: white;
  max-width: 42em; // @TODO: why? what does this relate to? make a variable
  margin-bottom: $spacing-lg;
  margin-right: $spacing-md;

  + .title {
    margin-top: -$spacing-md;
  }

  &--course-location {
    margin-top: $spacing-xs;
  }
}

.slab, .mini-template-grid {
  .title {
    margin-top: 0;
  }
}

.tile {
  .title__highlight {
    position: relative;
    display: inline;
    left: $spacing-xs;
    padding: 0.25rem;
    line-height: 1.4;
    background: $dark-blue;
    background: var(--background, #{$dark-blue});
    color: white;
    color: var(--color);
    box-shadow: -$spacing-xs 0 0 0 #{$dark-blue}, $spacing-xs 0 0 0 #{$dark-blue};
    box-shadow: -$spacing-xs 0 0 0 var(--background, #{$dark-blue}), $spacing-xs 0 0 0 var(--background, #{$dark-blue});
    box-decoration-break: clone;

    a {
      color: white;
      color: var(--color);
    }
  }
}

.side-nav {
  .title__highlight {
    --background: #{$red};
    --color: white;
    position: relative;
    display: inline;
    left: $spacing-xs;
    padding: 0.25rem;
    line-height: 1.4;
    background: $red;
    background: var(--background, #{$red});
    color: white;
    color: var(--color);
    box-shadow: -$spacing-xs 0 0 0 #{$red}, $spacing-xs 0 0 0 #{$red};
    box-shadow: -$spacing-xs 0 0 0 var(--background, #{$red}), $spacing-xs 0 0 0 var(--background, #{$red});
    box-decoration-break: clone;

    a {
      color: white;
      color: var(--color);
    }
  }
}


@each $name, $value in $title-bg-colors {
  .title--bg-#{$name} {
    --background: #{$value};
    @if (choose-contrast-color($value) == black) {
      --color: black;
    }
  }
}