<div class="box  box--bg-slate">
  <div class="box__content">
    {% include '@title' with {
      text: 'This is an H1',
      textElement: 'h1'
    } %}

    {% include '@title' with {
      text: 'This is an H2 styled as an H3',
      textElement: 'h2',
      textElementStyle: 'h3'
    } %}

    {% include '@title' with {
      text: 'This is a paragraph on white',
      modifiers: ['bg-white'],
      textElement: 'p'
    } %}

    {% include '@title' with {
      text: 'This is an H2 on dark blue',
      modifiers: ['bg-dark-blue'],
      textElement: 'h2'
    } %}

    {% include '@title' with {
      text: 'This is an H4 on digital blue',
      modifiers: ['bg-digital-blue'],
      textElement: 'h4'
    } %}

    {% include '@title' with {
      text: 'This is a paragraph on neon',
      modifiers: ['bg-neon'],
      textElement: 'p'
    } %}
  </div>
</div>