<div class="box">
  <div class="box__content">
    {% include '@title' with {
      text: 'This is an H1',
      textElement: 'h1'
    } %}

    {% include '@title' with {
      text: 'This is an H2 styled as an H3',
      textElement: 'h2',
      textElementStyle: 'h3'
    } %}

    {% include '@title' with {
      text: 'This is a paragraph on white',
      background: white,
      textElement: 'p'
    } %}

    {% include '@title' with {
      text: 'This is an H2 on dark blue',
      background: 'dark-blue',
      textElement: 'h2'
    } %}

    {% include '@title' with {
      text: 'This is an H4 on digital blue',
      background: 'digital-blue',
      textElement: 'h4'
    } %}

    {% include '@title' with {
      text: 'This is a paragraph on neon',
      background: 'neon',
      textElement: 'p'
    } %}
  </div>
</div>