.banner {
  position: relative;
  display: flex;
  margin-bottom: $spacing-xl;
  color: #fff;
  border-radius: $spacing-xs;
  padding: #{$spacing-xl} calc(#{$spacing-sm} + 2.5%) #{$spacing-md};

  @each $name, $value in $banner-bg-colors {
    &--bg-#{$name} {
      background: #{$value};

      @if (choose-contrast-color($value) == white) {
        color: white;
        & h2 {
          color: white;
        }
      }
    }
  }

  &__title {
    font-weight: 700;
  }

  &--bg-dark-blue &__title {
    color: $neon;
  }

  &--bg-dark-blue &__theme svg, &--bg-neon &__theme svg {
    fill: $neon;
  }

  &__bg {
    max-width: 50%;
    overflow-x: hidden;
    margin-right: $spacing-lg;

    & img {
      display: block;
      width: auto;
      height: 100%;
      max-height: 100%;
    }
  }

  &__theme {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 30%;
    height: 70%;
    overflow: hidden;
    z-index: 0;

    svg {
      height: 100%;
      width: 100%;
      object-position: right bottom;
      object-fit: contain;
      fill: white;
    }  
  }

  &__body {
    position: relative;
    align-self: flex-end;
    box-sizing: border-box;
    width: 70%;
    z-index: 1;
  }

  .wrap {
    .banner__body {
      padding-left: 0;
      padding-right: 0;
    }
  }
}