<nav class="page-nav  js-page-nav" id="js-page-nav">
  <div class="page-nav__stickyContainer">
    <div class="wrap">
      <div class="page-nav__inner">
        <ul class="page-nav__list">
          <li class="page-nav__item"><a class="page-nav__link  is-active" href="#overview">Overview</a></li>
          <li class="page-nav__item"><a class="page-nav__link" href="#courses">Courses</a></li>
          <li class="page-nav__item"><a class="page-nav__link" href="#facilities">Facilities</a></li>
          <li class="page-nav__item"><a class="page-nav__link" href="#work-experience-and-careers">Work experience and careers</a></li>
          <li class="page-nav__item"><a class="page-nav__link" href="#our-students">Our students</a></li>
          <li class="page-nav__item"><a class="page-nav__link" href="#our-staff">Our staff</a></li>
          <li class="page-nav__item"><a class="page-nav__link" href="#our-graduates">Our Graduates</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>