<h2 class="h4">16:9</h2>

<div class="ratio  ratio--16x9">
    <iframe src="https://www.youtube.com/embed/0ctsZ8w2sQI" allowfullscreen></iframe>
</div>

<h2 class="h4">9:16</h2>

<div class="grid  grid-2-cols">
    <div>
        <div class="ratio  ratio--9x16">
            <iframe src="https://www.youtube.com/embed/2OerQMDA-YU" allowfullscreen></iframe>
        </div>
    </div>
</div>

<h2 class="h4">4:3</h2>

<div class="ratio  ratio--4x3">
    <iframe src="https://www.youtube.com/embed/HWc8-HS1njE" allowfullscreen></iframe>
</div>