

<div class="wrap">
    <div class="accolade-container">
        <article class="accolade" aria-label="8th for student satisfaction">
    <div class="accolade__content">
        <div class="title  title--bg-yellow-light">
            <h3 class="h4  title__highlight">8th for student satisfaction</h3>
        </div>
        <p class="accolade__source">Complete University Guide 2024</p>
    </div>
    
        <figure class="accolade__figure  align-center">
            <img src="../../images/icons/icon-brain.png" alt="" />
        </figure>
    
</article>

        <article class="accolade" aria-label="TIGA Games Industry Award Winners">
    <div class="accolade__content">
        <div class="title  title--bg-pale-blue">
            <h3 class="h4  title__highlight">TIGA Games Industry Award Winners</h3>
        </div>
        <p class="accolade__source">TIGA Games Industry 2024</p>
    </div>
    
        <figure class="accolade__figure  align-center">
            <img src="../../images/icons/icon-tiga-awards.png" alt="" />
        </figure>
    
</article>

        <article class="accolade" aria-label="Top 10 for Mental Health Nursing">
    <div class="accolade__content">
        <div class="title  title--bg-peach">
            <h3 class="h4  title__highlight">Top 10 for Mental Health Nursing</h3>
        </div>
        <p class="accolade__source">Guardian University Guide 2024</p>
    </div>
    
        <figure class="accolade__figure  align-center">
            <img src="../../images/icons/icon-trophy.png" alt="" />
        </figure>
    
</article>
    </div>
</div>
