

<ol class="accordion  list--steps  list--steps-accent-pink">
  <li>
    
<details class="accordion__item" open>
  <summary class="accordion__title">
    <h2 class="accordion__toggle">Take Action</h2>
  </summary>

  <div class="accordion__content">
    
      <div class="list--steps__content">
        <p>If you are at home, in University-managed residences, or in shared private accommodation when you experience COVID-19 symptoms, stay there and do not come onto campus. If you are on campus, make sure you maintain two-metre social distancing, wear your face covering, apply hand gel and
          head home immediately.</p>
      </div>
      <div class="list--steps__cta">
        <a href="" class="button">Check your symptoms</a>
      </div>
  </div>
</details>
  </li>
  <li>
    
<details class="accordion__item">
  <summary class="accordion__title">
    <h2 class="accordion__toggle">Start Isolating</h2>
  </summary>

  <div class="accordion__content">
    <div class=""><p>If you have symptoms, you must immediately self-isolate. Email your tutor to let them know that you will not be able to attend your face-to-face classes. You can visit the NHS website for more information in how to self-isolate.</p></div><a href="" class="button">Find out more <span class="visually-hidden">about isolating</span></a>
  </div>
</details>
  </li>
  <li>
    
<details class="accordion__item">
  <summary class="accordion__title">
    <h2 class="accordion__toggle">Book a Test</h2>
  </summary>

  <div class="accordion__content">
    <p>Some content inside</p><p>Some content</p><a href="" class="button">Call to action</a>
  </div>
</details>
  </li>
  <li>
    
<details class="accordion__item">
  <summary class="accordion__title">
    <h2 class="accordion__toggle">Following a positive result</h2>
  </summary>

  <div class="accordion__content">
    <p>Some content inside</p><p>Some content</p><a href="" class="button">Call to action</a>
  </div>
</details>
  </li>
  <li>
    
<details class="accordion__item">
  <summary class="accordion__title">
    <h2 class="accordion__toggle">Alert the University</h2>
  </summary>

  <div class="accordion__content">
    <p>Some content inside</p><p>Some content</p><a href="" class="button">Call to action</a>
  </div>
</details>
  </li>
</ol>
