

<div class="banner  banner--with-image  banner--bg-digital-blue">
    <div class="banner__bg" style="background-image: url(https://picsum.photos/1200/400?random=1);">
    </div>

    <div class="banner__body">
        <div class="hgroup">
            <div class="title  title--bg-white  text-center">
                <h2 class="h4  title__highlight">Undergraduate Open Day</h3>
            </div>
            <div class="title  text-center">
                <div class="h5">Saturday 28 June 2024 - Stoke-on-trent campus</div>
            </div>
            <div class="title">
                <p>Open days give you the best experience and insight to courses, people and facilities that interest you. Make your choice easier and come meet us.</p>
            </div>
        </div>

        <div class="banner__cta  text-center">
            <a href="" class="button">Book an open day - a long button title</a>
        </div>
    </div>
</div>

<div class="banner  banner--with-image  banner--bg-burgundy">
    <div class="banner__bg" style="background-image: url(https://picsum.photos/1200/400?random=2);">
    </div>

    <div class="banner__body">
        <div class="hgroup">
            <div class="title  title--bg-white  text-center">
                <h2 class="h4  title__highlight">Undergraduate Open Day</h3>
            </div>
            <div class="title  text-center">
                <div class="h5">Saturday 28 June 2024 - Stoke-on-trent campus</div>
            </div>
            <div class="title">
                <p>Open days give you the best experience and insight to courses, people and facilities that interest you. Make your choice easier and come meet us.</p>
            </div>
        </div>

        <div class="banner__cta  text-center">
            <a href="" class="button">Book an open day - a long button title</a>
        </div>
    </div>
</div>

<div class="banner  banner--with-image  banner--bg-teal">
    <div class="banner__bg" style="background-image: url(https://picsum.photos/1200/400?random=3);">
    </div>

    <div class="banner__body">
        <div class="hgroup">
            <div class="title  text-center">
                <h2 class="h4  title--bg-white  title__highlight">Undergraduate Open Day</h3>
            </div>
            <div class="title  text-center">
                <div class="h5">Saturday 28 June 2024 - Stoke-on-trent campus</div>
            </div>
            <div class="title">
                <p>Open days give you the best experience and insight to courses, people and facilities that interest you. Make your choice easier and come meet us.</p>
            </div>
        </div>

        <div class="banner__cta  text-center">
            <a href="" class="button">Book an open day - a long button title</a>
        </div>
    </div>
</div>

