

<div class="banner  align-full">
  <div class="banner__bg">
    <img src="https://picsum.photos/1200/400?random=1"/>
  </div>

  <div class="wrap">
    <div class="banner__body">
      <div class="hgroup">
        <div class="title">
          <div class="h2  title__highlight">Undergraduate Open Day</div>
        </div>
        <div class="title  title--bg-slate">
          <div class="h4  title__highlight">Saturday 28 March 2024 - Stoke-on-trent campus</div>
        </div>
        <div class="title  title--bg-white"><p class="title__highlight">Open days give you the best experience and insight to courses, people and facilities that interest you. Make your choice easier and come meet us.</p></div>
      </div>

      <div class="banner__cta">
        <a href="" class="button  button--caps">Book an open day - a long button title</a>
      </div>
    </div>
  </div>
</div>
