

<div class="grid  grid--spaced  grid-2-cols">
  <div>

    <article class="box  box--bg-offwhite">
      <div class="box__content">
      <div class="box__title  title">
        <h3>Stoke-on-Trent campus</h3>
      </div>
      <ul class="list--unstyled">
      <li>
        <strong>
          Saturday 9 March 2024
        </strong>
        <ul class="list--inline-bulleted">
          <li>Undergraduate</li>
          <li>Postgraduate</li>
        </ul>
      </li>
      <li>
        <strong>
          Saturday 8 June 2024
        </strong>
        <ul class="list--inline-bulleted">
          <li>Undergraduate</li>
          <li>Postgraduate</li>
          </ul>
        </li>
      </ul>
      </div>
      <footer class="box__footer">
        <a href="#" class="button  button--block  button--sm  caps  align-center">
          Book for undergraduate
        </a>
        <a href="#" class="button  button--block  button--sm  caps  button--dark-blue  align-center">
          Book for postgraduate
        </a>
      </footer>
    </article>

  </div>
  <div>
  
    <article class="box  box--bg-offwhite">
      <div class="box__content">
        <div class="box__title  title">
            <h3>University of Staffordshire London</h3>
        </div>
        <ul class="list--unstyled">
          <li>
            <strong>
                Wednesday 20 March 2024
            </strong>
            <ul class="list--inline-bulleted">
              <li>Undergraduate</li>
            </ul>
          </li>
          <li>
            <strong>
                Saturday 22 June 2024
            </strong>
            <ul class="list--inline-bulleted">
              <li>Undergraduate</li>
            </ul>
          </li>
        </ul>
      </div>
      <footer class="box__footer">
        <a href="#" class="button  button--block  button--sm  caps  align-center">
          Book for undergraduate
        </a>
    </footer>
  </article>

  </div>
</div>

