





  


<div class="box  box--bg-dark-blue">
  <div class="box__content">
    <div class="box__title  title">
      <h2 class="h4  title__highlight">This is a Dark Blue box</h2>
    </div>
    <p>Lipsum has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  </div>
  <footer class="box__footer">
    <a href="" class="button  align-center">Book Now</a>
  </footer>
</div>


