


<div class="grid  grid-4-cols">
    
    <div>
        <article class="callout  callout--bg-neon">
            <h2 class="callout__title">BBC</h2>
            <p class="callout__content">112 UCAS points</p>
        </article>
    </div>
    
    <div>
        <article class="callout  callout--bg-dark-blue">
            <h2 class="callout__title">BBC</h2>
            <p class="callout__content">112 UCAS points</p>
        </article>
    </div>
    
    <div>
        <article class="callout  callout--bg-burgundy">
            <h2 class="callout__title">BBC</h2>
            <p class="callout__content">112 UCAS points</p>
        </article>
    </div>
    
    <div>
        <article class="callout  callout--bg-digital-blue">
            <h2 class="callout__title">BBC</h2>
            <p class="callout__content">112 UCAS points</p>
        </article>
    </div>
    
    <div>
        <article class="callout  callout--bg-teal">
            <h2 class="callout__title">BBC</h2>
            <p class="callout__content">112 UCAS points</p>
        </article>
    </div>
    
</div>
