

<article class="card  card--flex  card--profile  card--grey-with-burgundy">
  <figure class="card__figure">
    <img src="../../images/mark-brown.jpg" alt="">
  </figure>

  <div class="card__content">
    <div class="title">
      <h3 class="h5">Mr Inconveniently-Longname Forwordbreaking&shy;testingpurposes</h3>
    </div>
    <p class="strong">Course Leader</p>
    <p>This card has two links, the title, and the button. Mr Forwordbreakingtestingpurposes has a <code>&amp;shy;</code> 'soft hyphen' character, so his name breaks in a desirable place when space is limited.</p>
    <p>I joined the team here at Staffordshire University in May 2013 as a Lecturer in Biomedical Science. I'm a member of the British Society for Immunology and the Association for Clinical Biochemistry.</p>

    <a class="button  button--outline" href="">Full Profile</a>
  </div>
</article>

<hr/>

<article class="card  card--flex  card--profile  card--grey-with-teal">
  <figure class="card__figure">
    <img src="../../images/mark-brown.jpg" alt="">
  </figure>

  <div class="card__content">
    <div class="title">
      <h3 class="h5">Mr Inconveniently-Longname Forwordbreaking&shy;testingpurposes</h3>
    </div>
    <p class="strong">Course Leader</p>
    <p>This card has two links, the title, and the button. Mr Forwordbreakingtestingpurposes has a <code>&amp;shy;</code> 'soft hyphen' character, so his name breaks in a desirable place when space is limited.</p>
    <p>I joined the team here at Staffordshire University in May 2013 as a Lecturer in Biomedical Science. I'm a member of the British Society for Immunology and the Association for Clinical Biochemistry.</p>

    <a class="button  button--outline" href="">Full Profile</a>
  </div>
</article>

<hr/>

<div class="grid  grid-2-cols@tablet-wide">
  <div>
    <article class="card  card--flex  card--profile  card--teal-with-neon">
      <figure class="card__figure">
        <img src="../../images/mark-brown.jpg" alt="">
      </figure>

      <div class="card__content">

        <div class="title">
          <h3 class="h5">Dr. Stephen Stephanopoulos-Stevenson, PhD</h3>
        </div>
        <p class="strong">Course Leader</p>
        <p>I joined the team here at Staffordshire University in May 2013 as a Lecturer in Biomedical Science. I'm a member of the British Society for Immunology and the Association for Clinical Biochemistry.</p>

        <a class="button  button--sm  button--outline  align-center" href="">Full Profile</a>
      </div>
    </article>
  </div>

  <div>
    <article class="card  card--flex  card--profile  card--grey-with-teal">
        <figure class="card__figure">
          <img src="../../images/mark-brown.jpg" alt="">
        </figure>

      <div class="card__content">
        <a href="" class="link--stretched">
          <div class="title">
            <h3 class="h5">Cherry Chevapravatdumrong</h3>
          </div>
        </a>
        <p class="strong">Course Leader</p>
        <p>This seems like a nice enough workaround for not being able to put a <code>link--stretched</code> inside a <code>title__highlight</code> - put it outside.</p>
        <p>Means we have to go without a working hover effect on a button, though...</p>
      </div>
    </article>
  </div>
</div>

<hr />

<article class="card  card--flex  card--profile  card--burgundy-with-neon">
  <figure class="card__figure">
    <img src="../../images/mark-brown.jpg" alt="">
  </figure>

  <div class="card__content">
    <div class="title">
      <h3 class="h5">Mr Inconveniently-Longname Forwordbreaking&shy;testingpurposes</h3>
    </div>
    <p class="strong">Course Leader</p>
    <p>This card has two links, the title, and the button. Mr Forwordbreakingtestingpurposes has a <code>&amp;shy;</code> 'soft hyphen' character, so his name breaks in a desirable place when space is limited.</p>
    <p>I joined the team here at Staffordshire University in May 2013 as a Lecturer in Biomedical Science. I'm a member of the British Society for Immunology and the Association for Clinical Biochemistry.</p>

    <a class="button  button--outline" href="">Full Profile</a>
  </div>
</article>
