

<div class="grid  grid-4-cols@tablet-wide">
  <div>

    <div class="card  card--flex  card--maroon">
      <figure class="card__figure">
        <img src="https://picsum.photos/480/240?random=1" alt=""/>
      </figure>

      <div class="card__content">
        <h3 class="card__title  h5">
          <a href="#" class="link--stretched">Graduates give Staffs Uni star role in popular app</a>
        </h3>
        <p>
          <time class="strong">23 October 2024</time>
        </p>
        <p>The founders of an immersive storytelling app have returned to their university stomping ground to film their latest episode.</p>
      </div>
    </div>

  </div>
  <div>

    <div class="card  card--flex  card--red">
      <figure class="card__figure">
        <img src="https://picsum.photos/480/240?random=2" alt=""/>
      </figure>

      <div class="card__content">
        <h3 class="card__title  h5">
          <a href="#" class="link--stretched">Enjoying the View? How computer games can help evaluate landscapes</a>
        </h3>
        <p>
          <time class="strong">20 October 2024</time>
        </p>
        <p>University of Staffordshire is going global with a programme packed full of free events to start the new decade.</p>
      </div>
    </div>

  </div>
  <div>

    <div class="card  card--flex  card--slate">
      <figure class="card__figure">
        <img src="https://picsum.photos/480/240?random=2" alt=""/>
      </figure>

      <div class="card__content">
        <h3 class="card__title  h5">
          <a href="#" class="link--stretched">“It's Beautiful to be Old” Professor tells Vatican</a>
        </h3>
        <p>
          <time class="strong">19 October 2024</time>
        </p>
        <p>2020 marks the International Year of the Nurse and Midwife, and University of Staffordshire is joining colleagues across the globe to shine a spotlight on the sector. Celebrations kick off with a talk this week by Visiting Professor Ann-Marie Cannaby, Chief Nurse at the Royal Wolverhampton Hospital, at the University’s Centre of Excellence in Healthcare Education, Stafford.Two hundred years may have passed since the birth of Florence Nightingale, but patient care and safety remain the most important influencing factors within the fields of nursing and midwifery. Professor Cannaby will use her keynote presentation to explore curriculum developments.</p>
      </div>
    </div>

  </div>
  <div>

    <div class="card  card--flex  card--maroon">
      <figure class="card__figure">
        <img src="https://picsum.photos/480/240?random=3" alt=""/>
      </figure>

      <div class="card__content">
        <h3 class="card__title  h5">
          <a href="#" class="link--stretched">Research into poverty in Stoke-on-Trent gets new funding boost</a>
        </h3>
        <p>
          <time class="strong">17 October 2024</time>
        </p>
        <p></p>
      </div>
    </div>

  </div>

</div>
