

<div class="grid  grid-2-cols">
  <div>

    <article class="card  card--flex  card--primary  card--virtual-tour" style="background: url(https://www.staffs.ac.uk/image-library/virtual-tours/leek-road-halls-standard-bedroom-2-content-entry.x984162b1.jpg);">
      <img src="https://www.staffs.ac.uk/image-library/virtual-tours/leek-road-halls-standard-bedroom-2-content-entry.x984162b1.jpg" alt="" class="visible-mobile-down">
      <div class="card__content">
        <div class="title">
          <h3 class="card__title  title__highlight  h5">Premier bedroom</h3>
        </div>
        <p>Not many of these rooms available on campus, so you've got to be up early to secure yourself the top room!</p>
        <div class="text-right"><a class="button" href="#">View virtual tour</a></div>
      </div>
      
    </article>

  </div>
  <div>

    <article class="card  card--flex  card--primary  card--virtual-tour" style="background: url(https://www.staffs.ac.uk/image-library/virtual-tours/leek-road-halls-standard-bedroom-2-content-entry.x984162b1.jpg);">
      <img src="https://www.staffs.ac.uk/image-library/virtual-tours/leek-road-halls-standard-bedroom-2-content-entry.x984162b1.jpg" alt="" class="visible-mobile-down">
      <div class="card__content">
        <div class="title">
          <h3 class="card__title  title__highlight  h5">Broadcast newsroom</h3>
        </div>
        <p>The hub of media output and reporting at our Stoke-on-Trent campus. It comes equipped with 76 iMacs, complete with specialist editing and broadcasting software and the full Adobe Creative Suite.</p>
        <div class="text-right"><a class="button  button--slate" href="#">View virtual tour</a></div>
      </div>
    </article>
  </div>
</div>
