

<div class="title  title--bg-blue-ldn">
  <h1 class="h2 title__highlight">LDN Blue Themed Examples</h1>
</div>

<p>These will be themed for the LDN site, but could theoretically be used in the main theme, this is just testing variations to make sure all accents are accented.</p>

<div class="card  card--flex  card--blue-ldn">
  <figure class="card__figure">
    <img src="https://picsum.photos/720/360?random=1" alt=""/>
  </figure>

  <div class="card__content">
    <h3 class="h4  card__title"><a href="" class="link--stretched">Enjoying the View? How computer games can help evaluate landscapes</a></h3>
    <p>The founders of an immersive storytelling app have returned to their university stomping ground to film their latest episode.</p>
  </div>
</div>

<div class="card  card--flex  card--blue-ldn" href="">
  <div class="card__content">
    <h3 class="h4  card__title">
      <a href="#" class="link--stretched">Card Title (with <code>link--stretched</code>)</a>
    </h3>
    <p>Example without a figure image</p>

    <dl class="meta--inline">
      <div class="meta__item">
        <dt>Study Options</dt>
        <dd>Full time</dd>
        <dd>Part time</dd>
        <dd>Foundation Year</dd>
        <dd>Placement Year</dd>
        <dd>Integrated Masters (MSci)</dd>
      </div>
      <div class="meta__item">
        <dt>UCAS Code:</dt>
        <dd>l614</dd>
        <dd>l615</dd>
      </div>
    </dl>
    <p>The founders of an immersive storytelling app have returned to their university stomping ground to film their latest episode.</p>
  </div>
</div>



<div class="card  card--flex-overlap  card--blue-ldn">
  <figure class="card__figure">
    <img src="https://picsum.photos/720/360?random=2" alt=""/>
  </figure>

  <div class="card__content">
    <a href="" class="link--stretched">
      <div class="title">
        <h3 class="h4  title__highlight">Enjoying the View? How computer games can help evaluate landscapes</h3>
      </div>
    </a>
    <p>The founders of an immersive storytelling app have returned to their university stomping ground to film their latest episode.</p>
  </div>
</div>
