

<div class="card  card--pullquote">
  <div class="card__content">
    <blockquote>
      <span class="blockquote__highlight">I’m delighted for Staffordshire University to be shortlisted for Best Educational Institution and all the staff are incredibly proud that our students have been recognised for their game Pair Up. It is a well-deserved honour.</span>

      <footer class="blockquote__footer">
        <p class="cite">Christie Scanion, Graduate</p>
        <p>BA(Hons) Sports Development and Coaching (Former title of our Sports Coaching degree)</p>
      </footer>
    </blockquote>
  </div>
</div>

<div class="card  card--pullquote  card--pink">
  <div class="card__content">
    <blockquote>
      <span class="blockquote__highlight">I’m delighted for Staffordshire University to be shortlisted for Best Educational Institution and all the staff are incredibly proud that our students have been recognised for their game Pair Up. It is a well-deserved honour.</span>

      <footer class="blockquote__footer">
        <p class="cite">Christie Scanion, Graduate</p>
        <p>BA(Hons) Sports Development and Coaching (Former title of our Sports Coaching degree)</p>
      </footer>
    </blockquote>
  </div>
</div>

<div class="card  card--pullquote  card--maroon">
  <div class="card__content">
    <blockquote>
      <span class="blockquote__highlight">I’m delighted for Staffordshire University to be shortlisted for Best Educational Institution and all the staff are incredibly proud that our students have been recognised for their game Pair Up. It is a well-deserved honour.</span>

      <footer class="blockquote__footer">
        <p class="cite">Christie Scanion, Graduate</p>
        <p>BA(Hons) Sports Development and Coaching (Former title of our Sports Coaching degree)</p>
      </footer>
    </blockquote>
  </div>
</div>

<div class="card  card--pullquote  card--slate">
  <div class="card__content">
    <blockquote>
      <span class="blockquote__highlight">I’m delighted for Staffordshire University to be shortlisted for Best Educational Institution and all the staff are incredibly proud that our students have been recognised for their game Pair Up. It is a well-deserved honour.</span>

      <footer class="blockquote__footer">
        <p class="cite">Christie Scanion, Graduate</p>
        <p>BA(Hons) Sports Development and Coaching (Former title of our Sports Coaching degree)</p>
      </footer>
    </blockquote>
  </div>
</div>

<hr/>

<div class="grid  grid--spaced  grid-2-cols@mobile-wide">
  <div>
    <div class="card  card--pullquote">
      <div class="card__content">
        <blockquote class="">
          <span class="blockquote__highlight">The quote icon uses an svg, so you can use these four card accent colours, but more will need to be added in the cards.scss partial</span>

          <footer class="blockquote__footer">
            <p class="cite">Dan Sheerman</p>
            <p>Head of Blockquotes</p>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
  <div>
    <div class="card  card--pullquote  card--pink">
      <div class="card__content">
        <blockquote class="blockquote--short">
          <span class="blockquote__highlight">They can use the normal short/big long/small classes for sizing</span>

          <footer class="blockquote__footer">
            <p class="cite">Dan Sheerman</p>
            <p>VP of Sizing Modifiers</p>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
  <div>
    <div class="card  card--pullquote  card--maroon">
      <div class="card__content">
        <blockquote>
          <span class="blockquote__highlight">The quote accent is intrinsically sized, so you can put them in any size column, just adjust the class for text size if needbe.</span>

          <footer class="blockquote__footer">
            <p class="cite">Dan Sheerman</p>
            <p>VP of Sizing Modifiers</p>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
  <div>
    <div class="card  card--pullquote  card--slate">
      <div class="card__content">
        <blockquote class="blockquote--long">
          <span class="blockquote__highlight">I’m delighted for Staffordshire University to be shortlisted for Best Educational Institution and all the staff are incredibly proud that our students have been recognised for their game Pair Up. It is a well-deserved honour.</span>

          <footer class="blockquote__footer">
            <p class="cite">Christie Scanion, Graduate</p>
            <p>BA(Hons) Sports Development and Coaching (Former title of our Sports Coaching degree)</p>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</div>
