

<div class="grid  grid-3-cols">
  <div>
    <div class="card  card--ksp  card--red">
      <div class="card__content">
        <div class="card--ksp__icon-container">
          <i class="icon  h3  card--ksp__icon">
            <img src="../../img/icon-house-white.svg" alt="" />
          </i>
        </div>
        <h2 class="h4  card__title">Low cost of living</h2>
        <p>Studying on a budget? Stoke-on-Trent is one of the most affordable places to live in the UK, with our on-campus student accommodation starting at just &pound;112 per week.</p>
      </div>
    </div>
  </div>

  <div>
    <div class="card  card--ksp  card--burgundy">
      <div class="card__content">
        <div class="card--ksp__icon-container">
          <i class="icon  h3  card--ksp__icon">
            <img src="../../img/icon-globe-white.svg" alt="" />
          </i>
        </div>
        <h2 class="h4  card__title">Globally connected</h2>
        <p>Your journey with us may start in Staffordshire, but it can take you anywhere in the world. Our global connections unlock a world of possibility for each every student.</p>
      </div>
    </div>
  </div>

  <div>
    <div class="card  card--ksp  card--teal">
      <div class="card__content">
        <div class="card--ksp__icon-container">
          <i class="icon  h3  card--ksp__icon">
            <img src="../../img/icon-job-search-white.svg" alt="" />
          </i>
        </div>
        <h2 class="h4  card__title">Industry experience</h2>
        <p>Our unique connections to industry means you'll get the opportunity to experience the world of work before you graduate, setting you apart in the job market and placing you on the path to success.</p>
      </div>
    </div>
  </div>
</div>

<div class="margin-top-4xl">
  <div class="grid  grid-3-cols">
    <div>
      <div class="card  card--ksp  card--digital-blue">
        <div class="card__content">
          <div class="card--ksp__icon-container">
            <i class="icon  h3  card--ksp__icon">
              <img src="../../img/icon-house-white.svg" alt="" />
            </i>
          </div>
          <h2 class="h4  card__title">Low cost of living</h2>
          <p>Studying on a budget? Stoke-on-Trent is one of the most affordable places to live in the UK, with our on-campus student accommodation starting at just &pound;112 per week.</p>
        </div>
      </div>
    </div>

    <div>
      <div class="card  card--ksp  card--digital-blue">
        <div class="card__content">
          <div class="card--ksp__icon-container">
            <i class="icon  h3  card--ksp__icon">
              <img src="../../img/icon-globe-white.svg" alt="" />
            </i>
          </div>
          <h2 class="h4  card__title">Globally connected</h2>
          <p>Your journey with us may start in Staffordshire, but it can take you anywhere in the world. Our global connections unlock a world of possibility for each every student.</p>
        </div>
      </div>
    </div>

    <div>
      <div class="card  card--ksp  card--digital-blue">
        <div class="card__content">
          <div class="card--ksp__icon-container">
            <i class="icon  h3  card--ksp__icon">
              <img src="../../img/icon-job-search-white.svg" alt="" />
            </i>
          </div>
          <h2 class="h4  card__title">Industry experience</h2>
          <p>Our unique connections to industry means you'll get the opportunity to experience the world of work before you graduate, setting you apart in the job market and placing you on the path to success.</p>
        </div>
      </div>
    </div>
  </div>
</div>
