

<div class="card  card--profile">
  <div class="card__content">
    <figure class="blockquote__figure  align-right  align-size-md">
      <img src="https://picsum.photos/480/480?random=1" alt="">
    </figure>

    <div class="title">
      <h3 class="h5 title__highlight"><a href="">Mr Inconveniently-Longname Forwordbreaking&shy;testingpurposes</a></h3>
    </div>
    <p class="strong">Course Leader</p>
    <p>This card has two links, the title, and the button. Mr Forwordbreakingtestingpurposes has a <code>&amp;shy;</code> 'soft hyphen' character, so his name breaks in a desirable place when space is limited.</p>
    <p>I joined the team here at Staffordshire University in May 2013 as a Lecturer in Biomedical Science. I'm a member of the British Society for Immunology and the Association for Clinical Biochemistry.</p>

    <a class="button  button--outline-slate" href="">Full Profile</a>
  </div>
</div>

<hr/>

<div class="grid  grid-3-cols@tablet-wide">
  <div>
    <div class="card  card--profile  card--slate">
      <div class="card__content">
        <figure class="blockquote__figure  align-right  align-size-md">
          <img src="https://picsum.photos/480/480?random=2" alt="">
        </figure>

        <div class="title">
          <h3 class="h5 title__highlight"><a href="">Dr. Stephen Stephanopoulos-Stevenson, PhD</a></h3>
        </div>
        <p class="strong">Course Leader</p>
        <p>I joined the team here at Staffordshire University in May 2013 as a Lecturer in Biomedical Science. I'm a member of the British Society for Immunology and the Association for Clinical Biochemistry.</p>

        <a class="button  button--sm  button--outline-slate" href="">Full Profile</a>
      </div>
    </div>
  </div>

  <div>
    <div class="card  card--profile  card--pink">
      <div class="card__content">
        <figure class="blockquote__figure  align-right  align-size-md">
          <img src="https://picsum.photos/480/480?random=3" alt="">
        </figure>

        <a href="" class="link--stretched">
          <div class="title">
            <h3 class="h5 title__highlight">Cherry Chevapravatdumrong</h3>
          </div>
        </a>
        <p class="strong">Course Leader</p>
        <p>This seems like a nice enough workaround for not being able to put a <code>link--stretched</code> inside a <code>title__highlight</code> - put it outside.</p>
        <p>Means we have to go without a working hover effect on a button, though...</p>
      </div>
    </div>
  </div>

  <div>
    <a class="card  card--profile  card--maroon" href="">
      <div class="card__content">
        <div class="title">
          <h3 class="h5 title__highlight">Stephen Griffith</h3>
        </div>
        <p class="strong">Course Leader</p>
        <p>This card is linked in its entirety, and the button is 'fake' (don't put an anchor inside an anchor)</p>
        <p>Does having this much copy inside an anchor pose accessibility/other concerns?</p>

        <b class="button  button--sm  button--outline-slate">Full Profile</b>
      </div>
    </a>
  </div>
</div>
