

<div class="wrap">
    <article class="country-selector" aria-label="International entry requirements in your country">
        <div class="title">
            <h4 class="h3">International entry requirements in your country</h3>
        </div>
        <p>Get country-specific details on entry requirements, fees, scholarships and support services. Choose your country to see how University of Staffordshire can support you from application to arrival.</p>
        <div class="grid">
            <div class="col-1/2@tablet">
                <select name="countryPicker" id="countryPicker" class="country-picker__dropdown" aria-label="Select your country">
                    <option value="" selected="selected">Select your country</option>
                        <option value="/international/your-country/afghanistan">Afghanistan</option>
                        <option value="/international/your-country/algeria">Algeria</option>
                        <option value="/international/your-country/angola">Angola</option>
                        <option value="#">etc.</option>
                </select>
            </div>
            <div class="col-1/2@tablet">
                <a href="#" class="button  button--dark-blue  button--block  button--sm" name="countrySubmit" id="countrySubmit">Check your country information</a>
            </div>
        </div>
    </article>
</div>
