

<article class="course-search">
    <h2 class="visually-hidden">Search for a course</h2>
    <label class="visually-hidden" for="course-search__keywords">Keyword(s) to search</label>
    <input class="course-search__keywords" id="course-search__keywords" name="cQueryH" type="search" placeholder="Search courses by keyword">
    
    <input id="course-search__level" type="hidden" value="postgraduate" />

    <button class="button  course-search__submit" id="course-search__submit" name="cSubmit" type="button">Search</button>
</article>
