

<div class="wrap">
    <div class="course-ksp-container">
        <article class="course-ksp  course-ksp--neon " aria-label="Specialist facilities">
    <div class="course-ksp__content">
        <h3 class="course-ksp__title  h4">Specialist facilities</h3>
        <p class="course-ksp__body">Thermofluid and Aeronautical Labs, Reverse Engineering Lab, Renewable Engineering Lab and Smart Zone.</p>
    </div>
</article>

        <article class="course-ksp  course-ksp--lavender " aria-label="Workplace learning">
    <div class="course-ksp__content">
        <h3 class="course-ksp__title  h4">Workplace learning</h3>
        <p class="course-ksp__body">Kick-start your career with a placement at Jaguar Land Rover, KMF, Siemens, Eurocopter and mode.</p>
    </div>
</article>

        <article class="course-ksp  course-ksp--pale-blue " aria-label="Develop advanced skills">
    <div class="course-ksp__content">
        <h3 class="course-ksp__title  h4">Develop advanced skills</h3>
        <p class="course-ksp__body">Thermofluid and Aeronautical Labs, Reverse Engineering Lab, Renewable Engineering Lab and Smart Zone.</p>
    </div>
</article>
    </div>
</div>
