

<p>Each <code>.feature-link</code> will require the appropriate class <code>.feature-link--with-image</code> or <code>.feature-link--no-image</code> as appropriate.</p>
<div class="grid  grid--spaced  grid-2-cols">
  <div>
    

<a class="feature-link  feature-link--with-image" href="#">
  
    <figure class="feature-link__figure">
      <img src="https://picsum.photos/720/360?random=1" alt=""/>
    </figure>
  

  <div class="feature-link__content">
    <h3 class="h4 feature-link__title">Accommodation</h3>
    <p>Where you live is a big part of your student experience and where you'll meet friends for life.</p>
  </div>
</a>
  </div>

  <div>
    <a class="feature-link  feature-link--with-image" href="">
      <figure class="feature-link__figure">
        <img src="https://picsum.photos/720/360?random=2" alt=""/>
      </figure>

      <div class="feature-link__content">
        <h3 class="h4 feature-link__title">Life in Staffordshire</h3>
        <p>We’ve invested in great new facilities on campus to make University of Staffordshire a hub of activity and opportunity.</p>
      </div>
    </a>
  </div>

  <div>
    <a class="feature-link  feature-link--no-image" href="">
      <div class="feature-link__content">
        <h3 class="h4 feature-link__title">Getting involved</h3>
        <p>Where you live is a big part of your student experience and where you’ll meet friends for life.</p>
      </div>
    </a>
  </div>

  <div>
    <a class="feature-link  feature-link--no-image" href="">
      <div class="feature-link__content">
        <h3 class="h4 feature-link__title">Campus &amp; facilities</h3>
        <p>Where you live is a big part of your student experience and where you’ll meet friends for life.</p>
      </div>
    </a>
  </div>

  <div>
    <a class="feature-link  feature-link--no-image" href="">
      <div class="feature-link__content">
        <h3 class="h4 feature-link__title">Student Support</h3>
        <p>Where you live is a big part of your student experience and where you’ll meet friends for life.</p>
      </div>
    </a>
  </div>

  <div>
    <a class="feature-link  feature-link--with-image" href="">
      <figure class="feature-link__figure">
        <img src="https://picsum.photos/720/360?random=3" alt=""/>
      </figure>

      <div class="feature-link__content">
        <h3 class="h4 feature-link__title">Life on campus</h3>
        <p>Where you live is a big part of your student experience and where you’ll meet friends for life.</p>
      </div>
    </a>
  </div>

  <div>
    <a class="feature-link  feature-link--no-image" href="">
      <div class="feature-link__content">
        <h3 class="h4 feature-link__title">Link name here</h3>
      </div>
    </a>
  </div>

  <div>
    <a class="feature-link  feature-link--no-image" href="">
      <div class="feature-link__content">
        <h3 class="h4 feature-link__title">Graduates give Staffs Uni star role in popular app</h3>
      </div>
    </a>
  </div>

  <div>
    <a class="feature-link  feature-link--no-image" href="">
      <div class="feature-link__content">
        <h3 class="h4 feature-link__title">Text link (short)</h3>
      </div>
    </a>
  </div>

  <div>
    <a class="feature-link  feature-link--no-image" href="">
      <div class="feature-link__content">
        <h3 class="h4 feature-link__title">Lorem Ipsum is simply dummy text of the printing and typesetting industry</h3>
      </div>
    </a>
  </div>

  <div>
    <a class="feature-link  feature-link--no-image" href="">
      <div class="feature-link__content">
        <h3 class="h4 feature-link__title">Text link (short)</h3>
      </div>
    </a>
  </div>

  <div>
    <a class="feature-link  feature-link--no-image" href="">
      <div class="feature-link__content">
        <h3 class="h4 feature-link__title">Text link (short)</h3>
      </div>
    </a>
  </div>
</div>

<div class="slab  slab--bg-offwhite  align-full">
  <div class="wrap">
    <div class="grid  grid--spaced  grid-2-cols">
      <div>
        <a class="feature-link  feature-link--with-image" href="">
          <figure class="feature-link__figure">
            <img src="https://picsum.photos/720/360?random=1" alt=""/>
          </figure>

          <div class="feature-link__content">
            <h3 class="h4 feature-link__title">Accommodation</h3>
            <p>Where you live is a big part of your student experience and where you’ll meet friends for life.</p>
          </div>
        </a>
      </div>

      <div>
        <a class="feature-link  feature-link--with-image" href="">
          <figure class="feature-link__figure">
            <img src="https://picsum.photos/720/360?random=2" alt=""/>
          </figure>

          <div class="feature-link__content">
            <h3 class="h4 feature-link__title">Life in Staffordshire</h3>
            <p>We’ve invested in great new facilities on campus to make University of Staffordshire a hub of activity and opportunity.</p>
          </div>
        </a>
      </div>

      <div>
        <a class="feature-link  feature-link--no-image" href="">
          <div class="feature-link__content">
            <h3 class="h4 feature-link__title">Getting involved</h3>
            <p>Where you live is a big part of your student experience and where you’ll meet friends for life.</p>
          </div>
        </a>
      </div>

      <div>
        <a class="feature-link  feature-link--no-image" href="">
          <div class="feature-link__content">
            <h3 class="h4 feature-link__title">Campus &amp; facilities</h3>
            <p>Where you live is a big part of your student experience and where you’ll meet friends for life.</p>
          </div>
        </a>
      </div>

      <div>
        <a class="feature-link  feature-link--no-image" href="">
          <div class="feature-link__content">
            <h3 class="h4 feature-link__title">Student Support</h3>
            <p>Where you live is a big part of your student experience and where you’ll meet friends for life.</p>
          </div>
        </a>
      </div>

      <div>
        <a class="feature-link  feature-link--no-image" href="">
          <div class="feature-link__content">
            <h3 class="h4 feature-link__title">Life on campus</h3>
            <p>Where you live is a big part of your student experience and where you’ll meet friends for life.</p>
          </div>
        </a>
      </div>

      <div>
        <a class="feature-link  feature-link--no-image" href="">
          <div class="feature-link__content">
            <h3 class="h4 feature-link__title">Link name here</h3>
          </div>
        </a>
      </div>

      <div>
        <a class="feature-link  feature-link--no-image" href="">
          <div class="feature-link__content">
            <h3 class="h4 feature-link__title">Graduates give Staffs Uni star role in popular app</h3>
          </div>
        </a>
      </div>

      <div>
        <a class="feature-link  feature-link--no-image" href="">
          <div class="feature-link__content">
            <h3 class="h4 feature-link__title">Text link (short)</h3>
          </div>
        </a>
      </div>

      <div>
        <a class="feature-link  feature-link--no-image" href="">
          <div class="feature-link__content">
            <h3 class="h4 feature-link__title">Lorem Ipsum is simply dummy text of the printing and typesetting industry</h3>
          </div>
        </a>
      </div>

      <div>
        <a class="feature-link  feature-link--no-image" href="">
          <div class="feature-link__content">
            <h3 class="h4 feature-link__title">Text link (short)</h3>
          </div>
        </a>
      </div>

      <div>
        <a class="feature-link  feature-link--no-image" href="">
          <div class="feature-link__content">
            <h3 class="h4 feature-link__title">Text link (short)</h3>
          </div>
        </a>
      </div>
    </div>

  </div>
</div>
