

<div class="grid  grid-2-cols">

  <a class="feature-link  feature-link--no-image" href="">
    <div class="feature-link__content">
      <h3 class="h4 feature-link__title">Life in Staffordshire</h3>
      <p>Where you live is a big part of your student experience and where you’ll meet friends for life.</p>
    </div>
  </a>

  <a class="feature-link  feature-link--no-image" href="">
    <div class="feature-link__content">
      <h3 class="h4 feature-link__title">Life in Staffordshire</h3>
      <p>Where you live is a big part of your student experience and where you’ll meet friends for life.</p>
    </div>
  </a>

</div>
