

<h2>Primary Style</h2>
<p>This applies the primary colour, and slightly thickens.</p>

<hr class="hr--primary" />

<h2>Invisible</h2>

<p>There are times when a themantic break in content may be desired, but without a visible rule, this can be achieved using the invisible modifier. Use sparingly and semantically.</p>

<hr class="hr--invisible" />

<p>Lipsum has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
