


<div class="grid  grid-3-cols">
  <div>
    <div class="iconBox  iconBox--bg-offwhite">
      <div class="iconBox__icon">
        <i class="icon  icon--facebook"></i>
      </div>
      <div class="iconBox__content">
        <div class="h6  iconBox__title">Offwhite iconbox</div>
        <p>With any ol' random SVG you desire</p>
      </div>
    </div>
  </div>

  <div>
    <a class="iconBox  iconBox--bg-teal" href="">
      <div class="iconBox__icon">
        <i class="icon  icon--circle-padlock-white"></i>
      </div>
      <div class="iconBox__content">
        <div class="h6  iconBox__title">The quick brown fox jumps over the lazy dog</div>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
      </div>
    </a>
  </div>

<div>
    <a class="iconBox  iconBox--bg-neon" href="">
      <div class="iconBox__icon">
        <i class="icon  icon--instagram"></i>
      </div>
      <div class="iconBox__content">
        <div class="h6  iconBox__title">The quick brown fox jumps over the lazy dog</div>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
      </div>
    </a>
  </div>
</div>
