


<div class="grid  grid-3-cols">
  <div>
    <div class="iconBox">
      <div class="iconBox__icon">
        <i class="icon">
          <img src="../../img/icon-clock-white.svg" />
        </i>
      </div>
      <div class="iconBox__content">
        <div class="h6  iconBox__title">unthemed iconBox</div>
        <p>With any ol' random white SVG you desire</p>
      </div>
    </div>
  </div>

  <div>
    <a class="iconBox  iconBox--twitter" href="">
      <div class="iconBox__icon">
        <i class="icon  icon--twitter-white"></i>
      </div>
      <div class="iconBox__content">
        <div class="h6  iconBox__title">Follow on X</div>
        <p>Staffordshire University Biological & Biomedical Sciences</p>
      </div>
    </a>
  </div>

  <div>
    <a class="iconBox  iconBox--facebook" href="">
      <div class="iconBox__icon">
        <i class="icon  icon--facebook-white"></i>
      </div>
      <div class="iconBox__content">
        <div class="h6  iconBox__title">Facebook page</div>
        <p>Our official page for students, alumni, staff and friends from any of our awards</p>
      </div>
    </a>
  </div>
</div>
