


<div class="wrap">
    <ul class="list--inline  font-lg">
        
            <li>
                <span class="button  button--grey"><i class="icon  icon--360"></i> 360</span>
            </li>
        
            <li>
                <span class="button  button--grey"><i class="icon  icon--360-red"></i> 360-red</span>
            </li>
        
            <li>
                <span class="button  button--grey"><i class="icon  icon--book-red"></i> book-red</span>
            </li>
        
            <li>
                <span class="button  button--grey"><i class="icon  icon--calendar"></i> calendar</span>
            </li>
        
            <li>
                <span class="button  button--grey"><i class="icon  icon--circle-padlock-white"></i> circle-padlock-white</span>
            </li>
        
            <li>
                <span class="button  button--grey"><i class="icon  icon--clock"></i> clock</span>
            </li>
        
            <li>
                <span class="button  button--grey"><i class="icon  icon--envelope"></i> envelope</span>
            </li>
        
            <li>
                <span class="button  button--grey"><i class="icon  icon--facebook"></i> facebook</span>
            </li>
        
            <li>
                <span class="button  button--grey"><i class="icon  icon--facebook-white"></i> facebook-white</span>
            </li>
        
            <li>
                <span class="button  button--grey"><i class="icon  icon--form"></i> form</span>
            </li>
        
            <li>
                <span class="button  button--grey"><i class="icon  icon--globe"></i> globe</span>
            </li>
        
            <li>
                <span class="button  button--grey"><i class="icon  icon--instagram"></i> instagram</span>
            </li>
        
            <li>
                <span class="button  button--grey"><i class="icon  icon--instagram-white"></i> instagram-white</span>
            </li>
        
            <li>
                <span class="button  button--grey"><i class="icon  icon--linkedin"></i> linkedin</span>
            </li>
        
            <li>
                <span class="button  button--grey"><i class="icon  icon--linkedin-white"></i> linkedin-white</span>
            </li>
        
            <li>
                <span class="button  button--grey"><i class="icon  icon--person"></i> person</span>
            </li>
        
            <li>
                <span class="button  button--grey"><i class="icon  icon--phone"></i> phone</span>
            </li>
        
            <li>
                <span class="button  button--grey"><i class="icon  icon--pin"></i> pin</span>
            </li>
        
            <li>
                <span class="button  button--grey"><i class="icon  icon--pin-red"></i> pin-red</span>
            </li>
        
            <li>
                <span class="button  button--grey"><i class="icon  icon--pinterest"></i> pinterest</span>
            </li>
        
            <li>
                <span class="button  button--grey"><i class="icon  icon--pinterest-white"></i> pinterest-white</span>
            </li>
        
            <li>
                <span class="button  button--grey"><i class="icon  icon--play-circle-red"></i> play-circle-red</span>
            </li>
        
            <li>
                <span class="button  button--grey"><i class="icon  icon--pricetag"></i> pricetag</span>
            </li>
        
            <li>
                <span class="button  button--grey"><i class="icon  icon--snapchat"></i> snapchat</span>
            </li>
        
            <li>
                <span class="button  button--grey"><i class="icon  icon--snapchat-white"></i> snapchat-white</span>
            </li>
        
            <li>
                <span class="button  button--grey"><i class="icon  icon--tiktok"></i> tiktok</span>
            </li>
        
            <li>
                <span class="button  button--grey"><i class="icon  icon--tiktok-white"></i> tiktok-white</span>
            </li>
        
            <li>
                <span class="button  button--grey"><i class="icon  icon--twitter"></i> twitter</span>
            </li>
        
            <li>
                <span class="button  button--grey"><i class="icon  icon--twitter-white"></i> twitter-white</span>
            </li>
        
            <li>
                <span class="button  button--grey"><i class="icon  icon--x-white"></i> x-white</span>
            </li>
        
            <li>
                <span class="button  button--grey"><i class="icon  icon--youtube"></i> youtube</span>
            </li>
        
            <li>
                <span class="button  button--grey"><i class="icon  icon--youtube-white"></i> youtube-white</span>
            </li>
        
    </ul>
</div>
