

<p>A class of <code>list--icon-bullets</code> adds margin to icons for use as bullets</p>

<ul class="list--icon-bullets">
  <li><a href=""><i class="icon  icon--envelope"></i>comms@staffs.ac.uk</a></li>
  <li><a href=""><i class="icon  icon--phone"></i>+44 7900 123456</a></li>
  <li><a href=""><i class="icon  icon--twitter"></i>StaffsUniNews</a></li>
  <li><a href=""><i class="icon  icon--twitter"></i>PressOffice</a></li>
</ul>

<p>It can be combined with <code>list--inline</code> to display inline</p>

<ul class="list--icon-bullets  list--inline">
  <li><a href=""><i class="icon  icon--envelope"></i>comms@staffs.ac.uk</a></li>
  <li><a href=""><i class="icon  icon--phone"></i>+44 7900 123456</a></li>
  <li><a href=""><i class="icon  icon--twitter"></i>StaffsUniNews</a></li>
  <li><a href=""><i class="icon  icon--twitter"></i>PressOffice</a></li>
</ul>

<p>And/or <code>list--links</code> to remove underlines</p>


<ul class="list--icon-bullets  list--links">
  <li><a href=""><i class="icon  icon--envelope"></i>comms@staffs.ac.uk</a></li>
  <li><a href=""><i class="icon  icon--phone"></i>+44 7900 123456</a></li>
  <li><a href=""><i class="icon  icon--twitter"></i>StaffsUniNews</a></li>
  <li><a href=""><i class="icon  icon--twitter"></i>PressOffice</a></li>
</ul>

<ul class="list--icon-bullets  list--inline  list--links">
  <li><a href=""><i class="icon  icon--envelope"></i>comms@staffs.ac.uk</a></li>
  <li><a href=""><i class="icon  icon--phone"></i>+44 7900 123456</a></li>
  <li><a href=""><i class="icon  icon--twitter"></i>StaffsUniNews</a></li>
  <li><a href=""><i class="icon  icon--twitter"></i>PressOffice</a></li>
</ul>

<hr/>

<h2 class="h4">Example in card (non-links)</h2>


<div class="card">
  <div class="card__content">
    <ul class="list--icon-bullets">
      <li><i class="icon  icon--calendar"></i><strong>Saturday 25 January 2024</strong></li>
      <li><i class="icon  icon--clock"></i>10.30am - 4pm</strong></li>

      <li><i class="icon  icon--pin"></i>Room T101<br/>
        Beacon Building<br/>
        Staffordshire University<br/>
        College Road,<br/>
        Stoke-on-Trent<br/>
        ST4 2DE
      </li>

      <li><i class="icon  icon--pricetag"></i>FREE EVENT</li>
    </ul>
  </div>
</div>
