




<div class="masthead  masthead--course">
  <div class="wrap">
    <div class="masthead__course-info">
      <div class="masthead__course-options">
        <h1 class="title">Esports <span class="masthead__award-type  font-md">BA (Hons)</span></h1>
        <p class="masthead__ucas-code"><strong>UCAS code</strong> S101</p>

        <label for="study-option-selector">Study options</label>
        <select id="study-option-selector--bsc-hons" class="masthead__study-option-selector" data-award="bsc-hons" title="Study Options">
          <option selected>Full-time, Stoke-on-Trent campus</option>
          <option>Full-time, City of Stoke-On-Trent Sixth Form College, with a foundation year</option>
          <option>Full-time, Stoke-On-Trent campus, with a placement year</option>
        </select>
        <select id="study-option-selector--msci" class="masthead__study-option-selector  one-item" style="display: none;" data-award="msci" title="Study Options">
          <option selected>Full-time</option>
        </select>

        <label for="award-type-selector">Award</label>
        <select id="award-selector" class="masthead__award-selector" title="Award">
            <option value="bsc-hons">BSc (Hons)</option>
            <option value="msci">MSci</option>
        </select>

        <div class="grid  grid-2-cols">
          <div>
            <h2 class="h4  title">Location</h2>
            <p>Stoke-on-Trent campus</p>
          </div>
          <div>
            <h2 class="h4  title">Duration</h2>
            <p>4 years</p>
          </div>
        </div>

        <h2 class="h4  title">Entry requirements</h2>
        <p>112 - 120 UCAS points, plus GCSE Mathematics grade 5 or above</p>

        <ul class="list--inline">
          <li>
            



<a href="" class="button">
  
  Apply now
</a>

          </li>
          <li>
            


  


<a href="" class="button  button--grey">
  
  Book an open day
</a>

          </li>
        </ul>
      </div>

      <div class="masthead__course-hero">
        
          <img src="../../images/masthead2.jpg"/>
        
      </div>
    </div>
  </div>
</div>

<div class="wrap">
  <p class="intro">Course page body copy</p>
</div>
