

<div class="masthead">
  <div class="masthead__inner">
    <div class="masthead__bg">
      
        <img src="../../img/masthead0.jpg"/>
      
    </div>
    <div class="wrap">
      <nav class="breadcrumbs">
  <ul>
    <li>
      <a href="#">Home</a>
    </li>
    <li>
      <a href="#">Level 1</a>
    </li>
    <li>
      <a href="#">Level 2</a>
    </li>
  </ul>
</nav>

      



  




  



<div class="title  title--has-tail  js-waypoint">
  <h1 class="title__highlight  h1">
  Page Title
</h1>
</div>









      



  

  




  



<div class="title  title--bg-white  title--has-tail  js-waypoint">
  <h6 class="title__highlight">
  (If long, consider using h2 textElementStyle)
</h6>
</div>









    </div>
  </div>
</div>

