

<div class="masthead">
  <div class="masthead__inner">
    <div class="masthead__bg">
      
        <img src="../../img/masthead0.jpg" style="object-position: 55% 20%"/>
      
    </div>
    <div class="wrap">
      



  




  



<div class="title  title--has-tail  js-waypoint">
  <h1 class="title__highlight  h2">
  Shortlisted for "University of the year"
</h1>
</div>









      



  

  




  



<div class="title  title--bg-white  title--has-tail  js-waypoint">
  <h6 class="title__highlight">
  - The Times and The Sunday Times Good University Guide 2020
</h6>
</div>









      



<a href="" class="button">
  
  Book an open day
</a>

    </div>
  </div>
</div>

