

<header class="header-site" id="header-site">
  <div class="wrap">
    <div class="header-site__flexContainer">
      <a class="site-logo" title="Home" href="/">
        <img src="../../img/theme-ldn/logo-ldn.svg" alt="Digital Institute London Logo" class="no-lazy-load">
      </a>

      <button class="toggle-megaNav" id="toggle-megaNav" aria-controls="megaNav"><span class="toggle-megaNav__label">Menu</span></button>

      <nav class="megaNav" id="megaNav" role="navigation">
        <div class="megaNav__controls">
          <button class="megaNav__close" id="megaNav__close"><span class="visually-hidden">Close</span></button>
        </div>

        <div class="megaNav__topLevel">
          <ul class="megaNav__topLevel-list">
            <li class="megaNav__topLevel-item  has-children  has-simple-children">
              <a class="megaNav__topLevel-link  " href="">Courses</a>

              <div class="megaNav__level  megaNav__secondLevel">
                <div class="megaNav__levelHeader">
                  <button class="megaNav__closeLevel">Courses</button>
                </div>

                <ul class="megaNav__levelList  megaNav__secondLevel-list">

                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Accounting and Finance</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Allied Health and Paramedic Science</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Animation</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Art and Design</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Augmented and Virtual Realities</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Biological and Biomedical Sciences</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Business and Marketing</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Computer Science, AI and Robotics</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Drama, Performance and Theatre Studies</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Education</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Engineering</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">...</a></li>
                </ul>

                <div class="megaNav__levelFooter">
                  <p>Find a Course</p>
                  <form>
                    <input type="text" placeholder="Search on keyword / subject"/>
                    <input type="submit" class="button"/>
                  </form>
                </div>
              </div>
            </li>
            <li class="megaNav__topLevel-item  has-children">
              <a class="megaNav__topLevel-link " href="">About us</a>

              <div class="megaNav__level  megaNav__secondLevel">
                <div class="megaNav__levelHeader">
                  <button class="megaNav__closeLevel">About us</button>
                </div>

                <ul class="megaNav__levelList  megaNav__secondLevel-list">
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Test Item</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Test Item</a></li>
                  <li class="megaNav__secondLevel-item  has-children">
                    <a class="megaNav__secondLevel-link  " href="">Test Item</a>

                    <div class="megaNav__level  megaNav__thirdLevel">
                      <div class="megaNav__levelHeader">
                        <button class="megaNav__closeLevel">Test Item</button>
                      </div>

                      <ul class="megaNav__levelList  megaNav__thirdLevel-list">
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                      </ul>

                      <ul class="megaNav__levelList  megaNav__thirdLevel-list">
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                      </ul>

                      <div class="megaNav__levelMobileFooter">
                        <button class="megaNav__closeLevel">Back</button>
                      </div>
                    </div>
                  </li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Test Item</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Test Item</a></li>
                  <li class="megaNav__secondLevel-item  has-children">
                    <a class="megaNav__secondLevel-link  " href="">Test Item</a>

                    <div class="megaNav__level  megaNav__thirdLevel">
                      <div class="megaNav__levelHeader">
                        <button class="megaNav__closeLevel">Test Item</button>
                      </div>

                      <ul class="megaNav__levelList  megaNav__thirdLevel-list">
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Test Item</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Test Item</a></li>
                </ul>

                <div class="megaNav__levelFooter">
                  <p>What’s it like living here?</p>
                  <p><a href="" class="button">Book an open day</a></p>
                </div>
              </div>
            </li>
            <li class="megaNav__topLevel-item  has-children">
              <a class="megaNav__topLevel-link  " href="">Student life</a>

              <div class="megaNav__level  megaNav__secondLevel">
                <div class="megaNav__levelHeader">
                  <button class="megaNav__closeLevel">Student Life</button>
                </div>

                <ul class="megaNav__levelList  megaNav__secondLevel-list">
                  <li class="megaNav__secondLevel-item  has-children">
                    <a class="megaNav__secondLevel-link  " href="">Accommodation</a>

                    <div class="megaNav__level  megaNav__thirdLevel">
                      <div class="megaNav__levelHeader">
                        <button class="megaNav__closeLevel">Accommodation</button>
                      </div>

                      <ul class="megaNav__levelList  megaNav__thirdLevel-list">
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Somewhere</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Somewhere</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Somewhere</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Private accommodation</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Meet the Experts</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">How To Find Us</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Student support</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Life on campus</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Facilities</a></li>
                </ul>

                <div class="megaNav__levelFooter">
                  <p>What’s it like living here?</p>
                  <p><a href="" class="button">Book an open day</a></p>
                </div>
              </div>
            </li>
            <li class="megaNav__topLevel-item">
              <a class="megaNav__topLevel-link" href="">Events</a>
            </li>
            <li class="megaNav__topLevel-item ">
              <a class="megaNav__topLevel-link " href="">Connect With Us</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>


<div class="masthead  masthead--shallow  masthead--primary-gradient">
  <div class="masthead__inner">
    <div class="wrap">
      <nav class="breadcrumbs">
  <ul>
    <li>
      <a href="#">Home</a>
    </li>
    <li>
      <a href="#">Level 1</a>
    </li>
    <li>
      <a href="#">Level 2</a>
    </li>
  </ul>
</nav>

      



  




  



<div class="title  title--has-tail  js-waypoint">
  <h1 class="title__highlight  h1">
  Masthead With No Image (Shallow)
</h1>
</div>









    </div>
  </div>
</div>

