




<div class="masthead  masthead--course">
  <div class="masthead__course-divider">
    <div class="masthead__course-info">
      <h1 class="title">Esports <span class="masthead__award-type  font-md">BA (Hons)</span></h1>
      <p class="masthead__ucas-code"><strong>UCAS code</strong> S101</p>

      <label for="study-option-selector">Study options</label>
      <select id="study-option-selector" title="Study Options">
        <option selected>Full-time, Stoke-on-Trent campus</option>
        <option>Full-time, City of Stoke-On-Trent Sixth Form College, with a foundation year</option>
        <option>Full-time, Stoke-On-Trent campus, with a placement year</option>
      </select>

      <label for="award-type-selector">Award</label>
      <select id="award-type-selector" title="Award Type">
        <option selected>BA (Hons)</option>
        <option>BSc (Hons)</option>
      </select>

      <div class="grid  grid-2-cols">
        <div>
          <h2 class="h4  title">Location</h2>
          <p>Stoke-on-Trent campus</p>
        </div>
        <div>
          <h2 class="h4  title">Duration</h2>
          <p>4 years</p>
        </div>
      </div>

      <h2 class="h4  title">Entry requirements</h2>
      <p>112 - 120 UCAS points, plus GCSE Mathematics grade 5 or above</p>

      <ul class="list--inline">
        <li>
          



<a href="" class="button">
  
  Apply now
</a>

        </li>
        <li>
          


  


<a href="" class="button  button--grey">
  
  Book an open day
</a>

        </li>
      </ul>

    </div>

    <div class="masthead__course-img">
      
        <img src="../../images/masthead5.jpg"/>
      
    </div>
</div>

