

<div class="quote-banner  quote-banner--reverse  align-full">
  <div class="wrap">

    <div class="quote-banner__flexContainer">

      <div class="quote-banner__quoteContainer">
        <div class="card  card--testimonial  card--red">
          <div class="card__content">
            <blockquote class="blockquote--large">
              <q class="blockquote__title">After coming to Staffs, it feels like my future looks different, very bright in fact.</q>

              <footer class="blockquote__footer">
                <cite class="cite">Zenith Shaileshkumar Vaghasiya</cite>
                <p>MA Sports Journalism graduate, 2020</p>
              </footer>
            </blockquote>
          </div>
        </div>
      </div>

      <figure class="quote-banner__figure">
        <img src="https://picsum.photos/800/400?random=1" alt="person" />
      </figure>
    </div>

  </div>
</div>
