

<!-- CG: This is the legacy code -->
<nav class="side-nav  col-1/4@tablet  col-full@mobile" aria-label="Section navigation">
    <div class="title">
        <h2 class="title__highlight h6"><a href="/onboarding/before-you-start/">Before you start</a></h2>
    </div>
    <ul class="side-nav__list  list--unstyled">
        <li>
            <a class="side-nav__link" href="/onboarding/before-you-start/first-day-essentials" title="First day essentials" data-menu-order="1">First day essentials</a>
        </li>
        <li class="side-nav__current" data-menu-order="2">
            HR checklist
        </li> 
        <li>
            <a class="side-nav__link" href="/onboarding/before-you-start/onboarding-and-probation" title="Onboarding and probation" data-menu-order="3">Onboarding and probation</a>
        </li>
        <li>
            <a class="side-nav__link" href="/onboarding/before-you-start/mandatory-training" title="Mandatory training" data-menu-order="4">Mandatory training</a>
        </li>
    </ul>
</nav>
