

<article class="slab  slab--bg-digital-blue  slab--entry-requirements" aria-label="Entry requirements summary">
    <div class="wrap">
        <div class="grid  grid-3-cols">
            <section aria-label="UCAS">
                <h3 class="font-md  margin-bottom-4xs">UCAS</h3>
                <p class="h4">96 UCAS points</p>
            </section>
            <section aria-label="A Levels">
                <h3 class="font-md  margin-bottom-4xs">A Levels</h3>
                <p class="h4  margin-bottom-xs">CCC</p>
            </section>
            <section aria-label="BTEC">
                <h3 class="font-md  margin-bottom-4xs">BTEC</h3>
                <p class="h4">MMM</p>
            </section>
        </div>
        <p>Work out your estimated grades using the <a href="https://www.ucas.com/applying/before-you-apply/what-and-where-to-study/entry-requirements/calculate-your-ucas-tariff-points">UCAS calculator</a></p>
    </div>
</article>

<hr />

<article class="slab  slab--bg-digital-blue  slab--entry-requirements" aria-label="Entry requirements summary">
    <div class="wrap">
        <div class="grid  grid-3-cols">
            <section aria-label="UCAS">
                <h3 class="font-md  margin-bottom-4xs">UCAS</h3>
                <p class="h4">112-120 UCAS points</p>
            </section>
            <section aria-label="A Levels">
                <h3 class="font-md  margin-bottom-4xs">A Levels</h3>
                <p class="h4  margin-bottom-xs">BBC</p>
                <p class="font-sm">to include numerate subject such as chemistry, maths or biology at Grade C or above</p>
            </section>
            <section aria-label="BTEC">
                <h3 class="font-md  margin-bottom-4xs">BTEC</h3>
                <p class="h4">DMM</p>
            </section>
        </div>
        <p>Work out your estimated grades using the <a href="https://www.ucas.com/applying/before-you-apply/what-and-where-to-study/entry-requirements/calculate-your-ucas-tariff-points">UCAS calculator</a></p>
    </div>
</article>
