

<div class="slab  slab--bg-offwhite">
  <div class="wrap">
    <h3 class="slab__title">This is a slab title</h3>
  </div>
</div>

<div class="margin-bottom-4xl">
  <div class="wrap">
    <h3>This text is not in a slab</h3>
    <p class="h5">(but has a utility spacing class wrapper)</p>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  </div>
</div>



<div class="slab  slab--bg-dark-blue">
  <div class="wrap">
    <div class="hgroup">
      





  




<div class="title  title--has-tail">
  <h2 class="">
  This is a title
</h2>
</div>
      




  


  




<div class="title  title--bg-white  title--has-tail">
  <h3 class="  h6">
  This is a white title
</h3>
</div>
    </div>


    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>


  </div>
</div>



<div class="slab  slab--bg-neon">
  <div class="wrap">
    <div class="hgroup">
      





  




<div class="title  title--has-tail">
  <h2 class="">
  This is a title
</h2>
</div>
      




  


  




<div class="title  title--bg-white  title--has-tail">
  <h3 class="  h6">
  This is a sub title
</h3>
</div>
    </div>


    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>


  </div>
</div>
