

<div class="slider--tiles  js-slider--tiles">
  <div>
    <a class="tile" href="">
      <figure class="tile__figure">
        <img src="https://picsum.photos/500/500?random=1" class="tile__img" alt=""/>
      </figure>

      <div class="tile__content">
        <div class="title  title--bg-maroon  tile__title">
          <h3 class="h4  title__highlight">Specialist Labs</h3>
        </div>
        <div class="tile__content-body">
          <p>Our specifically designed Science Centre includes specialist laboratories, interview suites, and dedicated specialist equipment.</p>
        </div>
      </div>
    </a>
  </div>

  <div>
    <a class="tile" href="">
      <figure class="tile__figure">
        <img src="https://picsum.photos/500/500?random=2" class="tile__img" alt=""/>
      </figure>

      <div class="tile__content">
        <div class="title  title--bg-pink  tile__title">
          <h3 class="h4  title__highlight">Motion Capture Studio</h3>
        </div>
        <div class="tile__content-body">
          <p>The Motion Capture Studio allows students to capture the motion of multiple human movement simultaneously in the creation of high quality for motion sequences for Games, Animation and VFX.</p>
        </div>
      </div>
    </a>
  </div>

  <div>
    <a class="tile" href="">
      <figure class="tile__figure">
        <img src="https://picsum.photos/500/500?random=3" class="tile__img" alt=""/>
      </figure>

      <div class="tile__content">
        <div class="title  tile__title">
          <h3 class="h4  title__highlight">HDTV Center</h3>
        </div>
        <div class="tile__content-body">
          <p>You'll use our HD Television Centre, which is equipped with broadcast standard technologies, green room, vision gallery and a comprehensive racks room.</p>
        </div>
      </div>
    </a>
  </div>

  <div>
    <a class="tile" href="">
      <figure class="tile__figure">
        <img src="https://picsum.photos/500/500?random=4" class="tile__img" alt=""/>
      </figure>

      <div class="tile__content">
        <div class="title  title--bg-slate  tile__title">
          <h3 class="h4  title__highlight">Extremely Longworded Long Title Demonstration</h3>
        </div>
        <div class="tile__content-body">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
      </div>
    </a>
  </div>
  <div>
    <a class="tile" href="">
      <figure class="tile__figure">
        <img src="https://picsum.photos/500/500?random=5" class="tile__img" alt=""/>
      </figure>

      <div class="tile__content">
        <div class="title  title--bg-maroon  tile__title">
          <h3 class="h4  title__highlight">Specialist Labs</h3>
        </div>
        <div class="tile__content-body">
          <p>Our specifically designed Science Centre includes specialist laboratories, interview suites, and dedicated specialist equipment.</p>
        </div>
      </div>
    </a>
  </div>

  <div>
    <a class="tile" href="">
      <figure class="tile__figure">
        <img src="https://picsum.photos/500/500?random=6" class="tile__img" alt=""/>
      </figure>

      <div class="tile__content">
        <div class="title  title--bg-pink  tile__title">
          <h3 class="h4  title__highlight">Clinical Training Facilities</h3>
        </div>
        <div class="tile__content-body">
          <p>Our labs provide the environment for you to learn fundamental skills associated with emergency pre-hospital care. This includes: advanced patient assessment techniques, airway management, obtaining intramuscular, intravenous and intraosseous access, advanced life-support skills.</p>
        </div>
      </div>
    </a>
  </div>

  <div>
    <a class="tile" href="">
      <figure class="tile__figure">
        <img src="https://picsum.photos/500/500?random=7" class="tile__img" alt=""/>
      </figure>

      <div class="tile__content">
        <div class="title  tile__title">
          <h3 class="h4  title__highlight">HDTV Center</h3>
        </div>
        <div class="tile__content-body">
          <p>You'll use our HD Television Centre, which is equipped with broadcast standard technologies, green room, vision gallery and a comprehensive racks room.</p>
        </div>
      </div>
    </a>
  </div>

  <div>
    <a class="tile" href="">
      <figure class="tile__figure">
        <img src="https://picsum.photos/500/500?random=8" class="tile__img" alt=""/>
      </figure>

      <div class="tile__content">
        <div class="title  title--bg-slate  tile__title">
          <h3 class="h4  title__highlight">Extremely Longworded Long Title Demonstration</h3>
        </div>
        <div class="tile__content-body">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
      </div>
    </a>
  </div>
</div>
