

<div class="js-slider--logos  margin-bottom-2xl">

    <div>
        <div class="logo">
            <a href="https://idu-group.com/" title="IDU Group website">
                <img src="../../img/logo-idu-group.png" alt="IDU group logo featuring a series of boxes, and the tagline: the future of last mile logistics" />
            </a>
        </div>
    </div>

    <div>
        <div class="logo  logo--low-aspect-ratio">
            <a href="https://www.babababoon.co.uk/" title="Baba Baboon website">
                <img src="../../img/logo-baba-baboon.png" alt="Baba Baboon logo features a grey baboon" />
            </a>
        </div>
    </div>

    <div>
        <div class="logo">
            <a href="https://quantumscis.com/" title="Quantum Science website">
                <img src="../../img/logo-quantum-science.png" alt="Quantum science logo with pink, red, blue and yellow accents" />
            </a>
        </div>
    </div>

    <div>
        <div class="logo  logo--low-aspect-ratio">
            <a href="https://clsolution.co.uk/" title="CL Solutions website">
                <img src="../../img/logo-cl-solutions.png" alt="CL solutions logo with tagline: control and automation specialists" />
            </a>
        </div>
    </div>

    <div>
        <div class="logo">
            <a href="http://www.rushkeep.com/" title="Rushkeep solutions website">
                <img src="../../img/logo-rush-keep.png" alt="Rush Keep logo features a castle tower, like a chess rook" />
            </a>
        </div>
    </div>
    
    <div>
        <div class="logo">
            <a href="https://www.cyberkiln.com/" title="Cyber Kiln website">
                <img src="../../img/logo-cyber-kiln.png" alt="The Cyber Kiln logo features a traditional pot bank and the tagline: bespoke website and software development" />
            </a>
        </div>
    </div>

    <div>
        <div class="logo  logo--low-aspect-ratio">
            <a href="https://mappingmill.com/" title="Mapping Mill website">
                <img src="../../img/logo-mapping-mill.png" alt="Mapping Mill logo with green, purple and orange accents" />
            </a>
        </div>
    </div>

</div>
