


<div class="tabs  js-tabs">
  <nav class="tabs__nav">
    <ul class="tabs__list">
      <li class="tabs__item"><a class="tabs__link" href="#section1">First: Section 1</a></li>
      <li class="tabs__item"><a class="tabs__link  is-selected" href="#section-two">Section Two</a></li>
      <li class="tabs__item"><a class="tabs__link" href="#third-section">Third Section</a></li>
      <li class="tabs__item"><a class="tabs__link" href="#section4">Fourth and Final</a></li>
      <li class="tabs__item"><a class="tabs__link" href="#section5">Just kidding, here's a really long fifth item</a></li>
    </ul>
  </nav>

  <section class="tabs__section" id="section1">
    <h2 class="h3">section1</h2>
    <p>Lipsum has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  </section>

  <section class="tabs__section" id="section-two">
    <h2 class="h3">section2</h2>
    <p class="intro">Expanded by default with a class of <code>is-selected</code> on the link</p>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  </section>

  <section class="tabs__section" id="third-section">
    <h2 class="h3">section3</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
  </section>

  <section class="tabs__section" id="section4">
    <h2 class="h3">section4</h2>
    <p>Lipsum has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  </section>

  <section class="tabs__section" id="section5">
    <h2 class="h3">section5</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  </section>
</div>
