


<div class="tabs  js-tabs">
  <nav class="tabs__nav">
    <ul class="tabs__list">
      <li class="tabs__item"><a class="tabs__link" href="#section1">Module Route 1</a></li>
      <li class="tabs__item"><a class="tabs__link" href="#section-two">Route Two</a></li>
      <li class="tabs__item"><a class="tabs__link" href="#third-section">Third Route</a></li>
      <li class="tabs__item"><a class="tabs__link" href="#section4">Fourth and Final Route</a></li>
    </ul>
  </nav>

  <section class="tabs__section" id="section1">
    <div class="slider--modules  js-slider--variable">
  <div>
    <table class="table--modules">
  <caption class="visually-hidden">Year x compulsory modules</caption>
  <thead>
  <tr>
    <th colspan="2">Year x compulsory modules</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <a href="">
        Introduction To Applied Clinical Paramedic Practice
      </a>
    </td>
    <td class="table--modules__credits">30 credits</td>
  </tr>
  <tr>
    <td>
      <a href="">
        Introduction To Biological Sciences And Pharmacology For Paramedic Practice
      </a>
    </td>
    <td class="table--modules__credits">15 credits</td>
  </tr>
  <tr>
    <td>
      <a href="" >
        Introduction To Clinical Skills For Paramedic Practice
      </a>
    </td>
    <td class="table--modules__credits">30 credits</td>
  </tr>
  <tr>
    <td>
      <a href="" ">
        Introduction To Communication And Professionalism For Paramedic Practice
      </a>
    </td>
    <td class="table--modules__credits">30 credits</td>
  </tr>
  <tr>
    <td>
      <a href="" >
        Vulnerable Groups And Social Determinants Of Healthcare
      </a>
    </td>
    <td class="table--modules__credits">15 credits</td>
  </tr>

  </tbody>
</table>
  </div>

  <div>
    <table class="table--modules">
      <caption class="visually-hidden">Year x compulsory modules</caption>
      <thead>
      <tr>
        <th colspan="2">Year x compulsory modules</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
            Introduction To Applied Clinical Paramedic Practice
        </td>
        <td class="table--modules__credits">30 credits</td>
      </tr>
      <tr>
        <td>
            Introduction To Biological Sciences And Pharmacology For Paramedic Practice
        </td>
        <td class="table--modules__credits">15 credits</td>
      </tr>
      <tr>
        <td>
            Lipsum has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </td>
        <td class="table--modules__credits">999 credits</td>
      </tr>
      <tr>
        <td>
            The founders of an immersive storytelling app have returned to their university stomping ground to film their latest episode.
        </td>
        <td class="table--modules__credits">999 credits</td>
      </tr>
      <tr>
        <td>
            Staffordshire University is going global with a programme packed full of free events to start the new decade.
        </td>
        <td class="table--modules__credits">999 credits</td>
      </tr>

      </tbody>
    </table>
  </div>

  <div>
    <table class="table--modules">
  <caption class="visually-hidden">Year x compulsory modules</caption>
  <thead>
  <tr>
    <th colspan="2">Year x compulsory modules</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <a href="">
        Introduction To Applied Clinical Paramedic Practice
      </a>
    </td>
    <td class="table--modules__credits">30 credits</td>
  </tr>
  <tr>
    <td>
      <a href="">
        Introduction To Biological Sciences And Pharmacology For Paramedic Practice
      </a>
    </td>
    <td class="table--modules__credits">15 credits</td>
  </tr>
  <tr>
    <td>
      <a href="" >
        Introduction To Clinical Skills For Paramedic Practice
      </a>
    </td>
    <td class="table--modules__credits">30 credits</td>
  </tr>
  <tr>
    <td>
      <a href="" ">
        Introduction To Communication And Professionalism For Paramedic Practice
      </a>
    </td>
    <td class="table--modules__credits">30 credits</td>
  </tr>
  <tr>
    <td>
      <a href="" >
        Vulnerable Groups And Social Determinants Of Healthcare
      </a>
    </td>
    <td class="table--modules__credits">15 credits</td>
  </tr>

  </tbody>
</table>
  </div>

  <div>
    <table class="table--modules">
      <caption class="visually-hidden">Year x compulsory modules</caption>
      <thead>
      <tr>
        <th colspan="2">Year x compulsory modules</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
            Introduction To Applied Clinical Paramedic Practice
        </td>
        <td class="table--modules__credits">30 credits</td>
      </tr>
      <tr>
        <td>
          <a href="">
            Introduction To Biological Sciences And Pharmacology For Paramedic Practice
          </a>
        </td>
        <td class="table--modules__credits">15 credits</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
  </section>

  <section class="tabs__section" id="section-two">
    <div class="slider--modules  js-slider--variable">
  <div>
    <table class="table--modules">
  <caption class="visually-hidden">Year x compulsory modules</caption>
  <thead>
  <tr>
    <th colspan="2">Year x compulsory modules</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <a href="">
        Introduction To Applied Clinical Paramedic Practice
      </a>
    </td>
    <td class="table--modules__credits">30 credits</td>
  </tr>
  <tr>
    <td>
      <a href="">
        Introduction To Biological Sciences And Pharmacology For Paramedic Practice
      </a>
    </td>
    <td class="table--modules__credits">15 credits</td>
  </tr>
  <tr>
    <td>
      <a href="" >
        Introduction To Clinical Skills For Paramedic Practice
      </a>
    </td>
    <td class="table--modules__credits">30 credits</td>
  </tr>
  <tr>
    <td>
      <a href="" ">
        Introduction To Communication And Professionalism For Paramedic Practice
      </a>
    </td>
    <td class="table--modules__credits">30 credits</td>
  </tr>
  <tr>
    <td>
      <a href="" >
        Vulnerable Groups And Social Determinants Of Healthcare
      </a>
    </td>
    <td class="table--modules__credits">15 credits</td>
  </tr>

  </tbody>
</table>
  </div>

  <div>
    <table class="table--modules">
      <caption class="visually-hidden">Year x compulsory modules</caption>
      <thead>
      <tr>
        <th colspan="2">Year x compulsory modules</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
            Introduction To Applied Clinical Paramedic Practice
        </td>
        <td class="table--modules__credits">30 credits</td>
      </tr>
      <tr>
        <td>
            Introduction To Biological Sciences And Pharmacology For Paramedic Practice
        </td>
        <td class="table--modules__credits">15 credits</td>
      </tr>
      <tr>
        <td>
            Lipsum has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </td>
        <td class="table--modules__credits">999 credits</td>
      </tr>
      <tr>
        <td>
            The founders of an immersive storytelling app have returned to their university stomping ground to film their latest episode.
        </td>
        <td class="table--modules__credits">999 credits</td>
      </tr>
      <tr>
        <td>
            Staffordshire University is going global with a programme packed full of free events to start the new decade.
        </td>
        <td class="table--modules__credits">999 credits</td>
      </tr>

      </tbody>
    </table>
  </div>

  <div>
    <table class="table--modules">
  <caption class="visually-hidden">Year x compulsory modules</caption>
  <thead>
  <tr>
    <th colspan="2">Year x compulsory modules</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <a href="">
        Introduction To Applied Clinical Paramedic Practice
      </a>
    </td>
    <td class="table--modules__credits">30 credits</td>
  </tr>
  <tr>
    <td>
      <a href="">
        Introduction To Biological Sciences And Pharmacology For Paramedic Practice
      </a>
    </td>
    <td class="table--modules__credits">15 credits</td>
  </tr>
  <tr>
    <td>
      <a href="" >
        Introduction To Clinical Skills For Paramedic Practice
      </a>
    </td>
    <td class="table--modules__credits">30 credits</td>
  </tr>
  <tr>
    <td>
      <a href="" ">
        Introduction To Communication And Professionalism For Paramedic Practice
      </a>
    </td>
    <td class="table--modules__credits">30 credits</td>
  </tr>
  <tr>
    <td>
      <a href="" >
        Vulnerable Groups And Social Determinants Of Healthcare
      </a>
    </td>
    <td class="table--modules__credits">15 credits</td>
  </tr>

  </tbody>
</table>
  </div>

  <div>
    <table class="table--modules">
      <caption class="visually-hidden">Year x compulsory modules</caption>
      <thead>
      <tr>
        <th colspan="2">Year x compulsory modules</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
            Introduction To Applied Clinical Paramedic Practice
        </td>
        <td class="table--modules__credits">30 credits</td>
      </tr>
      <tr>
        <td>
          <a href="">
            Introduction To Biological Sciences And Pharmacology For Paramedic Practice
          </a>
        </td>
        <td class="table--modules__credits">15 credits</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
  </section>

  <section class="tabs__section" id="third-section">
    <div class="slider--modules  js-slider--variable">
  <div>
    <table class="table--modules">
  <caption class="visually-hidden">Year x compulsory modules</caption>
  <thead>
  <tr>
    <th colspan="2">Year x compulsory modules</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <a href="">
        Introduction To Applied Clinical Paramedic Practice
      </a>
    </td>
    <td class="table--modules__credits">30 credits</td>
  </tr>
  <tr>
    <td>
      <a href="">
        Introduction To Biological Sciences And Pharmacology For Paramedic Practice
      </a>
    </td>
    <td class="table--modules__credits">15 credits</td>
  </tr>
  <tr>
    <td>
      <a href="" >
        Introduction To Clinical Skills For Paramedic Practice
      </a>
    </td>
    <td class="table--modules__credits">30 credits</td>
  </tr>
  <tr>
    <td>
      <a href="" ">
        Introduction To Communication And Professionalism For Paramedic Practice
      </a>
    </td>
    <td class="table--modules__credits">30 credits</td>
  </tr>
  <tr>
    <td>
      <a href="" >
        Vulnerable Groups And Social Determinants Of Healthcare
      </a>
    </td>
    <td class="table--modules__credits">15 credits</td>
  </tr>

  </tbody>
</table>
  </div>

  <div>
    <table class="table--modules">
      <caption class="visually-hidden">Year x compulsory modules</caption>
      <thead>
      <tr>
        <th colspan="2">Year x compulsory modules</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
            Introduction To Applied Clinical Paramedic Practice
        </td>
        <td class="table--modules__credits">30 credits</td>
      </tr>
      <tr>
        <td>
            Introduction To Biological Sciences And Pharmacology For Paramedic Practice
        </td>
        <td class="table--modules__credits">15 credits</td>
      </tr>
      <tr>
        <td>
            Lipsum has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </td>
        <td class="table--modules__credits">999 credits</td>
      </tr>
      <tr>
        <td>
            The founders of an immersive storytelling app have returned to their university stomping ground to film their latest episode.
        </td>
        <td class="table--modules__credits">999 credits</td>
      </tr>
      <tr>
        <td>
            Staffordshire University is going global with a programme packed full of free events to start the new decade.
        </td>
        <td class="table--modules__credits">999 credits</td>
      </tr>

      </tbody>
    </table>
  </div>

  <div>
    <table class="table--modules">
  <caption class="visually-hidden">Year x compulsory modules</caption>
  <thead>
  <tr>
    <th colspan="2">Year x compulsory modules</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <a href="">
        Introduction To Applied Clinical Paramedic Practice
      </a>
    </td>
    <td class="table--modules__credits">30 credits</td>
  </tr>
  <tr>
    <td>
      <a href="">
        Introduction To Biological Sciences And Pharmacology For Paramedic Practice
      </a>
    </td>
    <td class="table--modules__credits">15 credits</td>
  </tr>
  <tr>
    <td>
      <a href="" >
        Introduction To Clinical Skills For Paramedic Practice
      </a>
    </td>
    <td class="table--modules__credits">30 credits</td>
  </tr>
  <tr>
    <td>
      <a href="" ">
        Introduction To Communication And Professionalism For Paramedic Practice
      </a>
    </td>
    <td class="table--modules__credits">30 credits</td>
  </tr>
  <tr>
    <td>
      <a href="" >
        Vulnerable Groups And Social Determinants Of Healthcare
      </a>
    </td>
    <td class="table--modules__credits">15 credits</td>
  </tr>

  </tbody>
</table>
  </div>

  <div>
    <table class="table--modules">
      <caption class="visually-hidden">Year x compulsory modules</caption>
      <thead>
      <tr>
        <th colspan="2">Year x compulsory modules</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
            Introduction To Applied Clinical Paramedic Practice
        </td>
        <td class="table--modules__credits">30 credits</td>
      </tr>
      <tr>
        <td>
          <a href="">
            Introduction To Biological Sciences And Pharmacology For Paramedic Practice
          </a>
        </td>
        <td class="table--modules__credits">15 credits</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
  </section>

  <section class="tabs__section" id="section4">
    <div class="slider--modules  js-slider--variable">
  <div>
    <table class="table--modules">
  <caption class="visually-hidden">Year x compulsory modules</caption>
  <thead>
  <tr>
    <th colspan="2">Year x compulsory modules</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <a href="">
        Introduction To Applied Clinical Paramedic Practice
      </a>
    </td>
    <td class="table--modules__credits">30 credits</td>
  </tr>
  <tr>
    <td>
      <a href="">
        Introduction To Biological Sciences And Pharmacology For Paramedic Practice
      </a>
    </td>
    <td class="table--modules__credits">15 credits</td>
  </tr>
  <tr>
    <td>
      <a href="" >
        Introduction To Clinical Skills For Paramedic Practice
      </a>
    </td>
    <td class="table--modules__credits">30 credits</td>
  </tr>
  <tr>
    <td>
      <a href="" ">
        Introduction To Communication And Professionalism For Paramedic Practice
      </a>
    </td>
    <td class="table--modules__credits">30 credits</td>
  </tr>
  <tr>
    <td>
      <a href="" >
        Vulnerable Groups And Social Determinants Of Healthcare
      </a>
    </td>
    <td class="table--modules__credits">15 credits</td>
  </tr>

  </tbody>
</table>
  </div>

  <div>
    <table class="table--modules">
      <caption class="visually-hidden">Year x compulsory modules</caption>
      <thead>
      <tr>
        <th colspan="2">Year x compulsory modules</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
            Introduction To Applied Clinical Paramedic Practice
        </td>
        <td class="table--modules__credits">30 credits</td>
      </tr>
      <tr>
        <td>
            Introduction To Biological Sciences And Pharmacology For Paramedic Practice
        </td>
        <td class="table--modules__credits">15 credits</td>
      </tr>
      <tr>
        <td>
            Lipsum has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </td>
        <td class="table--modules__credits">999 credits</td>
      </tr>
      <tr>
        <td>
            The founders of an immersive storytelling app have returned to their university stomping ground to film their latest episode.
        </td>
        <td class="table--modules__credits">999 credits</td>
      </tr>
      <tr>
        <td>
            Staffordshire University is going global with a programme packed full of free events to start the new decade.
        </td>
        <td class="table--modules__credits">999 credits</td>
      </tr>

      </tbody>
    </table>
  </div>

  <div>
    <table class="table--modules">
  <caption class="visually-hidden">Year x compulsory modules</caption>
  <thead>
  <tr>
    <th colspan="2">Year x compulsory modules</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <a href="">
        Introduction To Applied Clinical Paramedic Practice
      </a>
    </td>
    <td class="table--modules__credits">30 credits</td>
  </tr>
  <tr>
    <td>
      <a href="">
        Introduction To Biological Sciences And Pharmacology For Paramedic Practice
      </a>
    </td>
    <td class="table--modules__credits">15 credits</td>
  </tr>
  <tr>
    <td>
      <a href="" >
        Introduction To Clinical Skills For Paramedic Practice
      </a>
    </td>
    <td class="table--modules__credits">30 credits</td>
  </tr>
  <tr>
    <td>
      <a href="" ">
        Introduction To Communication And Professionalism For Paramedic Practice
      </a>
    </td>
    <td class="table--modules__credits">30 credits</td>
  </tr>
  <tr>
    <td>
      <a href="" >
        Vulnerable Groups And Social Determinants Of Healthcare
      </a>
    </td>
    <td class="table--modules__credits">15 credits</td>
  </tr>

  </tbody>
</table>
  </div>

  <div>
    <table class="table--modules">
      <caption class="visually-hidden">Year x compulsory modules</caption>
      <thead>
      <tr>
        <th colspan="2">Year x compulsory modules</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
            Introduction To Applied Clinical Paramedic Practice
        </td>
        <td class="table--modules__credits">30 credits</td>
      </tr>
      <tr>
        <td>
          <a href="">
            Introduction To Biological Sciences And Pharmacology For Paramedic Practice
          </a>
        </td>
        <td class="table--modules__credits">15 credits</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
  </section>

  <section class="tabs__section" id="section5">
    <div class="slider--modules  js-slider--variable">
  <div>
    <table class="table--modules">
  <caption class="visually-hidden">Year x compulsory modules</caption>
  <thead>
  <tr>
    <th colspan="2">Year x compulsory modules</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <a href="">
        Introduction To Applied Clinical Paramedic Practice
      </a>
    </td>
    <td class="table--modules__credits">30 credits</td>
  </tr>
  <tr>
    <td>
      <a href="">
        Introduction To Biological Sciences And Pharmacology For Paramedic Practice
      </a>
    </td>
    <td class="table--modules__credits">15 credits</td>
  </tr>
  <tr>
    <td>
      <a href="" >
        Introduction To Clinical Skills For Paramedic Practice
      </a>
    </td>
    <td class="table--modules__credits">30 credits</td>
  </tr>
  <tr>
    <td>
      <a href="" ">
        Introduction To Communication And Professionalism For Paramedic Practice
      </a>
    </td>
    <td class="table--modules__credits">30 credits</td>
  </tr>
  <tr>
    <td>
      <a href="" >
        Vulnerable Groups And Social Determinants Of Healthcare
      </a>
    </td>
    <td class="table--modules__credits">15 credits</td>
  </tr>

  </tbody>
</table>
  </div>

  <div>
    <table class="table--modules">
      <caption class="visually-hidden">Year x compulsory modules</caption>
      <thead>
      <tr>
        <th colspan="2">Year x compulsory modules</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
            Introduction To Applied Clinical Paramedic Practice
        </td>
        <td class="table--modules__credits">30 credits</td>
      </tr>
      <tr>
        <td>
            Introduction To Biological Sciences And Pharmacology For Paramedic Practice
        </td>
        <td class="table--modules__credits">15 credits</td>
      </tr>
      <tr>
        <td>
            Lipsum has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </td>
        <td class="table--modules__credits">999 credits</td>
      </tr>
      <tr>
        <td>
            The founders of an immersive storytelling app have returned to their university stomping ground to film their latest episode.
        </td>
        <td class="table--modules__credits">999 credits</td>
      </tr>
      <tr>
        <td>
            Staffordshire University is going global with a programme packed full of free events to start the new decade.
        </td>
        <td class="table--modules__credits">999 credits</td>
      </tr>

      </tbody>
    </table>
  </div>

  <div>
    <table class="table--modules">
  <caption class="visually-hidden">Year x compulsory modules</caption>
  <thead>
  <tr>
    <th colspan="2">Year x compulsory modules</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <a href="">
        Introduction To Applied Clinical Paramedic Practice
      </a>
    </td>
    <td class="table--modules__credits">30 credits</td>
  </tr>
  <tr>
    <td>
      <a href="">
        Introduction To Biological Sciences And Pharmacology For Paramedic Practice
      </a>
    </td>
    <td class="table--modules__credits">15 credits</td>
  </tr>
  <tr>
    <td>
      <a href="" >
        Introduction To Clinical Skills For Paramedic Practice
      </a>
    </td>
    <td class="table--modules__credits">30 credits</td>
  </tr>
  <tr>
    <td>
      <a href="" ">
        Introduction To Communication And Professionalism For Paramedic Practice
      </a>
    </td>
    <td class="table--modules__credits">30 credits</td>
  </tr>
  <tr>
    <td>
      <a href="" >
        Vulnerable Groups And Social Determinants Of Healthcare
      </a>
    </td>
    <td class="table--modules__credits">15 credits</td>
  </tr>

  </tbody>
</table>
  </div>

  <div>
    <table class="table--modules">
      <caption class="visually-hidden">Year x compulsory modules</caption>
      <thead>
      <tr>
        <th colspan="2">Year x compulsory modules</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
            Introduction To Applied Clinical Paramedic Practice
        </td>
        <td class="table--modules__credits">30 credits</td>
      </tr>
      <tr>
        <td>
          <a href="">
            Introduction To Biological Sciences And Pharmacology For Paramedic Practice
          </a>
        </td>
        <td class="table--modules__credits">15 credits</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
  </section>
</div>
