

<ul class="list--inline">
  <li><span class="tag">tag</span></li>
  <li><span class="tag">long tag</span></li>
  <li><span class="tag">really long tag</span></li>
  <li><span class="tag">even looooonger tag</span></li>
</ul>

<ul class="list--inline">
  <li><a href="#" class="tag">link</a></li>
  <li><a href="#" class="tag">long link</a></li>
  <li><a href="#" class="tag">really long tag</a></li>
  <li><a href="#" class="tag">even looooonger tag</a></li>
</ul>

<ul class="list--inline">
  <li><span class="tag  tag--narrow">narrow tags</span></li>
  <li><span class="tag  tag--narrow">have less padding</span></li>
  <li><span class="tag  tag--narrow">at the sides</span></li>
</ul>

<ul class="list--inline">
  <li><span class="tag  tag--red">red tag</span></li>
  <li><span class="tag  tag--pink">pink tag</span></li>
  <li><span class="tag  tag--maroon">maroon tag</span></li>
  <li><span class="tag  tag--slate">slate tag</span></li>
  <li><span class="tag  tag--red  tag--not-rounded">red tag without rounded edges</span></li>
</ul>

<span class="tag">solitary tag</span>

<a href="#" class="tag">solitary linked tag</a>
