


<p>These can be styled with a modifier, which will cascade to the <code>title__highlight</code></p>

<div class="grid  grid--flush  grid-2-cols@mobile-wide  grid-3-cols@tablet-wide">
  <article aria-title="tile--accent-burgundy">
    <a class="tile  tile--accent-burgundy" href="">
      <figure class="tile__figure">
        <img src="https://picsum.photos/500/500?random=1" class="tile__img" alt=""/>
      </figure>

      <div class="tile__content">
        <div class="title tile__title">
          <h3 class="h4  title__highlight">tile--accent-burgundy</h3>
        </div>
        <div class="tile__content-body">
          <p>Reach your full potential with our postgraduate courses.</p>
        </div>
      </div>
    </a>
  </article>
  
  <article aria-title="tile--accent-dark-blue">
    <a class="tile  tile--accent-dark-blue" href="">
      <figure class="tile__figure">
        <img src="https://picsum.photos/500/500?random=2" class="tile__img" alt=""/>
      </figure>

      <div class="tile__content">
        <div class="title tile__title">
          <h3 class="h4  title__highlight">tile--accent-dark-blue</h3>
        </div>
        <div class="tile__content-body">
          <p>Reach your full potential with our postgraduate courses.</p>
        </div>
      </div>
    </a>
  </article>

  <article aria-title="tile--accent-digital-blue">
    <a class="tile  tile--accent-digital-blue" href="">
      <figure class="tile__figure">
        <img src="https://picsum.photos/500/500?random=3" class="tile__img" alt=""/>
      </figure>

      <div class="tile__content">
        <div class="title tile__title">
          <h3 class="h4  title__highlight">tile--accent-digital-blue</h3>
        </div>
        <div class="tile__content-body">
          <p>Study with us, no matter where in the world you come from.</p>
        </div>
      </div>
    </a>
  </article>

  <article aria-title="tile--accent-grey">
    <a class="tile  tile--accent-grey" href="">
      <figure class="tile__figure">
        <img src="https://picsum.photos/500/500?random=4" class="tile__img" alt=""/>
      </figure>

      <div class="tile__content">
        <div class="title tile__title">
          <h3 class="h4  title__highlight">tile--accent-grey</h3>
        </div>
        <div class="tile__content-body">
          <p>Reach your full potential with our postgraduate courses.</p>
        </div>
      </div>
    </a>
  </article>

  <article aria-title="tile--accent-neon">
    <a class="tile  tile--accent-neon" href="">
      <figure class="tile__figure">
        <img src="https://picsum.photos/500/500?random=5" class="tile__img" alt=""/>
      </figure>

      <div class="tile__content">
        <div class="title tile__title">
          <h3 class="h4  title__highlight">tile--accent-neon</h3>
        </div>
        <div class="tile__content-body">
          <p>Study Esports, Computer Games Design, Cyber Security, and more, with us in London.</p>
        </div>
      </div>
    </a>
  </article>

  <article aria-title="tile--accent-lavender">
    <a class="tile  tile--accent-lavender" href="">
      <figure class="tile__figure">
        <img src="https://picsum.photos/500/500?random=6" class="tile__img" alt=""/>
      </figure>

      <div class="tile__content">
        <div class="title tile__title">
          <h3 class="h4  title__highlight">tile--accent-lavender</h3>
        </div>
        <div class="tile__content-body">
          <p>Apply for a full-time undergraduate degree at University of Staffordshire and get guaranteed accommodation.</p>
        </div>
      </div>
    </a>
  </article>

  <article aria-title="tile--accent-neon-light">
    <a class="tile  tile--accent-neon-light" href="">
      <figure class="tile__figure">
        <img src="https://picsum.photos/500/500?random=7" class="tile__img" alt=""/>
      </figure>

      <div class="tile__content">
        <div class="title tile__title">
          <h3 class="h4  title__highlight">tile--accent-neon-light</h3>
        </div>
        <div class="tile__content-body">
          <p>Apply for a full-time undergraduate degree at University of Staffordshire and get guaranteed accommodation.</p>
        </div>
      </div>
    </a>
  </article>

  <article aria-title="tile--accent-pale-blue">
    <a class="tile  tile--accent-pale-blue" href="">
      <figure class="tile__figure">
        <img src="https://picsum.photos/500/500?random=8" class="tile__img" alt=""/>
      </figure>

      <div class="tile__content">
        <div class="title tile__title">
          <h3 class="h4  title__highlight">tile--accent-pale-blue</h3>
        </div>
        <div class="tile__content-body">
          <p>Apply for a full-time undergraduate degree at University of Staffordshire and get guaranteed accommodation.</p>
        </div>
      </div>
    </a>
  </article>

  <article aria-title="tile--accent-peach">
    <a class="tile  tile--accent-peach" href="">
      <figure class="tile__figure">
        <img src="https://picsum.photos/500/500?random=9" class="tile__img" alt=""/>
      </figure>

      <div class="tile__content">
        <div class="title tile__title">
          <h3 class="h4  title__highlight">tile--accent-peach</h3>
        </div>
        <div class="tile__content-body">
          <p>Apply for a full-time undergraduate degree at University of Staffordshire and get guaranteed accommodation.</p>
        </div>
      </div>
    </a>
  </article>

  <article aria-title="tile--accent-teal">
    <a class="tile  tile--accent-teal" href="">
      <figure class="tile__figure">
        <img src="https://picsum.photos/500/500?random=10" class="tile__img" alt=""/>
      </figure>

      <div class="tile__content">
        <div class="title tile__title">
          <h3 class="h4  title__highlight">tile--accent-teal</h3>
        </div>
        <div class="tile__content-body">
          <p>Apply for a full-time undergraduate degree at University of Staffordshire and get guaranteed accommodation.</p>
        </div>
      </div>
    </a>
  </article>

  <article aria-title="tile--accent-yellow-light">
    <a class="tile  tile--accent-yellow-light" href="">
      <figure class="tile__figure">
        <img src="https://picsum.photos/500/500?random=11" class="tile__img" alt=""/>
      </figure>

      <div class="tile__content">
        <div class="title tile__title">
          <h3 class="h4  title__highlight">tile--accent-yellow-light</h3>
        </div>
        <div class="tile__content-body">
          <p>Apply for a full-time undergraduate degree at University of Staffordshire and get guaranteed accommodation.</p>
        </div>
      </div>
    </a>
  </article>

</div>

