

<div class="box  box--bg-slate">
  <div class="box__content">
    








<div class="title">
  <h1 class="">
  This is an H1
</h1>
</div>

    








<div class="title">
  <h2 class="  h3">
  This is an H2 styled as an H3
</h2>
</div>

    



  






<div class="title  title--bg-white">
  <p class="">
  This is a paragraph on white
</p>
</div>

    



  






<div class="title  title--bg-dark-blue">
  <h2 class="">
  This is an H2 on dark blue
</h2>
</div>

    



  






<div class="title  title--bg-digital-blue">
  <h4 class="">
  This is an H4 on digital blue
</h4>
</div>

    



  






<div class="title  title--bg-neon">
  <p class="">
  This is a paragraph on neon
</p>
</div>
  </div>
</div>
