


<p>Modifiers are in the <code>$tile-accent-colors</code> map in <code>_main-ldn.scss</code>, currently:</p>

<ul class="list--inline">
  <li><code>bg-white</code></li>
  <li><code>bg-blue-ldn</code></li>
  <li><code>bg-blue-deep-ldn</code></li>
  <li><code>bg-magenta-ldn</code></li>
  <li><code>bg-purple-deep-ldn</code></li>
  <li><code>bg-tef-gold</code></li>
</ul>

<div class="box  box--bg-slate">
  <div class="box__content">
    





  




<div class="title  title--has-tail">
  <h1 class="title__highlight">
  This is an H1 with a tail
</h1>
</div>










    








<div class="title">
  <h2 class="title__highlight  h3">
  This is an H2 styled as an H3
</h2>
</div>










    




  


  




<div class="title  title--bg-white  title--has-tail">
  <p class="title__highlight">
  This is a paragraph on white with a tail
</p>
</div>










    




  





<div class="title  title--bg-purple-deep-ldn">
  <h2 class="title__highlight">
  H2 on purple-deep-ldn
</h2>
</div>










    




  





<div class="title  title--bg-blue-ldn">
  <h4 class="title__highlight">
  This is an H4 on blue-ldn
</h4>
</div>










    




  





<div class="title  title--bg-magenta-ldn">
  <p class="title__highlight">
  This is a paragraph on magenta with a tail
</p>
</div>









  </div>
</div>

<div class="box  box--bg-offwhite">
  <div class="box__content">

    



  






<div class="title  title--has-tail">
  <h1 class="title__highlight">
  This is an H1 with a tail
</h1>
</div>










    



  






<div class="title  title--has-tail">
  <h2 class="title__highlight">
  This is an H2 with a tail
</h2>
</div>










    



  






<div class="title  title--has-tail">
  <h3 class="title__highlight">
  This is an H3 with a tail
</h3>
</div>










    



  






<div class="title  title--has-tail">
  <h4 class="title__highlight">
  This is an H4 with a tail
</h4>
</div>










    



  






<div class="title  title--has-tail">
  <h5 class="title__highlight">
  This is an H5 with a tail
</h5>
</div>










    



  






<div class="title  title--has-tail">
  <h6 class="title__highlight">
  This is an H6 with a tail
</h6>
</div>










    



  

  






<div class="title  title--bg-white  title--has-tail">
  <p class="title__highlight">
  This is a paragraph on white with a tail
</p>
</div>










  </div>
</div>
