

<article class="webinar" aria-label="The long march to critical pedagogy: and why the journey matters?">
    <div class="title">
        <h2>The long march to critical pedagogy: and why the journey matters?</h2>
    </div>
    <div class="grid">
        <div class="col-1/2@tablet  webinar__video">
            <div class="ratio  ratio--16x9">
                <iframe src="https://www.youtube.com/embed/MMXaXDIHFJ8" title="Video: The long march to critical pedagogy: and why the journey matters?"></iframe>
            </div>
        </div>
        <div class="col-1/2@tablet  webinar__description">
            <ul class="list--inline-bulleted">
                <li>
                    <a href="/people/stella-jones-devitt">Stella Jones-Devitt</a>
                </li>
            </ul>
            <p>This inaugural lecture presents a challenge. As Giroux (2013) notes there is a need to invent modes of pedagogy that release the imagination, connect learning to social change and create social relations in which people assume responsibility for each other. Yet why do we find this so difficult in higher education?
Stella Jones-Devitt recounts some of her struggles and triumphs along the way in trying to make learning engaging for all, whatever the starting point. Within this lecture, she hopes there will be something useful for everyone, concerning her forays with donkey rides, origami frog-making, osmotic walls, zombies and more.</p>
        </div>
    </div>
</article>
