

<p><strong>Useful Note</strong>: Images are <code>img</code> elements not backgrounds, sized with object fit so they can take advantage of srcset if possible. Add an inline style [x/y] of <code>object-position</code> to set the focal point for the image, eg. <code>style="object-position: 70% 20%"</code> for an image with a focal point towards the top right.</p>

<hr/>

<div class="zebra">
  <div class="zebra__row">
    <figure class="zebra__figure">
      <img src="https://picsum.photos/600/400?random=1" style="object-position: 50% 50%" />
    </figure>


    <div class="zebra__body">
      <header class="title  zebra__title">
        <h2 class="h4  title__highlight">Welcome Talks</h2>
      </header>

      <p>Once you’ve registered on the day, make your way to one of our welcome talks that run from 9.30am until 1pm. Here you’ll find out everything you need to know about our institution, the surrounding area, and why all our students and staff are <a href="">#ProudToBeStaffs</a>.</p>
    </div>
  </div>

  <div class="zebra__row">
    <figure class="zebra__figure">
      <img src="https://picsum.photos/600/400?random=2" style="object-position: 50% 50%" />
    </figure>


    <div class="zebra__body">
      <header class="title  zebra__title">
        <h2 class="h4  title__highlight">A title that's very long that will probably-need to wrap to two lines</h2>
      </header>

      <p>The founders of an immersive storytelling app have returned to their university stomping ground to film their latest episode. Staffordshire University is going global with a programme packed full of free events to start the new decade.</p>
      <p>2020 marks the International Year of the Nurse and Midwife, and Staffordshire University is joining colleagues across the globe to shine a spotlight on the sector. Celebrations kick off with a talk this week by Visiting Professor Ann-Marie Cannaby, Chief Nurse at the Royal Wolverhampton Hospital, at the University’s Centre of Excellence in Healthcare Education, Stafford.Two hundred years may have passed since the birth of Florence Nightingale, but patient care and safety remain the most important influencing factors within the fields of nursing and midwifery. Professor Cannaby will use her keynote presentation to explore curriculum developments.</p>
    </div>
  </div>

  <div class="zebra__row">
    <figure class="zebra__figure">
      <img src="https://picsum.photos/600/400?random=3" style="object-position: 50% 50%" />
    </figure>


    <div class="zebra__body">
      <header class="title  zebra__title">
        <h2 class="h4  title__highlight">Enjoying the View? How computer games can help evaluate landscapes</h2>
      </header>

      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
  </div>
</div>
