<div class="card  card--flex  card--maroon">
  <figure class="card__figure">
    <img src="https://picsum.photos/480/240?random=1" alt=""/>
  </figure>

  <div class="card__content">
    <h3 class="h4  card__title"><a href="#" class="link--stretched">Biological Science BA(Hons)/ MSci</a></h3>
    <p>Optional pathways in Pre-med, Genomics , and Ecoloy and Environmental management</p>

    <dl class="meta--inline-dd">
      <div class="meta__item">
        <dt>Study Options</dt>
        <dd>Full time</dd>
        <dd>Part time</dd>
        <dd>Foundation Year</dd>
        <dd>Placement Year</dd>
        <dd>Integrated Masters (MSci)</dd>
      </div>
    </dl>
  </div>
</div>

<div class="card  card--flex  card--maroon">
  <div class="card__content">
    <h3 class="h4  card__title"><a href="#" class="link--stretched">No image variant, just by omitting the card's figure</a></h3>
    <p>Optional pathways in Pre-med, Genomics , and Ecoloy and Environmental management</p>

    <dl class="meta--inline-dd">
      <div class="meta__item">
        <dt>Study Options</dt>
        <dd>Full time</dd>
        <dd>Part time</dd>
        <dd>Foundation Year</dd>
        <dd>Placement Year</dd>
        <dd>Integrated Masters (MSci)</dd>
      </div>
    </dl>

    <span class="card__clearing-flag">Available in Clearing</span>
  </div>
</div>

<hr/>

<div class="grid  grid-3-cols">

  <div>
    <div class="card  card--flex  card--maroon">
      <figure class="card__figure">
        <img src="https://picsum.photos/480/240?random=2" alt=""/>
      </figure>

      <div class="card__content">
        <h3 class="h5  card__title"><a href="#">Biological Science BA(Hons)/ MSci</a></h3>
        <p>Optional pathways in Pre-med, Genomics , and Ecoloy and Environmental management</p>

        <dl class="meta--inline-dd">
          <div class="meta__item">
            <dt>Study Options</dt>
            <dd>Full time</dd>
            <dd>Part time</dd>
            <dd>Foundation Year</dd>
            <dd>Placement Year</dd>
            <dd>Integrated Masters (MSci)</dd>
          </div>
        </dl>
      </div>
    </div>
  </div>

  <div>
    <div class="card  card--flex  card--maroon">
      <figure class="card__figure">
        <img src="https://picsum.photos/480/240?random=3" alt=""/>
      </figure>

      <div class="card__content">
        <h3 class="h5  card__title"><a href="#">Biological Science BA(Hons)/ MSci</a></h3>
        <p>Optional pathways in Pre-med, Genomics , and Ecoloy and Environmental management</p>

        <dl class="meta--inline-dd">
          <div class="meta__item">
            <dt>Study Options</dt>
            <dd>Full time</dd>
            <dd>Part time</dd>
            <dd>Foundation Year</dd>
            <dd>Placement Year</dd>
            <dd>Integrated Masters (MSci)</dd>
          </div>
        </dl>
        <span class="card__clearing-flag">Available in Clearing</span>
      </div>
    </div>
  </div>

  <div>
    <div class="card  card--flex  card--maroon">
      <figure class="card__figure">
        <img src="https://picsum.photos/480/240?random=4" alt=""/>
      </figure>

      <div class="card__content">
        <h3 class="h5  card__title"><a href="#">Biological Science BA(Hons)/ MSci</a></h3>
        <p>Optional pathways in Pre-med, Genomics , and Ecoloy and Environmental management</p>

        <dl class="meta--inline-dd">
          <div class="meta__item">
            <dt>Study Options</dt>
            <dd>Full time</dd>
            <dd>Part time</dd>
            <dd>Foundation Year</dd>
            <dd>Placement Year</dd>
            <dd>Integrated Masters (MSci)</dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
</div>

<hr/>

<h2>With <code>link--stretched</code></h2>
<p>These cards have a class of <code>link--stretched</code> on their link so the linked area fills the entire card. <strong>NB: This will not work if using a link inside <code>title__highlight</code> style, as these require relative positioning for reasons.</strong>

<div class="grid  grid-4-cols">
  <div>
    <div class="card  card--flex  card--red">
      <figure class="card__figure">
        <img src="https://picsum.photos/480/240?random=5" alt=""/>
      </figure>

      <div class="card__content">
        <h3 class="h5  card__title"><a href="#" class="link--stretched">Biological Science BA(Hons)/ MSci</a></h3>
        <p>Optional pathways in Pre-med, Genomics , and Ecoloy and Environmental management</p>

        <dl class="meta--inline-dd">
          <div class="meta__item">
            <dt>Study Options</dt>
            <dd>Full time</dd>
            <dd>Part time</dd>
            <dd>Foundation Year</dd>
            <dd>Placement Year</dd>
            <dd>Integrated Masters (MSci)</dd>
          </div>
        </dl>
      </div>
    </div>
  </div>

  <div>
    <div class="card  card--flex  card--slate">
      <figure class="card__figure">
        <img src="https://picsum.photos/480/240?random=6" alt=""/>
      </figure>

      <div class="card__content">
        <h3 class="h5  card__title"><a href="#" class="link--stretched">Biological Science BA(Hons)/ MSci</a></h3>
        <p>Optional pathways in Pre-med, Genomics , and Ecoloy and Environmental management</p>

        <dl class="meta--inline-dd">
          <div class="meta__item">
            <dt>Study Options</dt>
            <dd>Full time</dd>
            <dd>Part time</dd>
            <dd>Foundation Year</dd>
            <dd>Placement Year</dd>
            <dd>Integrated Masters (MSci)</dd>
          </div>
        </dl>
      </div>
    </div>
  </div>

  <div>
    <div class="card  card--flex  card--maroon">
      <figure class="card__figure">
        <img src="https://picsum.photos/480/240?random=7" alt=""/>
      </figure>

      <div class="card__content">
        <h3 class="h5  card__title"><a href="#" class="link--stretched">Biological Science BA(Hons)/ MSci</a></h3>
        <p>Optional pathways in Pre-med, Genomics , and Ecoloy and Environmental management</p>

        <dl class="meta--inline-dd">
          <div class="meta__item">
            <dt>Study Options</dt>
            <dd>Full time</dd>
            <dd>Part time</dd>
            <dd>Foundation Year</dd>
            <dd>Placement Year</dd>
            <dd>Integrated Masters (MSci)</dd>
          </div>
        </dl>
      </div>
    </div>
  </div>

  <div>
    <div class="card  card--flex  card--pink">
      <figure class="card__figure">
        <img src="https://picsum.photos/480/240?random=8" alt=""/>
      </figure>

      <div class="card__content">
        <h3 class="h5  card__title"><a href="#" class="link--stretched">Biological Science BA(Hons)/ MSci</a></h3>
        <p>Optional pathways in Pre-med, Genomics , and Ecoloy and Environmental management</p>

        <dl class="meta--inline-dd">
          <div class="meta__item">
            <dt>Study Options</dt>
            <dd>Full time</dd>
            <dd>Part time</dd>
            <dd>Foundation Year</dd>
            <dd>Placement Year</dd>
            <dd>Integrated Masters (MSci)</dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
</div>