<div class="card  card--red">
  {% if figureImg %}
    <figure class="card__figure">
    </figure>
  {% endif %}
  <div class="card__content">
    <h3 class="h4 card__title"><a href="#" class="">Card Title (linked)</a></h3>
    <p>In addition to the recommendation from your Assessment Centre report:. If you are blind or have a visual impairment we can refer you for specialist support.</p>
    <p>{{ lorem }}</p>
  </div>
</div>