<div class="grid  grid-2-cols@tablet">
  <div>
    <article class="card  card--with-logo" aria-label="Card Title">
      <a href="#">
        <div class="card__content">
          <div class="title">
            <h3 class="h4  title__highlight">Card Title</h3>
          </div>
          <p>In addition to the recommendation from your Assessment Centre report: If you are blind or have a visual impairment we can refer you for specialist support.</p>
        </div>
        <div class="card__figure">
          <img src="https://picsum.photos/400/400?random=1" alt="" />
        </div>
      </a>
    </article>
  </div>
  <div>
    <article class="card  card--with-logo" aria-label="Card Title">
      <a href="#">
        <div class="card__content">
          <div class="title">
            <h3 class="h4  title__highlight">Card Title</h3>
          </div>
          <p>If you are blind or have a visual impairment we can refer you for specialist support.</p>
        </div>
        <div class="card__figure">
          <img src="https://picsum.photos/600/250?random=2" alt="" />
        </div>
      </a>
    </article>
  </div>
</div>