<div class="card  card--testimonial">
  <div class="card__content">
    <blockquote>
      <figure class="blockquote__figure  align-right  align-size-md">
        <img src="https://picsum.photos/480/480?random=1" alt=""/>
      </figure>

      <q class="blockquote__title">Great relationships with leading institutions</q>

      <div class="blockquote__prose">
        <p>I really enjoy the broad range of psycholoy content, the tutors are supportive and really helpful!</p>
        <p>The facilities are perfect with very advanced equipment, making my studies even m oreinteresting. I particularly enjoy studies in anxiety and how this can influence sports performance. The facilities are perfect with very advanced equipment, making my studies even m oreinteresting. I particularly enjoy studies in anxiety and how this can influence sports performance.</p>
        <p>The facilities are perfect with very advanced equipment, making my studies even m oreinteresting. I particularly enjoy studies in anxiety and how this can influence sports performance. </p>
      </div>

      <footer class="blockquote__footer">
        <p class="cite">Christie Scanion, Graduate </p>
        <p>BA(Hons) Sports Development and Coaching (Former title of our Sports Coaching degree)</p>
      </footer>
    </blockquote>
  </div>
</div>

<hr/>

<div class="grid  grid-2-cols@tablet">
  <div>
    <div class="card  card--testimonial">
      <div class="card__content">
        <blockquote class="blockquote--large">
          <figure class="blockquote__figure  align-right  align-size-md">
            <img src="https://picsum.photos/480/480?random=2" alt=""/>
          </figure>

          <q class="blockquote__title">Great relationships with leading institutions</q>

          <div class="blockquote__prose">
            <p>Thanks to Staffordshire University, I felt I could connect, converse and engage with professionals. Thanks to Staffordshire University, I felt I could connect, converse and engage with professionals.</p>
          </div>

          <footer class="blockquote__footer">
            <p class="cite">Sarah Jones</p>
            <p>Digital Design</p>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>

  <div>
    <div class="card  card--testimonial  card--maroon">
      <div class="card__content">
        <blockquote>
          <figure class="blockquote__figure  align-right  align-size-md">
            <img src="https://picsum.photos/480/480?random=3" alt=""/>
          </figure>

          <q class="blockquote__title">Great relationships with leading institutions</q>

          <div class="blockquote__prose">
            <p>I really enjoy the broad range of psycholoy content, the tutors are supportive and really helpful!</p>
            <p>The facilities are perfect with very advanced equipment, making my studies even m oreinteresting. I particularly enjoy studies in anxiety and how this can influence sports performance. The facilities are perfect with very advanced equipment, making my studies even m oreinteresting. I particularly enjoy studies in anxiety and how this can influence sports performance.</p>
            <p>The facilities are perfect with very advanced equipment, making my studies even m oreinteresting. I particularly enjoy studies in anxiety and how this can influence sports performance. </p>
          </div>

          <footer class="blockquote__footer">
            <p class="cite">Christie Scanion, Graduate </p>
            <p>BA(Hons) Sports Development and Coaching (Former title of our Sports Coaching degree)</p>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>

  <div>
    <div class="card  card--testimonial  card--pink">
      <div class="card__content">
        <blockquote class="blockquote--large">
          <figure class="blockquote__figure  align-right  align-size-md">
            <img src="https://picsum.photos/480/480?random=4" alt=""/>
          </figure>

          <q class="blockquote__title">Tutors are supportive and really helpful!</q>

          <div class="blockquote__prose">
            <p>Thanks to Staffordshire University, I felt I could connect, converse and engage with professionals. Thanks to Staffordshire University, I felt I could connect, converse and engage with professionals.</p>
          </div>

          <footer class="blockquote__footer">
            <p class="cite">Christie Scanion, Graduate </p>
            <p>BA(Hons) Sports Development and Coaching (Former title of our Sports Coaching degree)</p>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>

  <div>
    <div class="card  card--testimonial  card--slate">
      <div class="card__content">
        <blockquote>
          <figure class="blockquote__figure  align-right  align-size-md">
            <img src="https://picsum.photos/480/480?random=5" alt=""/>
          </figure>

          <q class="blockquote__title">Great relationships with leading institutions</q>

          <div class="blockquote__prose">
            <p>I really enjoy the broad range of psycholoy content, the tutors are supportive and really helpful!</p>
            <p>The facilities are perfect with very advanced equipment, making my studies even m oreinteresting. I particularly enjoy studies in anxiety and how this can influence sports performance. </p>
          </div>

          <footer class="blockquote__footer">
            <p class="cite">Christie Scanion, Graduate </p>
            <p>BA(Hons) Sports Development and Coaching (Former title of our Sports Coaching degree)</p>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</div>