<div class="grid  grid-3-cols">
  <div>
    <div class="card  card--ksp  card--pink">
      <div class="card__content">
        <i class="icon  h3  card--ksp__icon">
          <img src="{{ '/img/icon-moneybag-pink.svg' | path }}" alt="Description of image here please" />
        </i>
        <h2 class="h4  card__title">£11 million funding secured for business</h2>
        <p>Text describing the USP here which could if necessary have an arrow to denote link</p>
      </div>
    </div>
  </div>

  <div>
    <div class="card  card--ksp  card--red">
      <div class="card__content">
        <i class="icon  h3  card--ksp__icon">
          <img src="{{ '/img/icon-threepeople-red.svg' | path }}" alt="Description of image here please" />
        </i>
        <h2 class="h4  card__title">Over 400 regional vacancies filled</h2>
        <p>Text describing the USP here which could if necessary have an arrow to denote link</p>
      </div>
    </div>
  </div>

  <div>
    <div class="card  card--ksp  card--maroon">
      <div class="card__content">
        <i class="icon  h3  card--ksp__icon">
          <img src="{{ '/img/icon-circle-padlock-purple.svg' | path }}" alt="Description of image here please" />
        </i>
        <h2 class="h4  card__title">71% of our apprentices secure a permanent position</h2>
        <p>Text describing the USP here which could if necessary have an arrow to denote link</p>
      </div>
    </div>
  </div>
</div>