<div class="card  card--flex  card--course">
  <div class="card__content">
    <div class="tag  margin-bottom-md">Undergraduate</div>

    <h2 class="h4  card__title"><a href="">Biological Science BA(Hons)/ MSci</a></h2>
    <p>Optional pathways in Pre-med, Genomics , and Ecoloy and Environmental management</p>

    <dl class="meta--inline">
      <div class="meta__item">
        <dt>Study Options</dt>
        <dd>Full time</dd>
        <dd>Part time</dd>
        <dd>Foundation Year</dd>
        <dd>Placement Year</dd>
        <dd>Integrated Masters (MSci)</dd>
      </div>
      <div class="meta__item">
        <dt>UCAS Code:</dt>
        <dd>l614</dd>
        <dd>l615</dd>
      </div>
    </dl>
  </div>
</div>

<div class="card  card--flex  card--course">
  <div class="card__content">
    <div class="tag  margin-bottom-md">Undergraduate</div>

    <h2 class="h4  card__title"><a href="" class="link--stretched">Course With Stretched Link</a></h2>
    <p>Optional pathways in Pre-med, Genomics , and Ecoloy and Environmental management</p>

    <dl class="meta--inline">
      <div class="meta__item">
        <dt>Study Options</dt>
        <dd>Full time</dd>
        <dd>Part time</dd>
        <dd>Foundation Year</dd>
        <dd>Placement Year</dd>
        <dd>Integrated Masters (MSci)</dd>
      </div>
      <div class="meta__item">
        <dt>UCAS Code:</dt>
        <dd>l614</dd>
        <dd>l615</dd>
      </div>
    </dl>
  </div>
</div>
