<div class="grid  grid-3-cols@tablet-wide">
  <div>

    <div class="card  card--event  card--flex  card--maroon">
      <figure class="card__figure">
        <img src="https://picsum.photos/720/360?random=1" alt=""/>
      </figure>

      <div class="card__date">
        <span class="card__day">28</span>
        <span class="card__month">September</span>
      </div>

      <div class="card__content">
        <div class="title">
          <h2 class="h6  title__highlight"><a href="" class="">{{ placeholderHeadline2 }}</a></h2>
        </div>
        <p>{{ placeholderPara1 }}</p>
      </div>
    </div>
  </div>

  <div>
    <div class="card  card--event  card--flex  card--pink">
      <figure class="card__figure">
        <img src="https://picsum.photos/720/360?random=2" alt=""/>
      </figure>

      <div class="card__date">
        <span class="card__day">23</span>
        <span class="card__month">September</span>
      </div>

      <div class="card__content">
        <a href="" class="link--stretched">
          <div class="title">
            <h2 class="h6  title__highlight">{{ placeholderHeadline2 }}</h2>
          </div>
        </a>
        <p>Whole card linked using link--stretched. NB: This must sit outside/around the highlight title.</p>
      </div>
    </div>
  </div>

  <div>
    <div class="card  card--event  card--flex  card--red" href="">
      <div class="card__date">
        <span class="card__day">30</span>
        <span class="card__month">September</span>
      </div>

      <div class="card__content">
        <a href="" class="link--stretched">
          <div class="title">
            <h2 class="h6  title__highlight">{{ placeholderHeadline2 }}</h2>
          </div>
        </a>
        <p>Example without a figure image.</p>
      </div>
    </div>
  </div>
</div>