@use "../../assets/styles/__vars/colours";
@use "../../assets/styles/__vars/functions";
@use "../../assets/styles/__vars/spacing";
@use "../../assets/styles/__vars/typography";

.tile {
  // $tile-accent-colors: see __vars/colours

  position: relative;
  display: block;
  overflow: hidden;
  outline: 1px solid colours.$grey--light;
  box-shadow: 0 0.1em 0.25em rgba(0, 0, 0, 0.15);
  min-height: 10em;

  &__figure {
    position: relative;
    margin: 0;
    z-index: 0;

    img {
      transition: filter 250ms;
    }

    @supports (object-fit: cover) {
      img {
        height: 100%;
        max-height: 75vmin;
        object-fit: cover;
        object-position: center center;
      }
    }
  }

  &__content {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-right: 2rem;
    max-height: 90%;
    padding: 0 spacing.$spacing-md 1px;
    background: white;
    box-sizing: border-box;
    z-index: 1;

    &-body {
      @include typography.typescale('sm');
      @include typography.line-height('normal');

      & .button > .icon {
        margin-right: spacing.$spacing-2xs;
      }
    }
  }

  &--facility {
    margin-bottom: spacing.$spacing-xs;

    & .tile__content {
      position: static;
      margin-right: 0;
    }
  }

  &__caption {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-right: 2rem;
    max-height: 90%;
    z-index: 1;
    padding: 0;
    border: 0;
    background: none;

    .title:only-child {
      margin: 0;
    }
  }

  &__title {
    margin-top: -(spacing.$spacing-md)!important;
  }

  .title__highlight {
    --background: var(--accent-color);
  }

  .tile {
    .title__highlight {
      a {
        color: white;
        color: var(--color);
      }
    }
  }

  @each $name, $value in colours.$tile-accent-colors {
    &--accent-#{$name} {
      --accent-color: #{$value};

      & .title .title__highlight {
        @if (functions.choose-contrast-color($value) == black) {
          color: black;
        }
      }
    }
  }

  &--no-shadow {
    box-shadow: none;
  }
}

a.tile {
  //.tile__figure {
  //  img {
  //    filter: grayscale(100%);
  //  }
  //}

  &:hover,
  &:focus {
    color: colours.$neutral--primary;

    //.tile__figure {
    //  img {
    //    filter: grayscale(0);
    //  }
    //}
  }

  &:focus {
    outline-width: 3px;
    outline-color: colours.$primary;
    z-index: 2;
  }
}

.has-cta .tile {
  min-height: 30em;
}

.read-more {
  &__link {
    font-weight: bold;
    text-decoration: underline;

    &:after {
      content: '\25BC';
    }

    &.is-open:after {
      content: '\25B2';
    }

    &:hover {
      cursor: pointer;
    }
  }
  &__text {
    display: none;;
  }
}