
<p>These can be styled with a modifier, which will cascade to the <code>title__highlight</code></p>
<p>The modifiers are in an array in <code>_tile.scss</code>, consider this the source of truth, but at the time of typing, they're currently: <code>accent-red</code>, <code>accent-pink</code>, <code>accent-maroon</code>, <code>accent-slate</code>, and <code>accent-tef-gold</code>.</p>

<div class="grid  grid--flush  grid-2-cols@mobile-wide  grid-3-cols@tablet-wide">
  <div>
    <a class="tile  tile--accent-maroon" href="">
      <figure class="tile__figure">
        <img src="https://picsum.photos/500/500?random=1" class="tile__img" alt=""/>
      </figure>

      <div class="tile__content">
        <div class="title tile__title">
          <h3 class="h4  title__highlight">tile--accent-maroon</h3>
        </div>
        <div class="tile__content-body">
          <p>Reach your full potential with our postgraduate courses.</p>
        </div>
      </div>
    </a>
  </div>

  <div>
    <a class="tile  tile--accent-pink" href="">
      <figure class="tile__figure">
        <img src="https://picsum.photos/500/500?random=2" class="tile__img" alt=""/>
      </figure>

      <div class="tile__content">
        <div class="title tile__title">
          <h3 class="h4  title__highlight">tile--accent-pink</h3>
        </div>
        <div class="tile__content-body">
          <p>Study with us, no matter where in the world you come from.</p>
        </div>
      </div>
    </a>
  </div>

  <div>
    <a class="tile  tile--accent-slate" href="">
      <figure class="tile__figure">
        <img src="https://picsum.photos/500/500?random=3" class="tile__img" alt=""/>
      </figure>

      <div class="tile__content">
        <div class="title tile__title">
          <h3 class="h4  title__highlight">tile--accent-slate</h3>
        </div>
        <div class="tile__content-body">
          <p>Study Esports, Computer Games Design, Cyber Security, and more, with us in London.</p>
        </div>
      </div>
    </a>
  </div>

  <div>
    <a class="tile  tile--accent-red" href="">
      <figure class="tile__figure">
        <img src="https://picsum.photos/500/500?random=4" class="tile__img" alt=""/>
      </figure>

      <div class="tile__content">
        <div class="title tile__title">
          <h3 class="h4  title__highlight">tile--accent-red</h3>
        </div>
        <div class="tile__content-body">
          <p>Apply for a full-time undergraduate degree at Staffordshire University and get guaranteed accommodation.</p>
        </div>
      </div>
    </a>
  </div>

  <div>
    <a class="tile  tile--accent-tef-gold" href="">
      <figure class="tile__figure">
        <img src="https://picsum.photos/500/500?random=5" class="tile__img" alt=""/>
      </figure>

      <div class="tile__content">
        <div class="title tile__title">
          <h3 class="h4  title__highlight">tile--accent-tef-gold</h3>
        </div>
        <div class="tile__content-body">
          <p>Apply for a full-time undergraduate degree at Staffordshire University and get guaranteed accommodation.</p>
        </div>
      </div>
    </a>
  </div>

  <div>
    <a class="tile  tile--accent-blue-ldn" href="">
      <figure class="tile__figure">
        <img src="https://picsum.photos/500/500?random=6" class="tile__img" alt=""/>
      </figure>

      <div class="tile__content">
        <div class="title tile__title">
          <h3 class="h4  title__highlight">tile--accent-blue-ldn</h3>
        </div>
        <div class="tile__content-body">
          <p>Blue for Digital Institute London.</p>
        </div>
      </div>
    </a>
  </div>
</div>
