


<div class="grid  grid--flush  grid-2-cols@mobile-wide  grid-4-cols@desktop">
  <div>
    <a class="tile" href="">
      <figure class="tile__figure">
        <img src="https://picsum.photos/500/500?random=1" class="tile__img" alt=""/>
      </figure>

      <div class="tile__content">
        <div class="title tile__title">
          <h3 class="h6  title__highlight">Developing knowledge</h3>
        </div>
        <div class="tile__content-body">
          <p>Reach your full potential with our postgraduate courses.</p>
        </div>
      </div>
    </a>
  </div>

  <div>
    <a class="tile" href="">
      <figure class="tile__figure">
        <img src="https://picsum.photos/500/500?random=2" class="tile__img" alt=""/>
      </figure>

      <div class="tile__content">
        <div class="title tile__title">
          <h3 class="h6  title__highlight">Connecting continents</h3>
        </div>
        <div class="tile__content-body">
          <p>Study with us, no matter where in the world you come from.</p>
        </div>
      </div>
    </a>
  </div>

  <div>
    <a class="tile" href="">
      <figure class="tile__figure">
        <img src="https://picsum.photos/500/500?random=3" class="tile__img" alt=""/>
      </figure>

      <div class="tile__content">
        <div class="title tile__title">
          <h3 class="h6  title__highlight">Digital Institute London</h3>
        </div>
        <div class="tile__content-body">
          <p>Study Esports, Computer Games Design, Cyber Security, and more, with us in London.</p>
        </div>
      </div>
    </a>
  </div>

  <div>
    <a class="tile" href="">
      <figure class="tile__figure">
        <img src="https://picsum.photos/500/500?random=4" class="tile__img" alt=""/>
      </figure>

      <div class="tile__content">
        <div class="title tile__title">
          <h3 class="h6  title__highlight">There’s still time to apply for 2024 entry</h3>
        </div>
        <div class="tile__content-body">
          <p>Apply for a full-time undergraduate degree at Staffordshire University and get guaranteed accommodation.</p>
        </div>
      </div>
    </a>
  </div>
</div>

<hr/>

<div class="grid  grid--flush  grid-2-cols@mobile-wide  grid-3-cols@tablet-wide">
  <div>
    <a class="tile" href="">
      <figure class="tile__figure">
        <img src="https://picsum.photos/500/500?random=5" class="tile__img" alt=""/>
      </figure>

      <div class="tile__content">
        <div class="title tile__title">
          <h3 class="h4  title__highlight">Developing knowledge</h3>
        </div>
        <div class="tile__content-body">
          <p>Reach your full potential with our postgraduate courses.</p>
        </div>
      </div>
    </a>
  </div>

  <div>
    <a class="tile" href="">
      <figure class="tile__figure">
        <img src="https://picsum.photos/500/500?random=7" class="tile__img" alt=""/>
      </figure>

      <div class="tile__content">
        <div class="title tile__title">
          <h3 class="h4  title__highlight">Breaking Boundaries</h3>
        </div>
        <div class="tile__content-body">
          <p>Public lecture from Ade Adepitan MBE</p>
        </div>
      </div>
    </a>
  </div>

  <div>
    <a class="tile" href="">
      <figure class="tile__figure">
        <img src="https://picsum.photos/500/500?random=9" class="tile__img" alt=""/>
      </figure>

      <div class="tile__content">
        <div class="title tile__title">
          <h3 class="h4  title__highlight">Developing knowledge</h3>
        </div>
        <div class="tile__content-body">
          <p>Reach your full potential with our postgraduate courses.</p>
        </div>
      </div>
    </a>
  </div>

  <div>
    <a class="tile" href="">
      <figure class="tile__figure">
        <img src="https://picsum.photos/500/500?random=10" class="tile__img" alt=""/>
      </figure>

      <div class="tile__content">
        <div class="title tile__title">
          <h3 class="h4  title__highlight">Breaking Boundaries</h3>
        </div>
        <div class="tile__content-body">
          <p>Public lecture from Ade Adepitan MBE</p>
        </div>
      </div>
    </a>
  </div>
</div>

<hr/>

<div class="grid  grid--flush  grid-2-cols@mobile-wide">
  <div>
    <a class="tile" href="">
      <figure class="tile__figure">
        <img src="https://picsum.photos/500/500?random=11" class="tile__img" alt=""/>
      </figure>

      <div class="tile__content">
        <div class="title tile__title">
          <h3 class="h4  title__highlight">Developing knowledge</h3>
        </div>
        <div class="tile__content-body">
          <p>Reach your full potential with our postgraduate courses.</p>
        </div>
      </div>
    </a>
  </div>

  <div>
    <a class="tile" href="">
      <figure class="tile__figure">
        <img src="https://picsum.photos/500/500?random=12" class="tile__img" alt=""/>
      </figure>

      <div class="tile__content">
        <div class="title tile__title">
          <h3 class="h4  title__highlight">A longer title for the purpose of checking multiple lines</h3>
        </div>
        <div class="tile__content-body">
          <p><strong>This is too much copy. DON'T DO THIS.</strong> It might look fine at very wide widths, but it won't at smaller widths. The cut off is about here.</p><p>{{ loremLong }}</p>
        </div>
      </div>
    </a>
  </div>
</div>

<hr/>

<a class="tile" href="">
  <figure class="tile__figure">
    <img src="https://picsum.photos/500/500?random=13" class="tile__img" alt=""/>
  </figure>

  <div class="tile__content">
    <div class="title tile__title">
      <h3 class="h4  title__highlight">A longer title for the purpose of checking multiple lines</h3>
    </div>
    <div class="tile__content-body">
      <p><strong>This is too much copy. DON'T DO THIS.</strong> It might look fine at very wide widths, but it won't at smaller widths. The cut off is about here.</p><p>{{ loremLong }}</p>
    </div>
  </div>
</a>
