
<div class="tile">
  <figure class="tile__figure">
    <img src="https://picsum.photos/500/500?random=1" class="tile__img" alt=""/>
  </figure>

  <div class="tile__content">
    <div class="title tile__title">
      <h3 class="h4  title__highlight">A longer title to check line-wrapping</h3>
    </div>
    <div class="tile__content-body">
      <p><strong>This is about the limit of copy.</strong> Longer might look fine at very wide widths, but it won't at smaller widths. Don't exceed this.</p>
    </div>
  </div>
</div>
