h2.playlist__title {
    color: $neon!important;
}

a.playlist__link {
    display: block;
    padding: $spacing-sm $spacing-sm $spacing-sm $spacing-3xl;
    text-decoration: none;
    color: white;
    transition: all 125ms;
    background-image: url(#{$image-theme-directory-icon}/icon-play-circle-red.svg);
    background-position: $spacing-xs center;
    background-repeat: no-repeat;
    background-size: $spacing-xl;

    &.selected {
        color: $dark-blue!important;
        background-color: $neon;
    }

    &:hover {
        color: $dark-blue!important;
        background-color: $grey-50-pc;
    }
}

.playlist--non-transparent {
    a.playlist__link {
        background-color: #EEE;
        color: #170d38!important;

        &.selected {
            color: $dark-blue!important;
            background-color: $neon;
        }
    
        &:hover {
            color: $dark-blue!important;
            background-color: $grey-50-pc;
        }
    }
}