@use "../../assets/styles/__vars/colours";
@use "../../assets/styles/__vars/config";
@use "../../assets/styles/__vars/spacing";

h2.playlist__title {
    color: colours.$neon!important;
}

a.playlist__link {
    display: block;
    padding: spacing.$spacing-sm spacing.$spacing-sm spacing.$spacing-sm spacing.$spacing-3xl;
    text-decoration: none;
    color: white;
    transition: all 125ms;
    background-image: url(#{config.$image-theme-directory-icon}/icon-play-circle-red.svg);
    background-position: spacing.$spacing-xs center;
    background-repeat: no-repeat;
    background-size: spacing.$spacing-xl;

    &.selected {
        color: colours.$dark-blue!important;
        background-color: colours.$neon;
    }

    &:hover {
        color: colours.$dark-blue!important;
        background-color: colours.$grey-50-pc;
    }
}

.playlist--non-transparent {
    a.playlist__link {
        background-color: #EEE;
        color: #170d38!important;

        &.selected {
            color: colours.$dark-blue!important;
            background-color: colours.$neon;
        }
    
        &:hover {
            color: colours.$dark-blue!important;
            background-color: colours.$grey-50-pc;
        }
    }
}