<div class="slab  slab--bg-dark-blue  align-full">
    <div class="wrap">
        <div class="grid  grid--spaced  grid-2-cols">
            <div>
                {% include '@feature-link' with {
                    title: 'Accommodation',
                    body: "Where you live is a big part of your student experience and where you'll meet friends for life.",
                } %}
            </div>

            <div>
                {% include '@feature-link' with {
                    title: 'Life in Staffordshire',
                    body: "We've invested in great new facilities on campus to make Staffordshire University a hub of activity and opportunity.",
                } %}
            </div>
        </div>
    </div>
</div>

<hr />

<div class="slab  slab--bg-teal  align-full">
    <div class="wrap">
        <div class="grid  grid--spaced  grid-2-cols">
            <div>
                {% include '@feature-link' with {
                    title: 'Accommodation',
                    body: "Where you live is a big part of your student experience and where you'll meet friends for life.",
                } %}
            </div>

            <div>
                {% include '@feature-link' with {
                    title: 'Life in Staffordshire',
                    body: "We've invested in great new facilities on campus to make Staffordshire University a hub of activity and opportunity.",
                } %}
            </div>
        </div>
    </div>
</div>

<hr /><div class="slab  slab--bg-neon  align-full">
    <div class="wrap">
        <div class="grid  grid--spaced  grid-2-cols">
            <div>
                {% include '@feature-link' with {
                    title: 'Accommodation',
                    body: "Where you live is a big part of your student experience and where you'll meet friends for life.",
                } %}
            </div>

            <div>
                {% include '@feature-link' with {
                    title: 'Life in Staffordshire',
                    body: "We've invested in great new facilities on campus to make Staffordshire University a hub of activity and opportunity.",
                } %}
            </div>
        </div>
    </div>
</div>

<hr />

<div class="slab  slab--bg-digital-blue  align-full">
    <div class="wrap">
        <div class="grid  grid--spaced  grid-2-cols">
            <div>
                {% include '@feature-link' with {
                    title: 'Accommodation',
                    body: "Where you live is a big part of your student experience and where you'll meet friends for life.",
                } %}
            </div>

            <div>
                {% include '@feature-link' with {
                    title: 'Life in Staffordshire',
                    body: "We've invested in great new facilities on campus to make Staffordshire University a hub of activity and opportunity.",
                } %}
            </div>
        </div>
    </div>
</div>

