<div class="grid  grid-3-cols">
  <div>
    <a class="iconBox  iconBox--tiktok" href="">
      <div class="iconBox__icon">
        <i class="icon  icon--tiktok-white"></i>
      </div>
      <div class="iconBox__content">
        <p>Staffordshire University Biological &amp; Biomedical Sciences on TikTok</p>
      </div>
    </a>
  </div>

  <div>
    <a class="iconBox  iconBox--facebook" href="">
      <div class="iconBox__icon">
        <i class="icon  icon--facebook-white"></i>
      </div>
      <div class="iconBox__content">
        <p>Staffordshire University Biological &amp; Biomedical Sciences on Facebook</p>
      </div>
    </a>
  </div>

  <div>
    <a class="iconBox  iconBox--x" href="">
      <div class="iconBox__icon">
        <i class="icon  icon--twitter-white"></i>
      </div>
      <div class="iconBox__content">
        <p>Staffordshire University Biological &amp; Biomedical Sciences on X</p>
      </div>
    </a>
  </div>
</div>

<div class="grid  grid-3-cols">
  <div>
    <a class="iconBox  iconBox--linkedin" href="">
      <div class="iconBox__icon">
        <i class="icon  icon--linkedin-white"></i>
      </div>
      <div class="iconBox__content">
        <p>Staffordshire University Biological &amp; Biomedical Sciences on LinkedIn</p>
      </div>
    </a>
  </div>

  <div>
    <a class="iconBox  iconBox--instagram" href="">
      <div class="iconBox__icon">
        <i class="icon  icon--instagram-white"></i>
      </div>
      <div class="iconBox__content">
        <p>Staffordshire University Biological &amp; Biomedical Sciences on Instagram</p>
      </div>
    </a>
  </div>

  <div>
    <a class="iconBox  iconBox--youtube" href="">
      <div class="iconBox__icon">
        <i class="icon  icon--youtube-white"></i>
      </div>
      <div class="iconBox__content">
        <p>Staffordshire University Biological &amp; Biomedical Sciences on YouTube</p>
      </div>
    </a>
  </div>
</div>