.slab {
  position: relative;
  $border-color: $grey--light;
  padding: $spacing-4xl 0;
  background-size: cover;
  background-repeat: no-repeat;

  &__header {
    margin-top: -#{$spacing-4xl};
  }

  &__bg {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;

    img, svg {
      height: auto;
      width: 100%;
      object-fit: contain;
    }
  }

  //--

  &--border-bottom {
    border-bottom: 1px solid $border-color;
  }

  &--border-top {
    border-bottom: 1px solid $border-color;
  }

  //--

  @each $name, $value in $slab-bg-colors {
    &--bg-#{$name} {
      background-color: #{$value};
      @if (choose-contrast-color($value) == white) {
        color: white;
        & a:not(.button), & h2 {
          color: white;
        }
      }
    }
  }
  
  &--bg-knot-grey {
    background: url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 657 376" style="enable-background:new 0 0 657 376;" xml:space="preserve"><path fill="%23E0DFE8" d="M657,10c0,0-135,143-154,228c0,0-97-26-278,10S0,326.3,0,326.3V377l657-1"/></svg>') right bottom no-repeat;
    background-size: 100%;
  }

  &--bg-knot-neon {
    background: url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 657 376" style="enable-background:new 0 0 657 376;" xml:space="preserve"><path fill="%23E1FF9A" d="M657,10c0,0-135,143-154,228c0,0-97-26-278,10S0,326.3,0,326.3V377l657-1"/></svg>') right bottom no-repeat;
    background-size: 100%;
  }

  &--bg-knot-blue {
    background: url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 657 376" style="enable-background:new 0 0 657 376;" xml:space="preserve"><path fill="%23bdf7e3" d="M657,10c0,0-135,143-154,228c0,0-97-26-278,10S0,326.3,0,326.3V377l657-1"/></svg>') right bottom no-repeat;
    background-size: 100%;
  }

  &--bg-knot-peach {
    background: url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 657 376" style="enable-background:new 0 0 657 376;" xml:space="preserve"><path fill="%23febea5" d="M657,10c0,0-135,143-154,228c0,0-97-26-278,10S0,326.3,0,326.3V377l657-1"/></svg>') right bottom no-repeat;
    background-size: 100%;
  }

  &--bg-knot-yellow {
    background: url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 657 376" style="enable-background:new 0 0 657 376;" xml:space="preserve"><path fill="%23ffffae" d="M657,10c0,0-135,143-154,228c0,0-97-26-278,10S0,326.3,0,326.3V377l657-1"/></svg>') right bottom no-repeat;
    background-size: 100%;
  }

  &--bg-blue-ldn {
    & a {
      color: inherit;

      &:hover {
        text-decoration: none;
        border-bottom: 0;
      }
    }

    & svg * {
      fill: currentColor; // CG: Correct the path colours if SVGs are used here
    }
  }

  &--bg-granite, &--bg-slate {
    & svg * {
      fill: currentColor;
    }

    & a:not(.button) {
      color: inherit;
    }
  }
}