<div class="slab  slab--bg-offwhite  align-full">
  <div class="wrap">
    <div class="hgroup">
      {% include '@title' with {
        text: 'This is a fully aligned slab',
        tail: true,
        textElement: 'h2'
      } %}
    </div>


    <p>{{ loremLong }}</p>


  </div>
</div>

<div class="slab  slab--bg-dark-blue  align-full">
  <div class="wrap">
    <div class="hgroup">
      {% include '@title' with {
        text: 'This is a fully aligned slab',
        tail: true,
        textElement: 'h2'
      } %}
    </div>


    <p>{{ loremLong }}</p>


  </div>
</div>