<div class="slab">
  <div class="slab__bg">
    <img src="{{ '/img/placeholder-slab-bg-img.jpg' | path }}">
  </div>
  <div class="wrap">
    <h2 class="h3 slab__title">{{ text }}</h2>
    <p class="intro">Some intro text might go here, might not.</p>

    {% include '@card--ksp' %}
  </div>
</div>



