

<!DOCTYPE html>
<html class="no-js no-touch" lang="en">
<head>
    
<script type="text/javascript">(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="cleartype" content="on" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
<link href="../../styles/main.css" rel="stylesheet" />
<link media="print" href="../../styles/print.css" rel="stylesheet" />
</head>

<body>

<div class="slab  slab--bg-box-knot  lavender-on-dark-blue  align-full">
    <div class="wrap">
        <div class="accolade-container  accolade-container--divider">
            <article class="accolade  accolade--divider " aria-label="8th for student satisfaction">
    <div class="accolade__content">
        <div class="title  title--bg-yellow-light">
            <h3 class="h4  title__highlight">8th for student satisfaction</h3>
        </div>
        <p class="accolade__source">Complete University Guide 2024</p>
    </div>
    
        <figure class="accolade__figure  align-center">
            <img src="../../images/icons/icon-brain.png" alt="" />
        </figure>
    
</article>

            <article class="accolade  accolade--divider " aria-label="TIGA Games Industry Award Winners">
    <div class="accolade__content">
        <div class="title  title--bg-pale-blue">
            <h3 class="h4  title__highlight">TIGA Games Industry Award Winners</h3>
        </div>
        <p class="accolade__source">TIGA Games Industry 2024</p>
    </div>
    
        <figure class="accolade__figure  align-center">
            <img src="../../images/icons/icon-tiga-awards.png" alt="" />
        </figure>
    
</article>

            <article class="accolade  accolade--divider " aria-label="Top 10 for Mental Health Nursing">
    <div class="accolade__content">
        <div class="title  title--bg-peach">
            <h3 class="h4  title__highlight">Top 10 for Mental Health Nursing</h3>
        </div>
        <p class="accolade__source">Guardian University Guide 2024</p>
    </div>
    
        <figure class="accolade__figure  align-center">
            <img src="../../images/icons/icon-trophy.png" alt="" />
        </figure>
    
</article>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../../dev/js/app.js"></script>

</body>
</html>
