

<!DOCTYPE html>
<html class="no-js no-touch" lang="en">
    <head>
        
<script type="text/javascript">(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="cleartype" content="on" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
<link href="../../styles/main.css" rel="stylesheet" />
<link media="print" href="../../styles/print.css" rel="stylesheet" />
    </head>

    <body>
        <div class="wrap  margin-top-xl">
            <div class="js-slider--generic  slider--announcements" data-slick='{"slidesToShow": 3.1, "slidesToScroll": 1}'>
    <div>
        <article class="announcement" aria-label="Arinola Adefila - Student Mobility programme">
            <div class="wrap">
                <p><em>24 April 2024</em></p>
                <p><strong>Dr Arinola Adefila</strong> is currently employing her evaluation expertise to the <a href="https://sites.utu.fi/pebes/student-mobility/">Student Mobility programme</a> in Finland using Cultural Mapping to examine how the Collaborative Online International Learning programme has supported learning.</p>
            </div>
        </article>
    </div>
    <div>
        <article class="announcement" aria-label="Sally Andrews - TASO">
            <div class="wrap">
                <p><em>4 April 2024</em></p>
                <p><strong>Dr Sally Andrews</strong> delivers the findings from the TASO commissioned research into initiatives to tackle the ethnicity awarding gap on Monday 12 June 2023 2-3.30pm, if you are interested in attending, please <a href="https://t.co/keROAtZewm">register for this event online</a>.</p>
            </div>
        </article>
    </div>
    <div>
        <article class="announcement" aria-label="International Society for the Scholarship of Teaching and Learning, Utrecht">
            <div class="wrap">
                <p><em>18 March 2024</em></p>
                <p><strong>3 SCoLPP colleagues</strong> will be presenting at the forthcoming <a href="https://issotl.com/issotl23" target="_blank" rel="noreferrer noopener">International Society for the Scholarship of Teaching and Learning</a> in Utrecht. Gareth Barratt will be sharing his work on student partnerships and coaching. Dr Kate Cuthbert and Sue Lee will be sharing their phenomenon-based learning project outcomes.</p>
            </div>
        </article>
    </div>
    <div>
        <article class="announcement" aria-label="Sue Lee - Educational Gain: Beyond the Metrics">
            <div class="wrap">
                <p><em>5 March 2024</em></p>
                <p><strong>Sue Lee</strong> presented elements of her PhD research exploring the intangibles in HE at the Higher Education Futures Institute, University of Birmingham Conference, &ldquo;Educational Gain: Beyond the Metrics&rdquo; 2023.&nbsp;&nbsp;</p>
            </div>
        </article>
    </div>
    <div>
        <article class="announcement" aria-label="Annabel Kiernan - UUK">
            <div class="wrap">
                <p><em>12 December 2023</em></p>
                <p><strong>Dr Annabel Kiernan</strong> and colleagues Vanessa Dodd and Sally Andrews spoke about effective evaluation at <a href="https://www.universitiesuk.ac.uk/latest/events/closing-ethnicity-awarding-gaps-2023">Universities UK (UUK) Conference</a> on closing ethnicity awarding gaps in April 2023.</p>
            </div>
        </article>
    </div>
</div>
        </div>

        
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../../dev/js/app.js"></script>

    </body>
</html>
