

<!DOCTYPE html>
<html class="no-js no-touch" lang="en">
    <head>
        
<script type="text/javascript">(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="cleartype" content="on" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
<link href="../../styles/main.css" rel="stylesheet" />
<link media="print" href="../../styles/print.css" rel="stylesheet" />
    </head>

    <body>
        <div class="wrap  margin-top-xl">
            <div class="banner  banner--with-image  banner--bg-digital-blue">
    <div class="banner__bg" style="background-image: url(https://picsum.photos/1200/400?random=1);">
    </div>

    <div class="banner__body">
        <div class="hgroup">
            <div class="title  text-center">
                <h2 class="h4  title__highlight">Undergraduate Open Day</h3>
            </div>
            <div class="title  text-center">
                <div class="h5">Saturday 28 June 2024 - Stoke-on-trent campus</div>
            </div>
            <div class="title">
                <p>Open days give you the best experience and insight to courses, people and facilities that interest you. Make your choice easier and come meet us.</p>
            </div>
        </div>

        <div class="banner__cta  text-center">
            <a href="" class="button">Book an open day - a long button title</a>
        </div>
    </div>
</div>

<div class="banner  banner--with-image  banner--bg-burgundy">
    <div class="banner__bg" style="background-image: url(https://picsum.photos/1200/400?random=2);">
    </div>

    <div class="banner__body">
        <div class="hgroup">
            <div class="title  text-center">
                <h2 class="h4  title__highlight">Undergraduate Open Day</h3>
            </div>
            <div class="title  text-center">
                <div class="h5">Saturday 28 June 2024 - Stoke-on-trent campus</div>
            </div>
            <div class="title">
                <p>Open days give you the best experience and insight to courses, people and facilities that interest you. Make your choice easier and come meet us.</p>
            </div>
        </div>

        <div class="banner__cta  text-center">
            <a href="" class="button">Book an open day - a long button title</a>
        </div>
    </div>
</div>

<div class="banner  banner--with-image  banner--bg-teal">
    <div class="banner__bg" style="background-image: url(https://picsum.photos/1200/400?random=3);">
    </div>

    <div class="banner__body">
        <div class="hgroup">
            <div class="title  text-center">
                <h2 class="h4  title__highlight">Undergraduate Open Day</h3>
            </div>
            <div class="title  text-center">
                <div class="h5">Saturday 28 June 2024 - Stoke-on-trent campus</div>
            </div>
            <div class="title">
                <p>Open days give you the best experience and insight to courses, people and facilities that interest you. Make your choice easier and come meet us.</p>
            </div>
        </div>

        <div class="banner__cta  text-center">
            <a href="" class="button">Book an open day - a long button title</a>
        </div>
    </div>
</div>

        </div>

        
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../../dev/js/app.js"></script>

    </body>
</html>
