

<!DOCTYPE html>
<html class="no-js no-touch" lang="en">
    <head>
        
<script type="text/javascript">(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="cleartype" content="on" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
<link href="../../styles/main.css" rel="stylesheet" />
<link media="print" href="../../styles/print.css" rel="stylesheet" />
    </head>

    <body>
        <div class="wrap  margin-top-xl">
            <div class="grid  grid--spaced  grid-2-cols">
  <div>

    <article class="box  box--bg-offwhite">
      <div class="box__content">
      <div class="box__title  title">
        <h3>Stoke-on-Trent campus</h3>
      </div>
      <ul class="list--unstyled">
      <li>
        <strong>
          Saturday 9 March 2024
        </strong>
        <ul class="list--inline-bulleted">
          <li>Undergraduate</li>
          <li>Postgraduate</li>
        </ul>
      </li>
      <li>
        <strong>
          Saturday 8 June 2024
        </strong>
        <ul class="list--inline-bulleted">
          <li>Undergraduate</li>
          <li>Postgraduate</li>
          </ul>
        </li>
      </ul>
      </div>
      <footer class="box__footer">
        <a href="#" class="button  button--block  button--sm  caps  align-center">
          Book for undergraduate
        </a>
        <a href="#" class="button  button--block  button--sm  caps  button--dark-blue  align-center">
          Book for postgraduate
        </a>
      </footer>
    </article>

  </div>
  <div>
  
    <article class="box  box--bg-offwhite">
      <div class="box__content">
        <div class="box__title  title">
            <h3>University of Staffordshire London</h3>
        </div>
        <ul class="list--unstyled">
          <li>
            <strong>
                Wednesday 20 March 2024
            </strong>
            <ul class="list--inline-bulleted">
              <li>Undergraduate</li>
            </ul>
          </li>
          <li>
            <strong>
                Saturday 22 June 2024
            </strong>
            <ul class="list--inline-bulleted">
              <li>Undergraduate</li>
            </ul>
          </li>
        </ul>
      </div>
      <footer class="box__footer">
        <a href="#" class="button  button--block  button--sm  caps  align-center">
          Book for undergraduate
        </a>
    </footer>
  </article>

  </div>
</div>

        </div>

        
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../../dev/js/app.js"></script>

    </body>
</html>
