

<!DOCTYPE html>
<html class="no-js no-touch theme-ldn" lang="en">
<head>
  
<script type="text/javascript">(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="cleartype" content="on" />

<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">
<link href="../../styles/main-ldn.css" rel="stylesheet" />
<link media="print" href="../../styles/print.css" rel="stylesheet" />
</head>

<body>

<main style="padding: 2rem 0;">
  <div class="wrap">
    <div class="slab  slab--bg-default">
  <div class="wrap">
    <div class="grid  grid-3-cols">
      <div>
        <div class="card  card--ksp  card--primary">
          <div class="card__content">
            <i class="icon  h3  card--ksp__icon">
              <img src="../../img/icon-moneybag-pink.svg" alt="Description of image here please" />
            </i>
            <h2 class="h4  card__title">£11 million funding secured for business</h2>
            <p>Text describing the USP here which could if necessary have an arrow to denote link</p>
          </div>
        </div>
      </div>

      <div>
        <div class="card  card--ksp  card--secondary">
          <div class="card__content">
            <i class="icon  h3  card--ksp__icon">
              <img src="../../img/icon-threepeople-red.svg" alt="Description of image here please" />
            </i>
            <h2 class="h4  card__title">Over 400 regional vacancies filled</h2>
            <p>Text describing the USP here which could if necessary have an arrow to denote link</p>
          </div>
        </div>
      </div>

      <div>
        <div class="card  card--ksp  card--tertiary">
          <div class="card__content">
            <i class="icon  h3  card--ksp__icon">
              <img src="../../img/icon-circle-padlock-purple.svg" alt="Description of image here please" />
            </i>
            <h2 class="h4  card__title">71% of our apprentices secure a permanent position</h2>
            <p>Text describing the USP here which could if necessary have an arrow to denote link</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="slab  slab--bg-granite  align-full  margin-bottom-4xl">
  <div class="wrap">
    <div class="grid  grid-3-cols">
      <div>
        <div class="card  card--ksp  card--light">
          <div class="card__content">
            <i class="icon  h3  card--ksp__icon">
              <img src="../../img/icon-moneybag-white.svg" alt="Description of image here please" />
            </i>
            <h2 class="h4  card__title">£11 million funding secured for business</h2>
            <p>Text describing the USP here which could if necessary have an arrow to denote link</p>
          </div>
        </div>
      </div>
    
      <div>
        <div class="card  card--ksp  card--light">
          <div class="card__content">
            <i class="icon  h3  card--ksp__icon">
              <img src="../../img/icon-threepeople-white.svg" alt="Description of image here please" />
            </i>
            <h2 class="h4  card__title">Over 400 regional vacancies filled</h2>
            <p>Text describing the USP here which could if necessary have an arrow to denote link</p>
          </div>
        </div>
      </div>
    
      <div>
        <div class="card  card--ksp  card--light">
          <div class="card__content">
            <i class="icon  h3  card--ksp__icon">
              <img src="../../img/icon-circle-padlock-white.svg" alt="Description of image here please" />
            </i>
            <h2 class="h4  card__title">71% of our apprentices secure a permanent position</h2>
            <p>Text describing the USP here which could if necessary have an arrow to denote link</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="slab  slab--bg-blue-ldn  align-full">
  <div class="wrap">
    <div class="grid  grid-3-cols">
      <div>
        <div class="card  card--ksp  card--light">
          <div class="card__content">
            <i class="icon  h3  card--ksp__icon">
              <img src="../../img/icon-moneybag-white.svg" alt="Description of image here please" />
            </i>
            <h2 class="h4  card__title">£11 million funding secured for business</h2>
            <p>Text describing the USP here which could if necessary have an arrow to denote link</p>
          </div>
        </div>
      </div>
    
      <div>
        <div class="card  card--ksp  card--light">
          <div class="card__content">
            <i class="icon  h3  card--ksp__icon">
              <img src="../../img/icon-threepeople-white.svg" alt="Description of image here please" />
            </i>
            <h2 class="h4  card__title">Over 400 regional vacancies filled</h2>
            <p>Text describing the USP here which could if necessary have an arrow to denote link</p>
          </div>
        </div>
      </div>
    
      <div>
        <div class="card  card--ksp  card--light">
          <div class="card__content">
            <i class="icon  h3  card--ksp__icon">
              <img src="../../img/icon-circle-padlock-white.svg" alt="Description of image here please" />
            </i>
            <h2 class="h4  card__title">71% of our apprentices secure a permanent position</h2>
            <p>Text describing the USP here which could if necessary have an arrow to denote link</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  </div>
</main>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../../dev/js/app.js"></script>

</body>
</html>
