

<!DOCTYPE html>
<html class="no-js no-touch" lang="en">
    <head>
        
<script type="text/javascript">(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="cleartype" content="on" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
<link href="../../styles/main.css" rel="stylesheet" />
<link media="print" href="../../styles/print.css" rel="stylesheet" />
    </head>

    <body>
        <div class="wrap  margin-top-xl">
            <article class="card  card--flex  card--profile  card--grey-with-burgundy">
  <figure class="card__figure">
    <img src="../../images/mark-brown.jpg" alt="">
  </figure>

  <div class="card__content">
    <div class="title">
      <h3 class="h5">Mr Inconveniently-Longname Forwordbreaking&shy;testingpurposes</h3>
    </div>
    <p class="strong">Course Leader</p>
    <p>This card has two links, the title, and the button. Mr Forwordbreakingtestingpurposes has a <code>&amp;shy;</code> 'soft hyphen' character, so his name breaks in a desirable place when space is limited.</p>
    <p>I joined the team here at Staffordshire University in May 2013 as a Lecturer in Biomedical Science. I'm a member of the British Society for Immunology and the Association for Clinical Biochemistry.</p>

    <a class="button  button--outline" href="">Full Profile</a>
  </div>
</article>

<hr/>

<article class="card  card--flex  card--profile  card--grey-with-teal">
  <figure class="card__figure">
    <img src="../../images/mark-brown.jpg" alt="">
  </figure>

  <div class="card__content">
    <div class="title">
      <h3 class="h5">Mr Inconveniently-Longname Forwordbreaking&shy;testingpurposes</h3>
    </div>
    <p class="strong">Course Leader</p>
    <p>This card has two links, the title, and the button. Mr Forwordbreakingtestingpurposes has a <code>&amp;shy;</code> 'soft hyphen' character, so his name breaks in a desirable place when space is limited.</p>
    <p>I joined the team here at Staffordshire University in May 2013 as a Lecturer in Biomedical Science. I'm a member of the British Society for Immunology and the Association for Clinical Biochemistry.</p>

    <a class="button  button--outline" href="">Full Profile</a>
  </div>
</article>

<hr/>

<div class="grid  grid-2-cols@tablet-wide">
  <div>
    <article class="card  card--flex  card--profile  card--teal-with-neon">
      <figure class="card__figure">
        <img src="../../images/mark-brown.jpg" alt="">
      </figure>

      <div class="card__content">

        <div class="title">
          <h3 class="h5">Dr. Stephen Stephanopoulos-Stevenson, PhD</h3>
        </div>
        <p class="strong">Course Leader</p>
        <p>I joined the team here at Staffordshire University in May 2013 as a Lecturer in Biomedical Science. I'm a member of the British Society for Immunology and the Association for Clinical Biochemistry.</p>

        <a class="button  button--sm  button--outline  align-center" href="">Full Profile</a>
      </div>
    </article>
  </div>

  <div>
    <article class="card  card--flex  card--profile  card--grey-with-teal">
        <figure class="card__figure">
          <img src="../../images/mark-brown.jpg" alt="">
        </figure>

      <div class="card__content">
        <a href="" class="link--stretched">
          <div class="title">
            <h3 class="h5">Cherry Chevapravatdumrong</h3>
          </div>
        </a>
        <p class="strong">Course Leader</p>
        <p>This seems like a nice enough workaround for not being able to put a <code>link--stretched</code> inside a <code>title__highlight</code> - put it outside.</p>
        <p>Means we have to go without a working hover effect on a button, though...</p>
      </div>
    </article>
  </div>
</div>

<hr />

<article class="card  card--flex  card--profile  card--burgundy-with-neon">
  <figure class="card__figure">
    <img src="../../images/mark-brown.jpg" alt="">
  </figure>

  <div class="card__content">
    <div class="title">
      <h3 class="h5">Mr Inconveniently-Longname Forwordbreaking&shy;testingpurposes</h3>
    </div>
    <p class="strong">Course Leader</p>
    <p>This card has two links, the title, and the button. Mr Forwordbreakingtestingpurposes has a <code>&amp;shy;</code> 'soft hyphen' character, so his name breaks in a desirable place when space is limited.</p>
    <p>I joined the team here at Staffordshire University in May 2013 as a Lecturer in Biomedical Science. I'm a member of the British Society for Immunology and the Association for Clinical Biochemistry.</p>

    <a class="button  button--outline" href="">Full Profile</a>
  </div>
</article>

<article class="card  card--flex  card--profile  card--dark-blue-with-neon">
  <figure class="card__figure">
    <img src="../../images/mark-brown.jpg" alt="">
  </figure>

  <div class="card__content">
    <div class="title">
      <h3 class="h5">Mr Inconveniently-Longname Forwordbreaking&shy;testingpurposes</h3>
    </div>
    <p class="strong">Course Leader</p>
    <p>This card has two links, the title, and the button. Mr Forwordbreakingtestingpurposes has a <code>&amp;shy;</code> 'soft hyphen' character, so his name breaks in a desirable place when space is limited.</p>
    <p>I joined the team here at Staffordshire University in May 2013 as a Lecturer in Biomedical Science. I'm a member of the British Society for Immunology and the Association for Clinical Biochemistry.</p>

    <a class="button  button--outline" href="">Full Profile</a>
  </div>
</article>
        </div>

        
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../../dev/js/app.js"></script>

    </body>
</html>
