

<!DOCTYPE html>
<html class="no-js no-touch" lang="en">
    <head>
        
<script type="text/javascript">(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="cleartype" content="on" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
<link href="../../styles/main.css" rel="stylesheet" />
<link media="print" href="../../styles/print.css" rel="stylesheet" />
    </head>

    <body>
        <div class="wrap  margin-top-xl">
            <div class="grid  grid-2-cols">
  <div>

    <article class="card  card--flex  card--primary  card--virtual-tour" style="background: url(../../images/virtual-tour-bedroom.jpg);">
      <img src="../../images/virtual-tour-bedroom.jpg" alt="" class="visible-mobile-down">
      <div class="card__content">
        <div class="title">
          <h3 class="card__title  title__highlight  h4">Premier bedroom</h3>
        </div>
        <p>Not many of these rooms available on campus, so you've got to be up early to secure yourself the top room!</p>
        <div class="text-right"><a class="button" href="#">View virtual tour</a></div>
      </div>
      
    </article>

  </div>
  <div>

    <article class="card  card--flex  card--primary  card--virtual-tour" style="background: url(../../images/virtual-tour-broadcast-newsroom.jpg);">
      <img src="../../images/virtual-tour-broadcast-newsroom.jpg" alt="" class="visible-mobile-down">
      <div class="card__content">
        <div class="title">
          <h3 class="card__title  title__highlight  h4">Broadcast newsroom</h3>
        </div>
        <p>The hub of media output and reporting at our Stoke-on-Trent campus. It comes equipped with 76 iMacs, complete with specialist editing and broadcasting software and the full Adobe Creative Suite.</p>
        <div class="text-right"><a class="button  button--slate" href="#">View virtual tour</a></div>
      </div>
    </article>
  </div>
</div>
        </div>

        
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../../dev/js/app.js"></script>

    </body>
</html>
