

<!DOCTYPE html>
<html class="no-js no-touch" lang="en">
    <head>
        
<script type="text/javascript">(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="cleartype" content="on" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
<link href="../../styles/main.css" rel="stylesheet" />
<link media="print" href="../../styles/print.css" rel="stylesheet" />
    </head>

    <body>
        <div class="wrap  margin-top-xl">
            <div class="wrap">
    <article class="country-selector" aria-label="International entry requirements in your country">
        <div class="title">
            <h4 class="h3">International entry requirements in your country</h3>
        </div>
        <p>Get country-specific details on entry requirements, fees, scholarships and support services. Choose your country to see how University of Staffordshire can support you from application to arrival.</p>
        <div class="grid">
            <div class="col-1/2@tablet">
                <select name="countryPicker" id="countryPicker" class="country-picker__dropdown" aria-label="Select your country">
                    <option value="" selected="selected">Select your country</option>
                        <option value="/international/your-country/afghanistan">Afghanistan</option>
                        <option value="/international/your-country/algeria">Algeria</option>
                        <option value="/international/your-country/angola">Angola</option>
                        <option value="#">etc.</option>
                </select>
            </div>
            <div class="col-1/2@tablet">
                <a href="#" class="button  button--dark-blue  button--block  button--sm" name="countrySubmit" id="countrySubmit">Check your country information</a>
            </div>
        </div>
    </article>
</div>
        </div>

        
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../../dev/js/app.js"></script>

    </body>
</html>
