

<!DOCTYPE html>
<html class="no-js no-touch" lang="en">
    <head>
        
<script type="text/javascript">(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="cleartype" content="on" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
<link href="../../styles/main.css" rel="stylesheet" />
<link media="print" href="../../styles/print.css" rel="stylesheet" />
    </head>

    <body>
        <div class="wrap  margin-top-xl">
            <p>The main use for this component is likely to be the results page in the course search.</p>
<article class="margin-bottom-3xl">
        <h3 class="h4">
            <a class="link--stretched" href="https://www.staffs.ac.uk/course/digital-social-media-marketing-bsc" title="Digital and Social Media Marketing">
                <span class="course__title"> 
                        <strong>Digital</strong> and Social Media Marketing
                </span>
                BSc (Hons)

                <span class="tag  tag--teal  tag--not-rounded  align-right">Undergraduate</span>
            </a>
        </h3>
             
        <h4 class="h6">Study options</h4>
        <ul class="list--inline-bulleted">
            <li>Full-time</li>
            <li>Full-time, with a placement year</li>
            <li>Full-time, with a foundation year</li>
        </ul>

        <h4 class="h6">Location</h4>
        <ul class="list--inline-bulleted">
            <li>Stoke-on-Trent campus</li>
        </ul>
</article>
        </div>

        
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../../dev/js/app.js"></script>

    </body>
</html>
