

<!DOCTYPE html>
<html class="no-js no-touch" lang="en">
<head>
    
<script type="text/javascript">(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="cleartype" content="on" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
<link href="../../styles/main.css" rel="stylesheet" />
<link media="print" href="../../styles/print.css" rel="stylesheet" />
</head>

<body>

<!-- Header -->
<div class="masthead">
  <div class="masthead__inner">
    <div class="masthead__bg">
      
        <img src="../../img/masthead4.jpg"/>
      
    </div>
    <div class="wrap">
      <nav class="breadcrumbs">
  <ul>
    <li>
      <a href="#">Home</a>
    </li>
    <li>
      <a href="#">Level 1</a>
    </li>
    <li>
      <a href="#">Level 2</a>
    </li>
  </ul>
</nav>

      



  




  



<div class="title  title--has-tail  js-waypoint">
  <h1 class="title__highlight  h1">
  Page Title
</h1>
</div>









      



  

  




  



<div class="title  title--bg-white  title--has-tail  js-waypoint">
  <h6 class="title__highlight">
  (If long, consider using h2 textElementStyle)
</h6>
</div>









    </div>
  </div>
</div>


<div class="wrap">
    <div class="grid  grid-3-cols">
  <div>
    <div class="card  card--ksp  card--red">
      <div class="card__content">
        <div class="card--ksp__icon-container">
          <i class="icon  h3  card--ksp__icon">
            <img src="../../img/icon-house-white.svg" alt="" />
          </i>
        </div>
        <h2 class="h4  card__title">Low cost of living</h2>
        <p>Studying on a budget? Stoke-on-Trent is one of the most affordable places to live in the UK, with our on-campus student accommodation starting at just &pound;112 per week.</p>
      </div>
    </div>
  </div>

  <div>
    <div class="card  card--ksp  card--burgundy">
      <div class="card__content">
        <div class="card--ksp__icon-container">
          <i class="icon  h3  card--ksp__icon">
            <img src="../../img/icon-globe-white.svg" alt="" />
          </i>
        </div>
        <h2 class="h4  card__title">Globally connected</h2>
        <p>Your journey with us may start in Staffordshire, but it can take you anywhere in the world. Our global connections unlock a world of possibility for each every student.</p>
      </div>
    </div>
  </div>

  <div>
    <div class="card  card--ksp  card--teal">
      <div class="card__content">
        <div class="card--ksp__icon-container">
          <i class="icon  h3  card--ksp__icon">
            <img src="../../img/icon-job-search-white.svg" alt="" />
          </i>
        </div>
        <h2 class="h4  card__title">Industry experience</h2>
        <p>Our unique connections to industry means you'll get the opportunity to experience the world of work before you graduate, setting you apart in the job market and placing you on the path to success.</p>
      </div>
    </div>
  </div>
</div>

<div class="margin-top-4xl">
  <div class="grid  grid-3-cols">
    <div>
      <div class="card  card--ksp  card--digital-blue">
        <div class="card__content">
          <div class="card--ksp__icon-container">
            <i class="icon  h3  card--ksp__icon">
              <img src="../../img/icon-house-white.svg" alt="" />
            </i>
          </div>
          <h2 class="h4  card__title">Low cost of living</h2>
          <p>Studying on a budget? Stoke-on-Trent is one of the most affordable places to live in the UK, with our on-campus student accommodation starting at just &pound;112 per week.</p>
        </div>
      </div>
    </div>

    <div>
      <div class="card  card--ksp  card--digital-blue">
        <div class="card__content">
          <div class="card--ksp__icon-container">
            <i class="icon  h3  card--ksp__icon">
              <img src="../../img/icon-globe-white.svg" alt="" />
            </i>
          </div>
          <h2 class="h4  card__title">Globally connected</h2>
          <p>Your journey with us may start in Staffordshire, but it can take you anywhere in the world. Our global connections unlock a world of possibility for each every student.</p>
        </div>
      </div>
    </div>

    <div>
      <div class="card  card--ksp  card--digital-blue">
        <div class="card__content">
          <div class="card--ksp__icon-container">
            <i class="icon  h3  card--ksp__icon">
              <img src="../../img/icon-job-search-white.svg" alt="" />
            </i>
          </div>
          <h2 class="h4  card__title">Industry experience</h2>
          <p>Our unique connections to industry means you'll get the opportunity to experience the world of work before you graduate, setting you apart in the job market and placing you on the path to success.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<nav class="page-nav  js-page-nav" id="js-page-nav">
  <div class="page-nav__stickyContainer">
    <div class="wrap">
      <div class="page-nav__inner">
        <ul class="page-nav__list">
          <li class="page-nav__item"><a class="page-nav__link  is-active" href="#overview">Overview</a></li>
          <li class="page-nav__item"><a class="page-nav__link" href="#courses">Courses</a></li>
          <li class="page-nav__item"><a class="page-nav__link" href="#facilities">Facilities</a></li>
          <li class="page-nav__item"><a class="page-nav__link" href="#work-experience-and-careers">Work experience and careers</a></li>
          <li class="page-nav__item"><a class="page-nav__link" href="#our-students">Our students</a></li>
          <li class="page-nav__item"><a class="page-nav__link" href="#our-staff">Our staff</a></li>
          <li class="page-nav__item"><a class="page-nav__link" href="#our-graduates">Our Graduates</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="slab  slab--bg-offwhite">
  <div class="wrap">
    <p>Develop your critical business skills and learn how to host small and large-scale tournaments, events and productions for esports and how to adapt for clients external to our sector at an award-winning games university.</p>
  </div>
</div>

<div class="slab">
  <div class="wrap">
    <h2>Course content</h2>
    <div class="accordion">
        

<details class="accordion__item" open>
  <summary class="accordion__title">
    <h4 class="accordion__toggle">Year one</h4>
  </summary>

  <div class="accordion__content">
    <p>Some content inside</p><p>Some content</p>
  </div>
</details>

        

<details class="accordion__item">
  <summary class="accordion__title">
    <h4 class="accordion__toggle">Year two</h4>
  </summary>

  <div class="accordion__content">
    <p>Some content inside</p><p>Some content</p>
  </div>
</details>

        

<details class="accordion__item">
  <summary class="accordion__title">
    <h4 class="accordion__toggle">Year three</h4>
  </summary>

  <div class="accordion__content">
    <p>Some content inside</p><p>Some content</p>
  </div>
</details>

    </div>
  </div>
</div>

<div class="slab">
  <div class="wrap">
    <h2>Modules</h2>
    <p>The tables provide an indicative list of the modules that make up the course for the current academic year. Each module is worth a specified number of credits. Our teaching is informed by research, and modules change periodically to reflect developments in the discipline.</p>
    <p>We aim to ensure that all modules run as scheduled. If for any reason a module cannot be run we will advise you as soon as possible and will provide guidance on selecting an appropriate alternative module.</p>
    <div class="pathway-container pathway-container--lead-course" data-mode="ba-hons-full-time" data-source="SITS" data-field="Modules">
                <section id="pathway-ba-hons-full-time-standard-route">
                        <div class="js-slider--generic sits-course-modules slick-initialized slick-slider"><div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 972px; transform: translate3d(0px, 0px, 0px);"><div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 304px;"><div><div style="width: 100%; display: inline-block;">
                <div id="pathway-ba-hons-full-time-standard-route-standard-route-1">
                    <div id="pathway-ba-hons-full-time-standard-route-year-1-compulsary-modules">
                        <table class="table--modules">
                            <caption class="visually-hidden">Year 1 compulsory modules</caption>
                            <thead>
                                <tr>
                                    <th colspan="2">Year 1 compulsory modules</th>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr>
                                        <td>
                                                <a href="#" class="table--modules__modal-link open-modal-button" data-modal-trigger="contemporary-marketing-applications" data-modal-trigger-isunique="" tabindex="0">
                                                    Contemporary Marketing Applications
                                                </a>
                                        </td>
                                        <td class="table--modules__credits">20 credits</td>
                                    </tr>
                                    <tr>
                                        <td>
                                                <a href="#" class="table--modules__modal-link open-modal-button" data-modal-trigger="digital-media-platforms" data-modal-trigger-isunique="" tabindex="0">
                                                    Digital Media Platforms
                                                </a>
                                        </td>
                                        <td class="table--modules__credits">20 credits</td>
                                    </tr>
                                    <tr>
                                        <td>
                                                <a href="#" class="table--modules__modal-link open-modal-button" data-modal-trigger="esports-in-context" data-modal-trigger-isunique="" tabindex="0">
                                                    Esports In Context
                                                </a>
                                        </td>
                                        <td class="table--modules__credits">40 credits</td>
                                    </tr>
                                    <tr>
                                        <td>
                                                <a href="#" class="table--modules__modal-link open-modal-button" data-modal-trigger="live-broadcast-technology" data-modal-trigger-isunique="" tabindex="0">
                                                    Live Broadcast Technology
                                                </a>
                                        </td>
                                        <td class="table--modules__credits">20 credits</td>
                                    </tr>
                                    <tr>
                                        <td>
                                                <a href="#" class="table--modules__modal-link open-modal-button" data-modal-trigger="multidisciplinary-teamwork" data-modal-trigger-isunique="" tabindex="0">
                                                    Multidisciplinary Teamwork
                                                </a>
                                        </td>
                                        <td class="table--modules__credits">20 credits</td>
                                    </tr>
                                                            </tbody>
                        </table>
                    </div>
                </div>
            </div></div></div><div class="slick-slide slick-active" data-slick-index="1" aria-hidden="false" style="width: 304px;"><div><div style="width: 100%; display: inline-block;">
                <div id="pathway-ba-hons-full-time-standard-route-standard-route-2">
                    <div id="pathway-ba-hons-full-time-standard-route-year-2-compulsary-modules">
                        <table class="table--modules">
                            <caption class="visually-hidden">Year 2 compulsory modules</caption>
                            <thead>
                                <tr>
                                    <th colspan="2">Year 2 compulsory modules</th>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr>
                                        <td>
                                                <a href="#" class="table--modules__modal-link open-modal-button" data-modal-trigger="community-management" data-modal-trigger-isunique="" tabindex="0">
                                                    Community Management
                                                </a>
                                        </td>
                                        <td class="table--modules__credits">20 credits</td>
                                    </tr>
                                    <tr>
                                        <td>
                                                <a href="#" class="table--modules__modal-link open-modal-button" data-modal-trigger="industry-professional-skills---practice" data-modal-trigger-isunique="" tabindex="0">
                                                    Industry Professional Skills &amp; Practice
                                                </a>
                                        </td>
                                        <td class="table--modules__credits">20 credits</td>
                                    </tr>
                                    <tr>
                                        <td>
                                                <a href="#" class="table--modules__modal-link open-modal-button" data-modal-trigger="live-production-workflows" data-modal-trigger-isunique="" tabindex="0">
                                                    Live Production Workflows
                                                </a>
                                        </td>
                                        <td class="table--modules__credits">40 credits</td>
                                    </tr>
                                                            </tbody>
                        </table>
                            <span class="modules-link align-right"><a data-course-modules-trigger="pathway-ba-hons-full-time-standard-route-year-2-optional-modules" href="#pathway-ba-hons-full-time-standard-route-year-2-compulsary-modules" tabindex="0">Show 8 optional modules</a></span>
                    </div>
                        <div id="pathway-ba-hons-full-time-standard-route-year-2-optional-modules" class="hidden">
                            <table class="table--modules">
                                <caption class="visually-hidden">Year 2 compulsory modules</caption>
                                <thead>
                                    <tr>
                                        <th colspan="2">Year 2 optional modules</th>
                                    </tr>
                                </thead>
                                <tbody>
                                        <tr>
                                            <td>
Business Law And Commercial Awareness                                            </td>
                                            <td class="table--modules__credits">20 credits</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                    <a href="#" class="table--modules__modal-link open-modal-button" data-modal-trigger="digital-content-creation" data-modal-trigger-isunique="" aria-label="More about Digital Content Creation" tabindex="0">
                                                        Digital Content Creation
                                                    </a>
                                            </td>
                                            <td class="table--modules__credits">20 credits</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                    <a href="#" class="table--modules__modal-link open-modal-button" data-modal-trigger="digital-marketing-strategy" data-modal-trigger-isunique="" aria-label="More about Digital Marketing Strategy" tabindex="0">
                                                        Digital Marketing Strategy
                                                    </a>
                                            </td>
                                            <td class="table--modules__credits">20 credits</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                    <a href="#" class="table--modules__modal-link open-modal-button" data-modal-trigger="esports-governance" data-modal-trigger-isunique="" aria-label="More about Esports Governance" tabindex="0">
                                                        Esports Governance
                                                    </a>
                                            </td>
                                            <td class="table--modules__credits">20 credits</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                    <a href="#" class="table--modules__modal-link open-modal-button" data-modal-trigger="innovation-marketing-and-you" data-modal-trigger-isunique="" aria-label="More about Innovation, Marketing And You" tabindex="0">
                                                        Innovation, Marketing And You
                                                    </a>
                                            </td>
                                            <td class="table--modules__credits">20 credits</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                    <a href="#" class="table--modules__modal-link open-modal-button" data-modal-trigger="managing-in-a-digital-world" data-modal-trigger-isunique="" aria-label="More about Managing In A Digital World" tabindex="0">
                                                        Managing In A Digital World
                                                    </a>
                                            </td>
                                            <td class="table--modules__credits">20 credits</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                    <a href="#" class="table--modules__modal-link open-modal-button" data-modal-trigger="media-production-skills-2" data-modal-trigger-isunique="" aria-label="More about Media Production Skills 2" tabindex="0">
                                                        Media Production Skills 2
                                                    </a>
                                            </td>
                                            <td class="table--modules__credits">20 credits</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                    <a href="#" class="table--modules__modal-link open-modal-button" data-modal-trigger="production-cultures" data-modal-trigger-isunique="" aria-label="More about Production Cultures" tabindex="0">
                                                        Production Cultures
                                                    </a>
                                            </td>
                                            <td class="table--modules__credits">20 credits</td>
                                        </tr>
                                </tbody>
                            </table>
                                <span class="modules-link align-right"><a data-course-modules-trigger="pathway-ba-hons-full-time-standard-route-year-2-compulsary-modules" href="#pathway-ba-hons-full-time-standard-route-year-2-optional-modules" tabindex="0">Show 3 compulsory modules</a></span>
                        </div>
                </div>
            </div></div></div><div class="slick-slide slick-active" data-slick-index="2" aria-hidden="false" style="width: 304px;"><div><div style="width: 100%; display: inline-block;">
                <div id="pathway-ba-hons-full-time-standard-route-standard-route-3">
                    <div id="pathway-ba-hons-full-time-standard-route-year-3-compulsary-modules">
                        <table class="table--modules">
                            <caption class="visually-hidden">Year 3 compulsory modules</caption>
                            <thead>
                                <tr>
                                    <th colspan="2">Year 3 compulsory modules</th>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr>
                                        <td>
                                                <a href="#" class="table--modules__modal-link open-modal-button" data-modal-trigger="analytics-for-industry" data-modal-trigger-isunique="" tabindex="0">
                                                    Analytics For Industry
                                                </a>
                                        </td>
                                        <td class="table--modules__credits">20 credits</td>
                                    </tr>
                                    <tr>
                                        <td>
                                                <a href="#" class="table--modules__modal-link open-modal-button" data-modal-trigger="corporate-social-responsibility" data-modal-trigger-isunique="" tabindex="0">
                                                    Corporate Social Responsibility
                                                </a>
                                        </td>
                                        <td class="table--modules__credits">20 credits</td>
                                    </tr>
                                    <tr>
                                        <td>
                                                <a href="#" class="table--modules__modal-link open-modal-button" data-modal-trigger="emerging-media---technologies" data-modal-trigger-isunique="" tabindex="0">
                                                    Emerging Media &amp; Technologies
                                                </a>
                                        </td>
                                        <td class="table--modules__credits">20 credits</td>
                                    </tr>
                                    <tr>
                                        <td>
                                                <a href="#" class="table--modules__modal-link open-modal-button" data-modal-trigger="final-year-project" data-modal-trigger-isunique="" tabindex="0">
                                                    Final Year Project
                                                </a>
                                        </td>
                                        <td class="table--modules__credits">40 credits</td>
                                    </tr>
                                    <tr>
                                        <td>
                                                <a href="#" class="table--modules__modal-link open-modal-button" data-modal-trigger="global-esports" data-modal-trigger-isunique="" tabindex="0">
                                                    Global Esports
                                                </a>
                                        </td>
                                        <td class="table--modules__credits">20 credits</td>
                                    </tr>
                                                            </tbody>
                        </table>
                    </div>
                </div>
            </div></div></div></div></div></div>

                </section>
        </div>
  </div>
</div>

<div class="slab">
  <div class="wrap">
    <h2>Work placements</h2>
    <p>The tables provide an indicative list of the modules that make up the course for the current academic year. Each module is worth a specified number of credits. Our teaching is informed by research, and modules change periodically to reflect developments in the discipline.</p>
    <p>We aim to ensure that all modules run as scheduled. If for any reason a module cannot be run we will advise you as soon as possible and will provide guidance on selecting an appropriate alternative module.</p>
  </div>
</div>

<div class="slab">
  <div class="wrap">
    <h2>Teaching and assessment</h2>
    <p>The tables provide an indicative list of the modules that make up the course for the current academic year. Each module is worth a specified number of credits. Our teaching is informed by research, and modules change periodically to reflect developments in the discipline.</p>
    <p>We aim to ensure that all modules run as scheduled. If for any reason a module cannot be run we will advise you as soon as possible and will provide guidance on selecting an appropriate alternative module.</p>
  </div>
</div>

<!-- Quote goes here -->

<div class="slab">
  <div class="wrap">
    <h2>Entry requirements</h2>
    <p>The tables provide an indicative list of the modules that make up the course for the current academic year. Each module is worth a specified number of credits. Our teaching is informed by research, and modules change periodically to reflect developments in the discipline.</p>
    <p>We aim to ensure that all modules run as scheduled. If for any reason a module cannot be run we will advise you as soon as possible and will provide guidance on selecting an appropriate alternative module.</p>
  </div>
</div>

<div class="slab">
  <div class="wrap">
    <h2>Careers</h2>
    <p>The tables provide an indicative list of the modules that make up the course for the current academic year. Each module is worth a specified number of credits. Our teaching is informed by research, and modules change periodically to reflect developments in the discipline.</p>
    <p>We aim to ensure that all modules run as scheduled. If for any reason a module cannot be run we will advise you as soon as possible and will provide guidance on selecting an appropriate alternative module.</p>
  </div>
</div>

<!-- Andrew Ogunnake -->

<div class="slab">
  <div class="wrap">
    <h2>Our facilities</h2>
    <p>The tables provide an indicative list of the modules that make up the course for the current academic year. Each module is worth a specified number of credits. Our teaching is informed by research, and modules change periodically to reflect developments in the discipline.</p>
    <p>We aim to ensure that all modules run as scheduled. If for any reason a module cannot be run we will advise you as soon as possible and will provide guidance on selecting an appropriate alternative module.</p>
  </div>
</div>

<div class="slab">
  <div class="wrap">
    <h2>Featured videos</h2>
    <p>The tables provide an indicative list of the modules that make up the course for the current academic year. Each module is worth a specified number of credits. Our teaching is informed by research, and modules change periodically to reflect developments in the discipline.</p>
    <p>We aim to ensure that all modules run as scheduled. If for any reason a module cannot be run we will advise you as soon as possible and will provide guidance on selecting an appropriate alternative module.</p>
  </div>
</div>


<!-- Use https://www.staffs.ac.uk/course/esports-ba for this! -->

<!-- Footer -->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../../dev/js/app.js"></script>

</body>
</html>
