

<!DOCTYPE html>
<html class="no-js no-touch theme-ldn" lang="en">
<head>
  
<script type="text/javascript">(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="cleartype" content="on" />

<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">
<link href="../../styles/main-ldn.css" rel="stylesheet" />
<link media="print" href="../../styles/print.css" rel="stylesheet" />
</head>

<body>

<main style="padding: 2rem 0;">
  <div class="wrap">
    <div class="title  title--has-tail">
  <h2 class="title__highlight">London Colour Variants</h2>
</div>

<p>These can be styled with a modifier to the <code>feature-tiles__item</code>, which will cascade to the <code>title__highlight</code> and pseudo-square (if the grid item has one)</p>
<p>Modifiers are in the <code>$tile-accent-colors</code> map in <code>_main-ldn.scss</code>, currently: <code>accent-blue-ldn</code>, <code>accent-blue-deep-ldn</code>,
  <code>accent-magenta-ldn</code>, <code>accent-purple-deep-ldn</code>, and <code>accent-tef-gold</code>.</p>
<p><strong>NB: Use the modifier on this item, not the tile if you want the accent to cascade correctly to the pseudo-square, you don't need to add to the tile as well :)</strong></p>

<p>As the map is overwritten, colours from the main site are not available unless explicitly added to the map in Sass.</p>

<div class="grid  grid--flush  grid-2-cols@mobile-wide  grid-3-cols@tablet-wide  feature-tiles">
  <div class="feature-tiles__item  feature-tiles__item--accent-blue-deep-ldn  js-waypoint">
    <a class="tile" href="">
      <figure class="tile__figure">
        <img src="https://picsum.photos/500/500?random=1" class="tile__img" alt=""/>
      </figure>

      <div class="tile__content">
        <div class="title tile__title">
          <h3 class="h4  title__highlight">Digital Institute London</h3>
        </div>
        <div class="tile__content-body">
          <p>Study Esports, Computer Games Design, Cyber Security, and more, with us in London.</p>
        </div>
      </div>
    </a>
  </div>

  <div class="feature-tiles__item  feature-tiles__item--accent-blue-ldn  js-waypoint">
    <a class="tile" href="">
      <figure class="tile__figure">
        <img src="https://picsum.photos/500/500?random=2" class="tile__img" alt=""/>
      </figure>

      <div class="tile__content">
        <div class="title  tile__title">
          <h3 class="h4  title__highlight">Developing knowledge</h3>
        </div>
        <div class="tile__content-body">
          <p>Reach your full potential with our postgraduate courses.</p>
        </div>
      </div>
    </a>
  </div>

  <div class="feature-tiles__item  feature-tiles__item--accent-magenta-ldn  js-waypoint">
    <a class="tile" href="">
      <figure class="tile__figure">
        <img src="https://picsum.photos/500/500?random=3" class="tile__img" alt=""/>
      </figure>

      <div class="tile__content">
        <div class="title  tile__title">
          <h3 class="h4  title__highlight">Connecting Continents</h3>
        </div>
        <div class="tile__content-body">
          <p>Study with us, no matter where in the world you come from.</p>
        </div>
      </div>
    </a>
  </div>

  <div class="feature-tiles__item  feature-tiles__item--accent-purple-deep-ldn  js-waypoint">
    <a class="tile" href="">
      <figure class="tile__figure">
        <img src="https://picsum.photos/500/500?random=4" class="tile__img" alt=""/>
      </figure>

      <div class="tile__content">
        <div class="title  tile__title">
          <h3 class="h4  title__highlight">Breaking boundaries</h3>
        </div>
        <div class="tile__content-body">
          <p>Public lecture from Ade Adepitan MBE</p>
        </div>
      </div>
    </a>
  </div>

  <div class="feature-tiles__item  js-waypoint">
    <a class="tile" href="">
      <figure class="tile__figure">
        <img src="https://picsum.photos/500/500?random=5" class="tile__img" alt=""/>
      </figure>

      <div class="tile__content">
        <div class="title tile__title">
          <h3 class="h4  title__highlight">There’s still time to apply for 2024 entry</h3>
        </div>
        <div class="tile__content-body">
          <p>Apply for a full-time undergraduate degree at Staffordshire University and get guaranteed accommodation.</p>
        </div>
      </div>
    </a>
  </div>

  <div class="feature-tiles__item  feature-tiles__item--accent-tef-gold  js-waypoint">
    <a class="tile" href="">
      <figure class="tile__figure">
        <img src="https://picsum.photos/500/500?random=6" class="tile__img" alt=""/>
      </figure>

      <div class="tile__content">
        <div class="title  title--bg-tef-gold  tile__title">
          <h3 class="h4  title__highlight">TEF Gold</h3>
        </div>
        <div class="tile__content-body">
          <p>Staffordshire University achieves Gold in the Teaching Excellence and Student Outcomes Framework</p>
        </div>
      </div>
    </a>
  </div>
</div>

  </div>
</main>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../../dev/js/app.js"></script>

</body>
</html>
