

<!DOCTYPE html>
<html class="no-js no-touch theme-ldn" lang="en">
<head>
  
<script type="text/javascript">(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="cleartype" content="on" />

<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">
<link href="../../styles/main-ldn.css" rel="stylesheet" />
<link media="print" href="../../styles/print.css" rel="stylesheet" />
</head>

<body>

<main style="padding: 2rem 0;">
  <div class="wrap">
    <p class="intro">This is a style primarily developed for the LDN skin, as the brand more heavily uses the triangle 'cutout' from the logo as a device.</p>
<p>It can be used on the left or right (or alternating corners) of a horizontal rule. Demo combinations follow:</p>

<h2 class="title  title--bg-magenta-ldn  h3"><span class="title__highlight">Single triangle</span></h2>

<h3 class="h6">above-left</h3>
<hr class="hr--tri-above-left" />

<h3 class="h6">below-left</h3>
<hr class="hr--tri-below-left" />

<h3 class="h6">above-right</h3>
<hr class="hr--tri-above-right" />

<h3 class="h6">below-right</h3>
<hr class="hr--tri-below-right" />

<h2 class="title  title--bg-magenta-ldn  h3"><span class="title__highlight">Dual Triangles</span></h2>

<h3 class="h6">above-left + below-right</h3>
<hr class="hr--tri-above-left  hr--tri-below-right" />

<h3 class="h6">above-right + below-left</h3>
<hr class="hr--tri-above-right  hr--tri-below-left" />
  </div>
</main>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../../dev/js/app.js"></script>

</body>
</html>
