

<!DOCTYPE html>
<html class="no-js no-touch" lang="en">
    <head>
        
<script type="text/javascript">(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="cleartype" content="on" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
<link href="../../styles/main.css" rel="stylesheet" />
<link media="print" href="../../styles/print.css" rel="stylesheet" />
    </head>

    <body>
        <div class="wrap  margin-top-xl">
            
<div class="grid  grid-3-cols">
  <div>
    <div class="iconBox">
      <div class="iconBox__icon">
        <i class="icon">
          <img src="../../img/icon-clock-white.svg" />
        </i>
      </div>
      <div class="iconBox__content">
        <div class="h6  iconBox__title">unthemed iconBox</div>
        <p>With any ol' random white SVG you desire</p>
      </div>
    </div>
  </div>

  <div>
    <a class="iconBox  iconBox--twitter" href="">
      <div class="iconBox__icon">
        <i class="icon  icon--twitter-white"></i>
      </div>
      <div class="iconBox__content">
        <div class="h6  iconBox__title">Follow on X</div>
        <p>Staffordshire University Biological & Biomedical Sciences</p>
      </div>
    </a>
  </div>

  <div>
    <a class="iconBox  iconBox--facebook" href="">
      <div class="iconBox__icon">
        <i class="icon  icon--facebook-white"></i>
      </div>
      <div class="iconBox__content">
        <div class="h6  iconBox__title">Facebook page</div>
        <p>Our official page for students, alumni, staff and friends from any of our awards</p>
      </div>
    </a>
  </div>
</div>
        </div>

        
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../../dev/js/app.js"></script>

    </body>
</html>
