

<!DOCTYPE html>
<html class="no-js no-touch" lang="en">
    <head>
        
<script type="text/javascript">(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="cleartype" content="on" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
<link href="../../styles/main.css" rel="stylesheet" />
<link media="print" href="../../styles/print.css" rel="stylesheet" />
    </head>

    <body>
        <div class="wrap  margin-top-xl">
            <div class="grid  grid-5-cols">
  
    <article aria-label="Specialist labs">
      <div class="tile  margin-bottom-lg" href="">
        <figure class="tile__figure">
          <a href="#" data-modal-trigger="lead-gen-modal-1">
            <img src="https://picsum.photos/500/500?random=1" class="tile__img" alt=""/>
          </a>
        </figure>

        <div class="tile__caption">
          <div class="title  title--bg-maroon  tile__title">
            <h3 class="h6  title__highlight">Specialist labs</h3>
          </div>
        </div>
      </div>
    </article>
  
    <article aria-label="HDTV studios">
      <div class="tile  margin-bottom-lg" href="">
        <figure class="tile__figure">
          <a href="#" data-modal-trigger="lead-gen-modal-2">
            <img src="https://picsum.photos/500/500?random=2" class="tile__img" alt=""/>
          </a>
        </figure>

        <div class="tile__caption">
          <div class="title  title--bg-maroon  tile__title">
            <h3 class="h6  title__highlight">HDTV studios</h3>
          </div>
        </div>
      </div>
    </article>
  
    <article aria-label="Theatres">
      <div class="tile  margin-bottom-lg" href="">
        <figure class="tile__figure">
          <a href="#" data-modal-trigger="lead-gen-modal-3">
            <img src="https://picsum.photos/500/500?random=3" class="tile__img" alt=""/>
          </a>
        </figure>

        <div class="tile__caption">
          <div class="title  title--bg-maroon  tile__title">
            <h3 class="h6  title__highlight">Theatres</h3>
          </div>
        </div>
      </div>
    </article>
  
    <article aria-label="A long title to test across multiple lines">
      <div class="tile  margin-bottom-lg" href="">
        <figure class="tile__figure">
          <a href="#" data-modal-trigger="lead-gen-modal-4">
            <img src="https://picsum.photos/500/500?random=4" class="tile__img" alt=""/>
          </a>
        </figure>

        <div class="tile__caption">
          <div class="title  title--bg-maroon  tile__title">
            <h3 class="h6  title__highlight">A long title to test across multiple lines</h3>
          </div>
        </div>
      </div>
    </article>
  
    <article aria-label="Exhibition spaces">
      <div class="tile  margin-bottom-lg" href="">
        <figure class="tile__figure">
          <a href="#" data-modal-trigger="lead-gen-modal-5">
            <img src="https://picsum.photos/500/500?random=5" class="tile__img" alt=""/>
          </a>
        </figure>

        <div class="tile__caption">
          <div class="title  title--bg-maroon  tile__title">
            <h3 class="h6  title__highlight">Exhibition spaces</h3>
          </div>
        </div>
      </div>
    </article>
  
    <article aria-label="Event spaces">
      <div class="tile  margin-bottom-lg" href="">
        <figure class="tile__figure">
          <a href="#" data-modal-trigger="lead-gen-modal-6">
            <img src="https://picsum.photos/500/500?random=6" class="tile__img" alt=""/>
          </a>
        </figure>

        <div class="tile__caption">
          <div class="title  title--bg-maroon  tile__title">
            <h3 class="h6  title__highlight">Event spaces</h3>
          </div>
        </div>
      </div>
    </article>
  
    <article aria-label="Cafes and bars">
      <div class="tile  margin-bottom-lg" href="">
        <figure class="tile__figure">
          <a href="#" data-modal-trigger="lead-gen-modal-7">
            <img src="https://picsum.photos/500/500?random=7" class="tile__img" alt=""/>
          </a>
        </figure>

        <div class="tile__caption">
          <div class="title  title--bg-maroon  tile__title">
            <h3 class="h6  title__highlight">Cafes and bars</h3>
          </div>
        </div>
      </div>
    </article>
  
    <article aria-label="Outdoor spaces">
      <div class="tile  margin-bottom-lg" href="">
        <figure class="tile__figure">
          <a href="#" data-modal-trigger="lead-gen-modal-8">
            <img src="https://picsum.photos/500/500?random=8" class="tile__img" alt=""/>
          </a>
        </figure>

        <div class="tile__caption">
          <div class="title  title--bg-maroon  tile__title">
            <h3 class="h6  title__highlight">Outdoor spaces</h3>
          </div>
        </div>
      </div>
    </article>
  
    <article aria-label="Offices">
      <div class="tile  margin-bottom-lg" href="">
        <figure class="tile__figure">
          <a href="#" data-modal-trigger="lead-gen-modal-9">
            <img src="https://picsum.photos/500/500?random=9" class="tile__img" alt=""/>
          </a>
        </figure>

        <div class="tile__caption">
          <div class="title  title--bg-maroon  tile__title">
            <h3 class="h6  title__highlight">Offices</h3>
          </div>
        </div>
      </div>
    </article>
  
    <article aria-label="Meeting rooms">
      <div class="tile  margin-bottom-lg" href="">
        <figure class="tile__figure">
          <a href="#" data-modal-trigger="lead-gen-modal-10">
            <img src="https://picsum.photos/500/500?random=10" class="tile__img" alt=""/>
          </a>
        </figure>

        <div class="tile__caption">
          <div class="title  title--bg-maroon  tile__title">
            <h3 class="h6  title__highlight">Meeting rooms</h3>
          </div>
        </div>
      </div>
    </article>
  
</div>


  <div id="lead-gen-modal-1" class="modal  modal-slide" aria-hidden="true" aria-label="Specialist labs" data-modal="lead-gen-modal-1">
    <div class="modal__overlay">
        <div class="modal__container" role="dialog">
            <header class="modal__header">
                <h3></h3>
                <button class="modal__close" aria-label="Close modal" data-modal-close="" type="button" />
            </header>
            <div class="modal__content">
                <div>
                    <div>
                        <div>
                          <h2 class="visually-hidden">Specialist labs</h2>
                          <img class="align-center" src="https://picsum.photos/500/500?random=1" alt=""/>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
  </div>

  <div id="lead-gen-modal-2" class="modal  modal-slide" aria-hidden="true" aria-label="HDTV studios" data-modal="lead-gen-modal-2">
    <div class="modal__overlay">
        <div class="modal__container" role="dialog">
            <header class="modal__header">
                <h3></h3>
                <button class="modal__close" aria-label="Close modal" data-modal-close="" type="button" />
            </header>
            <div class="modal__content">
                <div>
                    <div>
                        <div>
                          <h2 class="visually-hidden">HDTV studios</h2>
                          <img class="align-center" src="https://picsum.photos/500/500?random=2" alt=""/>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
  </div>

  <div id="lead-gen-modal-3" class="modal  modal-slide" aria-hidden="true" aria-label="Theatres" data-modal="lead-gen-modal-3">
    <div class="modal__overlay">
        <div class="modal__container" role="dialog">
            <header class="modal__header">
                <h3></h3>
                <button class="modal__close" aria-label="Close modal" data-modal-close="" type="button" />
            </header>
            <div class="modal__content">
                <div>
                    <div>
                        <div>
                          <h2 class="visually-hidden">Theatres</h2>
                          <img class="align-center" src="https://picsum.photos/500/500?random=3" alt=""/>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
  </div>

  <div id="lead-gen-modal-4" class="modal  modal-slide" aria-hidden="true" aria-label="A long title to test across multiple lines" data-modal="lead-gen-modal-4">
    <div class="modal__overlay">
        <div class="modal__container" role="dialog">
            <header class="modal__header">
                <h3></h3>
                <button class="modal__close" aria-label="Close modal" data-modal-close="" type="button" />
            </header>
            <div class="modal__content">
                <div>
                    <div>
                        <div>
                          <h2 class="visually-hidden">A long title to test across multiple lines</h2>
                          <img class="align-center" src="https://picsum.photos/500/500?random=4" alt=""/>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
  </div>

  <div id="lead-gen-modal-5" class="modal  modal-slide" aria-hidden="true" aria-label="Exhibition spaces" data-modal="lead-gen-modal-5">
    <div class="modal__overlay">
        <div class="modal__container" role="dialog">
            <header class="modal__header">
                <h3></h3>
                <button class="modal__close" aria-label="Close modal" data-modal-close="" type="button" />
            </header>
            <div class="modal__content">
                <div>
                    <div>
                        <div>
                          <h2 class="visually-hidden">Exhibition spaces</h2>
                          <img class="align-center" src="https://picsum.photos/500/500?random=5" alt=""/>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
  </div>

  <div id="lead-gen-modal-6" class="modal  modal-slide" aria-hidden="true" aria-label="Event spaces" data-modal="lead-gen-modal-6">
    <div class="modal__overlay">
        <div class="modal__container" role="dialog">
            <header class="modal__header">
                <h3></h3>
                <button class="modal__close" aria-label="Close modal" data-modal-close="" type="button" />
            </header>
            <div class="modal__content">
                <div>
                    <div>
                        <div>
                          <h2 class="visually-hidden">Event spaces</h2>
                          <img class="align-center" src="https://picsum.photos/500/500?random=6" alt=""/>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
  </div>

  <div id="lead-gen-modal-7" class="modal  modal-slide" aria-hidden="true" aria-label="Cafes and bars" data-modal="lead-gen-modal-7">
    <div class="modal__overlay">
        <div class="modal__container" role="dialog">
            <header class="modal__header">
                <h3></h3>
                <button class="modal__close" aria-label="Close modal" data-modal-close="" type="button" />
            </header>
            <div class="modal__content">
                <div>
                    <div>
                        <div>
                          <h2 class="visually-hidden">Cafes and bars</h2>
                          <img class="align-center" src="https://picsum.photos/500/500?random=7" alt=""/>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
  </div>

  <div id="lead-gen-modal-8" class="modal  modal-slide" aria-hidden="true" aria-label="Outdoor spaces" data-modal="lead-gen-modal-8">
    <div class="modal__overlay">
        <div class="modal__container" role="dialog">
            <header class="modal__header">
                <h3></h3>
                <button class="modal__close" aria-label="Close modal" data-modal-close="" type="button" />
            </header>
            <div class="modal__content">
                <div>
                    <div>
                        <div>
                          <h2 class="visually-hidden">Outdoor spaces</h2>
                          <img class="align-center" src="https://picsum.photos/500/500?random=8" alt=""/>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
  </div>

  <div id="lead-gen-modal-9" class="modal  modal-slide" aria-hidden="true" aria-label="Offices" data-modal="lead-gen-modal-9">
    <div class="modal__overlay">
        <div class="modal__container" role="dialog">
            <header class="modal__header">
                <h3></h3>
                <button class="modal__close" aria-label="Close modal" data-modal-close="" type="button" />
            </header>
            <div class="modal__content">
                <div>
                    <div>
                        <div>
                          <h2 class="visually-hidden">Offices</h2>
                          <img class="align-center" src="https://picsum.photos/500/500?random=9" alt=""/>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
  </div>

  <div id="lead-gen-modal-10" class="modal  modal-slide" aria-hidden="true" aria-label="Meeting rooms" data-modal="lead-gen-modal-10">
    <div class="modal__overlay">
        <div class="modal__container" role="dialog">
            <header class="modal__header">
                <h3></h3>
                <button class="modal__close" aria-label="Close modal" data-modal-close="" type="button" />
            </header>
            <div class="modal__content">
                <div>
                    <div>
                        <div>
                          <h2 class="visually-hidden">Meeting rooms</h2>
                          <img class="align-center" src="https://picsum.photos/500/500?random=10" alt=""/>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
  </div>

        </div>

        
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../../dev/js/app.js"></script>

    </body>
</html>
