

<!DOCTYPE html>
<html class="no-js no-touch" lang="en">
    <head>
        
<script type="text/javascript">(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="cleartype" content="on" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
<link href="../../styles/main.css" rel="stylesheet" />
<link media="print" href="../../styles/print.css" rel="stylesheet" />
    </head>

    <body>
        <div class="wrap  margin-top-xl">
            <div class="image-gallery  grid  grid-5-cols">
  
    <article class="margin-bottom-lg" aria-label="Specialist labs">
        <figure>
            <a href="#" data-modal-trigger="image-gallery-modal-1">
              <svg class="image-gallery__magnify" viewBox="0 0 41 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M17.625 34.375C26.8757 34.375 34.375 26.8758 34.375 17.625C34.375 8.37423 26.8757 0.875 17.625 0.875C8.37427 0.875 0.875 8.37423 0.875 17.625C0.875 26.8758 8.37427 34.375 17.625 34.375ZM17.625 30C24.4595 30 30 24.4595 30 17.625C30 10.7905 24.4595 5.25 17.625 5.25C10.7905 5.25 5.25 10.7905 5.25 17.625C5.25 24.4595 10.7905 30 17.625 30Z" fill="white"></path>
                <path d="M26.75 27.875C27.6164 27.0085 29.0213 27.0085 29.8877 27.875L40.3137 38.301C41.1802 39.1674 41.1802 40.5723 40.3137 41.4388C39.4472 42.3052 38.0424 42.3052 37.1759 41.4388L26.75 31.0128C25.8835 30.1463 25.8835 28.7415 26.75 27.875Z" fill="white"></path>
              </svg>
              <img src="https://picsum.photos/500/500?random=1" alt=""/>
            </a>
        </figure>
        <div class="title  tile__title">
            <h3 class="h6  title__highlight">Specialist labs</h3>
        </div>
    </article>
  
    <article class="margin-bottom-lg" aria-label="HDTV studios">
        <figure>
            <a href="#" data-modal-trigger="image-gallery-modal-2">
              <svg class="image-gallery__magnify" viewBox="0 0 41 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M17.625 34.375C26.8757 34.375 34.375 26.8758 34.375 17.625C34.375 8.37423 26.8757 0.875 17.625 0.875C8.37427 0.875 0.875 8.37423 0.875 17.625C0.875 26.8758 8.37427 34.375 17.625 34.375ZM17.625 30C24.4595 30 30 24.4595 30 17.625C30 10.7905 24.4595 5.25 17.625 5.25C10.7905 5.25 5.25 10.7905 5.25 17.625C5.25 24.4595 10.7905 30 17.625 30Z" fill="white"></path>
                <path d="M26.75 27.875C27.6164 27.0085 29.0213 27.0085 29.8877 27.875L40.3137 38.301C41.1802 39.1674 41.1802 40.5723 40.3137 41.4388C39.4472 42.3052 38.0424 42.3052 37.1759 41.4388L26.75 31.0128C25.8835 30.1463 25.8835 28.7415 26.75 27.875Z" fill="white"></path>
              </svg>
              <img src="https://picsum.photos/500/500?random=2" alt=""/>
            </a>
        </figure>
        <div class="title  tile__title">
            <h3 class="h6  title__highlight">HDTV studios</h3>
        </div>
    </article>
  
    <article class="margin-bottom-lg" aria-label="Theatres">
        <figure>
            <a href="#" data-modal-trigger="image-gallery-modal-3">
              <svg class="image-gallery__magnify" viewBox="0 0 41 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M17.625 34.375C26.8757 34.375 34.375 26.8758 34.375 17.625C34.375 8.37423 26.8757 0.875 17.625 0.875C8.37427 0.875 0.875 8.37423 0.875 17.625C0.875 26.8758 8.37427 34.375 17.625 34.375ZM17.625 30C24.4595 30 30 24.4595 30 17.625C30 10.7905 24.4595 5.25 17.625 5.25C10.7905 5.25 5.25 10.7905 5.25 17.625C5.25 24.4595 10.7905 30 17.625 30Z" fill="white"></path>
                <path d="M26.75 27.875C27.6164 27.0085 29.0213 27.0085 29.8877 27.875L40.3137 38.301C41.1802 39.1674 41.1802 40.5723 40.3137 41.4388C39.4472 42.3052 38.0424 42.3052 37.1759 41.4388L26.75 31.0128C25.8835 30.1463 25.8835 28.7415 26.75 27.875Z" fill="white"></path>
              </svg>
              <img src="https://picsum.photos/500/500?random=3" alt=""/>
            </a>
        </figure>
        <div class="title  tile__title">
            <h3 class="h6  title__highlight">Theatres</h3>
        </div>
    </article>
  
    <article class="margin-bottom-lg" aria-label="A long title to test across multiple lines">
        <figure>
            <a href="#" data-modal-trigger="image-gallery-modal-4">
              <svg class="image-gallery__magnify" viewBox="0 0 41 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M17.625 34.375C26.8757 34.375 34.375 26.8758 34.375 17.625C34.375 8.37423 26.8757 0.875 17.625 0.875C8.37427 0.875 0.875 8.37423 0.875 17.625C0.875 26.8758 8.37427 34.375 17.625 34.375ZM17.625 30C24.4595 30 30 24.4595 30 17.625C30 10.7905 24.4595 5.25 17.625 5.25C10.7905 5.25 5.25 10.7905 5.25 17.625C5.25 24.4595 10.7905 30 17.625 30Z" fill="white"></path>
                <path d="M26.75 27.875C27.6164 27.0085 29.0213 27.0085 29.8877 27.875L40.3137 38.301C41.1802 39.1674 41.1802 40.5723 40.3137 41.4388C39.4472 42.3052 38.0424 42.3052 37.1759 41.4388L26.75 31.0128C25.8835 30.1463 25.8835 28.7415 26.75 27.875Z" fill="white"></path>
              </svg>
              <img src="https://picsum.photos/500/500?random=4" alt=""/>
            </a>
        </figure>
        <div class="title  tile__title">
            <h3 class="h6  title__highlight">A long title to test across multiple lines</h3>
        </div>
    </article>
  
    <article class="margin-bottom-lg" aria-label="Exhibition spaces">
        <figure>
            <a href="#" data-modal-trigger="image-gallery-modal-5">
              <svg class="image-gallery__magnify" viewBox="0 0 41 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M17.625 34.375C26.8757 34.375 34.375 26.8758 34.375 17.625C34.375 8.37423 26.8757 0.875 17.625 0.875C8.37427 0.875 0.875 8.37423 0.875 17.625C0.875 26.8758 8.37427 34.375 17.625 34.375ZM17.625 30C24.4595 30 30 24.4595 30 17.625C30 10.7905 24.4595 5.25 17.625 5.25C10.7905 5.25 5.25 10.7905 5.25 17.625C5.25 24.4595 10.7905 30 17.625 30Z" fill="white"></path>
                <path d="M26.75 27.875C27.6164 27.0085 29.0213 27.0085 29.8877 27.875L40.3137 38.301C41.1802 39.1674 41.1802 40.5723 40.3137 41.4388C39.4472 42.3052 38.0424 42.3052 37.1759 41.4388L26.75 31.0128C25.8835 30.1463 25.8835 28.7415 26.75 27.875Z" fill="white"></path>
              </svg>
              <img src="https://picsum.photos/500/500?random=5" alt=""/>
            </a>
        </figure>
        <div class="title  tile__title">
            <h3 class="h6  title__highlight">Exhibition spaces</h3>
        </div>
    </article>
  
    <article class="margin-bottom-lg" aria-label="Event spaces">
        <figure>
            <a href="#" data-modal-trigger="image-gallery-modal-6">
              <svg class="image-gallery__magnify" viewBox="0 0 41 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M17.625 34.375C26.8757 34.375 34.375 26.8758 34.375 17.625C34.375 8.37423 26.8757 0.875 17.625 0.875C8.37427 0.875 0.875 8.37423 0.875 17.625C0.875 26.8758 8.37427 34.375 17.625 34.375ZM17.625 30C24.4595 30 30 24.4595 30 17.625C30 10.7905 24.4595 5.25 17.625 5.25C10.7905 5.25 5.25 10.7905 5.25 17.625C5.25 24.4595 10.7905 30 17.625 30Z" fill="white"></path>
                <path d="M26.75 27.875C27.6164 27.0085 29.0213 27.0085 29.8877 27.875L40.3137 38.301C41.1802 39.1674 41.1802 40.5723 40.3137 41.4388C39.4472 42.3052 38.0424 42.3052 37.1759 41.4388L26.75 31.0128C25.8835 30.1463 25.8835 28.7415 26.75 27.875Z" fill="white"></path>
              </svg>
              <img src="https://picsum.photos/500/500?random=6" alt=""/>
            </a>
        </figure>
        <div class="title  tile__title">
            <h3 class="h6  title__highlight">Event spaces</h3>
        </div>
    </article>
  
    <article class="margin-bottom-lg" aria-label="Cafes and bars">
        <figure>
            <a href="#" data-modal-trigger="image-gallery-modal-7">
              <svg class="image-gallery__magnify" viewBox="0 0 41 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M17.625 34.375C26.8757 34.375 34.375 26.8758 34.375 17.625C34.375 8.37423 26.8757 0.875 17.625 0.875C8.37427 0.875 0.875 8.37423 0.875 17.625C0.875 26.8758 8.37427 34.375 17.625 34.375ZM17.625 30C24.4595 30 30 24.4595 30 17.625C30 10.7905 24.4595 5.25 17.625 5.25C10.7905 5.25 5.25 10.7905 5.25 17.625C5.25 24.4595 10.7905 30 17.625 30Z" fill="white"></path>
                <path d="M26.75 27.875C27.6164 27.0085 29.0213 27.0085 29.8877 27.875L40.3137 38.301C41.1802 39.1674 41.1802 40.5723 40.3137 41.4388C39.4472 42.3052 38.0424 42.3052 37.1759 41.4388L26.75 31.0128C25.8835 30.1463 25.8835 28.7415 26.75 27.875Z" fill="white"></path>
              </svg>
              <img src="https://picsum.photos/500/500?random=7" alt=""/>
            </a>
        </figure>
        <div class="title  tile__title">
            <h3 class="h6  title__highlight">Cafes and bars</h3>
        </div>
    </article>
  
    <article class="margin-bottom-lg" aria-label="Outdoor spaces">
        <figure>
            <a href="#" data-modal-trigger="image-gallery-modal-8">
              <svg class="image-gallery__magnify" viewBox="0 0 41 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M17.625 34.375C26.8757 34.375 34.375 26.8758 34.375 17.625C34.375 8.37423 26.8757 0.875 17.625 0.875C8.37427 0.875 0.875 8.37423 0.875 17.625C0.875 26.8758 8.37427 34.375 17.625 34.375ZM17.625 30C24.4595 30 30 24.4595 30 17.625C30 10.7905 24.4595 5.25 17.625 5.25C10.7905 5.25 5.25 10.7905 5.25 17.625C5.25 24.4595 10.7905 30 17.625 30Z" fill="white"></path>
                <path d="M26.75 27.875C27.6164 27.0085 29.0213 27.0085 29.8877 27.875L40.3137 38.301C41.1802 39.1674 41.1802 40.5723 40.3137 41.4388C39.4472 42.3052 38.0424 42.3052 37.1759 41.4388L26.75 31.0128C25.8835 30.1463 25.8835 28.7415 26.75 27.875Z" fill="white"></path>
              </svg>
              <img src="https://picsum.photos/500/500?random=8" alt=""/>
            </a>
        </figure>
        <div class="title  tile__title">
            <h3 class="h6  title__highlight">Outdoor spaces</h3>
        </div>
    </article>
  
    <article class="margin-bottom-lg" aria-label="Offices">
        <figure>
            <a href="#" data-modal-trigger="image-gallery-modal-9">
              <svg class="image-gallery__magnify" viewBox="0 0 41 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M17.625 34.375C26.8757 34.375 34.375 26.8758 34.375 17.625C34.375 8.37423 26.8757 0.875 17.625 0.875C8.37427 0.875 0.875 8.37423 0.875 17.625C0.875 26.8758 8.37427 34.375 17.625 34.375ZM17.625 30C24.4595 30 30 24.4595 30 17.625C30 10.7905 24.4595 5.25 17.625 5.25C10.7905 5.25 5.25 10.7905 5.25 17.625C5.25 24.4595 10.7905 30 17.625 30Z" fill="white"></path>
                <path d="M26.75 27.875C27.6164 27.0085 29.0213 27.0085 29.8877 27.875L40.3137 38.301C41.1802 39.1674 41.1802 40.5723 40.3137 41.4388C39.4472 42.3052 38.0424 42.3052 37.1759 41.4388L26.75 31.0128C25.8835 30.1463 25.8835 28.7415 26.75 27.875Z" fill="white"></path>
              </svg>
              <img src="https://picsum.photos/500/500?random=9" alt=""/>
            </a>
        </figure>
        <div class="title  tile__title">
            <h3 class="h6  title__highlight">Offices</h3>
        </div>
    </article>
  
    <article class="margin-bottom-lg" aria-label="Meeting rooms">
        <figure>
            <a href="#" data-modal-trigger="image-gallery-modal-10">
              <svg class="image-gallery__magnify" viewBox="0 0 41 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M17.625 34.375C26.8757 34.375 34.375 26.8758 34.375 17.625C34.375 8.37423 26.8757 0.875 17.625 0.875C8.37427 0.875 0.875 8.37423 0.875 17.625C0.875 26.8758 8.37427 34.375 17.625 34.375ZM17.625 30C24.4595 30 30 24.4595 30 17.625C30 10.7905 24.4595 5.25 17.625 5.25C10.7905 5.25 5.25 10.7905 5.25 17.625C5.25 24.4595 10.7905 30 17.625 30Z" fill="white"></path>
                <path d="M26.75 27.875C27.6164 27.0085 29.0213 27.0085 29.8877 27.875L40.3137 38.301C41.1802 39.1674 41.1802 40.5723 40.3137 41.4388C39.4472 42.3052 38.0424 42.3052 37.1759 41.4388L26.75 31.0128C25.8835 30.1463 25.8835 28.7415 26.75 27.875Z" fill="white"></path>
              </svg>
              <img src="https://picsum.photos/500/500?random=10" alt=""/>
            </a>
        </figure>
        <div class="title  tile__title">
            <h3 class="h6  title__highlight">Meeting rooms</h3>
        </div>
    </article>
  
</div>


  <div id="image-gallery-modal-1" class="modal  modal-slide" aria-hidden="true" aria-label="Specialist labs" data-modal="image-gallery-modal-1">
    <div class="modal__overlay">
        <div class="modal__container" role="dialog">
            <header class="modal__header">
                <h3></h3>
                <button class="modal__close" aria-label="Close modal" data-modal-close="" type="button" />
            </header>
            <div class="modal__content">
                <div>
                    <div>
                        <div>
                          <h2 class="visually-hidden">Specialist labs</h2>
                          <img class="align-center" src="https://picsum.photos/500/500?random=1" alt=""/>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
  </div>

  <div id="image-gallery-modal-2" class="modal  modal-slide" aria-hidden="true" aria-label="HDTV studios" data-modal="image-gallery-modal-2">
    <div class="modal__overlay">
        <div class="modal__container" role="dialog">
            <header class="modal__header">
                <h3></h3>
                <button class="modal__close" aria-label="Close modal" data-modal-close="" type="button" />
            </header>
            <div class="modal__content">
                <div>
                    <div>
                        <div>
                          <h2 class="visually-hidden">HDTV studios</h2>
                          <img class="align-center" src="https://picsum.photos/500/500?random=2" alt=""/>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
  </div>

  <div id="image-gallery-modal-3" class="modal  modal-slide" aria-hidden="true" aria-label="Theatres" data-modal="image-gallery-modal-3">
    <div class="modal__overlay">
        <div class="modal__container" role="dialog">
            <header class="modal__header">
                <h3></h3>
                <button class="modal__close" aria-label="Close modal" data-modal-close="" type="button" />
            </header>
            <div class="modal__content">
                <div>
                    <div>
                        <div>
                          <h2 class="visually-hidden">Theatres</h2>
                          <img class="align-center" src="https://picsum.photos/500/500?random=3" alt=""/>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
  </div>

  <div id="image-gallery-modal-4" class="modal  modal-slide" aria-hidden="true" aria-label="A long title to test across multiple lines" data-modal="image-gallery-modal-4">
    <div class="modal__overlay">
        <div class="modal__container" role="dialog">
            <header class="modal__header">
                <h3></h3>
                <button class="modal__close" aria-label="Close modal" data-modal-close="" type="button" />
            </header>
            <div class="modal__content">
                <div>
                    <div>
                        <div>
                          <h2 class="visually-hidden">A long title to test across multiple lines</h2>
                          <img class="align-center" src="https://picsum.photos/500/500?random=4" alt=""/>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
  </div>

  <div id="image-gallery-modal-5" class="modal  modal-slide" aria-hidden="true" aria-label="Exhibition spaces" data-modal="image-gallery-modal-5">
    <div class="modal__overlay">
        <div class="modal__container" role="dialog">
            <header class="modal__header">
                <h3></h3>
                <button class="modal__close" aria-label="Close modal" data-modal-close="" type="button" />
            </header>
            <div class="modal__content">
                <div>
                    <div>
                        <div>
                          <h2 class="visually-hidden">Exhibition spaces</h2>
                          <img class="align-center" src="https://picsum.photos/500/500?random=5" alt=""/>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
  </div>

  <div id="image-gallery-modal-6" class="modal  modal-slide" aria-hidden="true" aria-label="Event spaces" data-modal="image-gallery-modal-6">
    <div class="modal__overlay">
        <div class="modal__container" role="dialog">
            <header class="modal__header">
                <h3></h3>
                <button class="modal__close" aria-label="Close modal" data-modal-close="" type="button" />
            </header>
            <div class="modal__content">
                <div>
                    <div>
                        <div>
                          <h2 class="visually-hidden">Event spaces</h2>
                          <img class="align-center" src="https://picsum.photos/500/500?random=6" alt=""/>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
  </div>

  <div id="image-gallery-modal-7" class="modal  modal-slide" aria-hidden="true" aria-label="Cafes and bars" data-modal="image-gallery-modal-7">
    <div class="modal__overlay">
        <div class="modal__container" role="dialog">
            <header class="modal__header">
                <h3></h3>
                <button class="modal__close" aria-label="Close modal" data-modal-close="" type="button" />
            </header>
            <div class="modal__content">
                <div>
                    <div>
                        <div>
                          <h2 class="visually-hidden">Cafes and bars</h2>
                          <img class="align-center" src="https://picsum.photos/500/500?random=7" alt=""/>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
  </div>

  <div id="image-gallery-modal-8" class="modal  modal-slide" aria-hidden="true" aria-label="Outdoor spaces" data-modal="image-gallery-modal-8">
    <div class="modal__overlay">
        <div class="modal__container" role="dialog">
            <header class="modal__header">
                <h3></h3>
                <button class="modal__close" aria-label="Close modal" data-modal-close="" type="button" />
            </header>
            <div class="modal__content">
                <div>
                    <div>
                        <div>
                          <h2 class="visually-hidden">Outdoor spaces</h2>
                          <img class="align-center" src="https://picsum.photos/500/500?random=8" alt=""/>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
  </div>

  <div id="image-gallery-modal-9" class="modal  modal-slide" aria-hidden="true" aria-label="Offices" data-modal="image-gallery-modal-9">
    <div class="modal__overlay">
        <div class="modal__container" role="dialog">
            <header class="modal__header">
                <h3></h3>
                <button class="modal__close" aria-label="Close modal" data-modal-close="" type="button" />
            </header>
            <div class="modal__content">
                <div>
                    <div>
                        <div>
                          <h2 class="visually-hidden">Offices</h2>
                          <img class="align-center" src="https://picsum.photos/500/500?random=9" alt=""/>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
  </div>

  <div id="image-gallery-modal-10" class="modal  modal-slide" aria-hidden="true" aria-label="Meeting rooms" data-modal="image-gallery-modal-10">
    <div class="modal__overlay">
        <div class="modal__container" role="dialog">
            <header class="modal__header">
                <h3></h3>
                <button class="modal__close" aria-label="Close modal" data-modal-close="" type="button" />
            </header>
            <div class="modal__content">
                <div>
                    <div>
                        <div>
                          <h2 class="visually-hidden">Meeting rooms</h2>
                          <img class="align-center" src="https://picsum.photos/500/500?random=10" alt=""/>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
  </div>

        </div>

        
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../../dev/js/app.js"></script>

    </body>
</html>
