

<!DOCTYPE html>
<html class="no-js no-touch" lang="en">
    <head>
        
<script type="text/javascript">(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="cleartype" content="on" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
<link href="../../styles/main.css" rel="stylesheet" />
<link media="print" href="../../styles/print.css" rel="stylesheet" />
    </head>

    <body>
        <div class="wrap  margin-top-xl">
            <aside class="link-with-icon  margin-bottom-xl">
    <div class="link-with-icon__logo">
        <img src="https://www.staffs.ac.uk/image-library/legacy-logos/access-able-icon.png" alt="" class="accessable-link__logo">
    </div>
    <div class="link-with-icon__link">
        <a href="https://www.accessable.co.uk/staffordshire-university/access-guides/science-centre">Science Centre accessibility guide provided by AccessAble</a>
    </div>
</aside>

<div class="link-with-icon">
    <div class="link-with-icon__logo">
        <i class="icon  icon--play-circle-red  font-3xl"></i>
    </div>
    <div class="link-with-icon__link">
        <a href="https://www.youtube.com/embed/fiiB4p6ORsc">Esports Arena London</a>
    </div>
</div>
        </div>

        
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../../dev/js/app.js"></script>

    </body>
</html>
