

<!DOCTYPE html>
<html class="no-js no-touch" lang="en">
<head>
    
<script type="text/javascript">(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="cleartype" content="on" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
<link href="../../styles/main.css" rel="stylesheet" />
<link media="print" href="../../styles/print.css" rel="stylesheet" />
</head>

<body>




<div class="masthead  masthead--course">
  <div class="masthead__course-divider">
    <div class="masthead__course-info">
      <h1 class="title">Esports <span class="masthead__award-type  font-md">BA (Hons)</span></h1>
      <p class="masthead__ucas-code"><strong>UCAS code</strong> S101</p>

      <label for="study-option-selector">Study options</label>
      <select id="study-option-selector" title="Study Options">
        <option selected>Full-time, Stoke-on-Trent campus</option>
        <option>Full-time, City of Stoke-On-Trent Sixth Form College, with a foundation year</option>
        <option>Full-time, Stoke-On-Trent campus, with a placement year</option>
      </select>

      <label for="award-type-selector">Award</label>
      <select id="award-type-selector" title="Award Type">
        <option selected>BA (Hons)</option>
        <option>BSc (Hons)</option>
      </select>

      <div class="grid  grid-2-cols">
        <div>
          <h2 class="h4  title">Location</h2>
          <p>Stoke-on-Trent campus</p>
        </div>
        <div>
          <h2 class="h4  title">Duration</h2>
          <p>4 years</p>
        </div>
      </div>

      <h2 class="h4  title">Entry requirements</h2>
      <p>112 - 120 UCAS points, plus GCSE Mathematics grade 5 or above</p>

      <ul class="list--inline">
        <li>
          



<a href="" class="button">
  
  Apply now
</a>

        </li>
        <li>
          


  


<a href="" class="button  button--grey">
  
  Book an open day
</a>

        </li>
      </ul>

    </div>

    <div class="masthead__course-img">
      
        <img src="../../images/masthead5.jpg"/>
      
    </div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../../dev/js/app.js"></script>

</body>
</html>
