

<!DOCTYPE html>
<html class="no-js no-touch" lang="en">
<head>
    
<script type="text/javascript">(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="cleartype" content="on" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
<link href="../../styles/main.css" rel="stylesheet" />
<link media="print" href="../../styles/print.css" rel="stylesheet" />
</head>

<body>

<article class="masthead-home" aria-label="Welcome to your place of possibility">
  <div class="wrap">
    <div class="masthead-home__hero">
      <img class="masthead-home__img" src="../../images/masthead-home.jpg" alt="" />
      <img class="masthead-home__mobile" src="../../images/masthead-home-mobile.jpg" alt="" />

      <div class="masthead-home__story">
        <div class="masthead-home__title  title  title--bg-dark-blue">
          <h1 class="title__highlight">Welcome to your place of possibility</h1>
        </div>
        <div class="masthead-home__subtitle  title--bg-white">
          <p class="title__highlight  h5">Join us on campus on Saturday 30 November to discover next-level teaching within an uplifting, inclusive community.</p>
        </div>

        <a href="" class="button  button--neon">
            Book undergraduate
        </a>

        <a href="" class="button  button--digital-blue">
            Book postgraduate
        </a>
      </div>
    </div>
  </div>
</article>

<hr />

<article class="masthead-home  masthead-home--dark-blue" aria-label="Welcome to your place of possibility">
  <div class="wrap">
    <div class="masthead-home__hero">
      <img class="masthead-home__img" src="../../images/masthead-home.jpg" alt="" />
      <img class="masthead-home__mobile" src="../../images/masthead-home-mobile.jpg" alt="" />

      <div class="masthead-home__story">
        <div class="masthead-home__title  title  title--bg-dark-blue">
          <h1 class="title__highlight">Welcome to your place of possibility</h1>
        </div>
        <div class="masthead-home__subtitle  title--bg-white">
          <p class="title__highlight  h5">Join us on campus on Saturday 30 November to discover next-level teaching within an uplifting, inclusive community.</p>
        </div>

        <a href="" class="button  button--neon">
            Book undergraduate
        </a>

        <a href="" class="button  button--digital-blue">
            Book postgraduate
        </a>
      </div>
    </div>
  </div>
</article>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../../dev/js/app.js"></script>

</body>
</html>
