

<!DOCTYPE html>
<html class="no-js no-touch" lang="en">
    <head>
        
<script type="text/javascript">(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="cleartype" content="on" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
<link href="../../styles/main.css" rel="stylesheet" />
<link media="print" href="../../styles/print.css" rel="stylesheet" />
    </head>

    <body>
        <div class="wrap  margin-top-xl">
            <dl class="meta  meta--inline">
  <div class="meta__item">
    <dt>Study Options:</dt>
    <dd>Full time</dd><dd>Part time</dd><dd>Foundation Year</dd><dd>Placement Year</dd><dd>Integrated Masters (MSci)</dd>
  </div>

  <div class="meta__item">
    <dt>Days of the week:</dt>
    <dd>Monday</dd><dd>Tuesday</dd><dd>Wednesday</dd><dd>Thursday</dd><dd>Friday</dd>
  </div>

  <div class="meta__item">
    <dt>Day of Rest:</dt>
    <dd>Sunday</dd>
  </div>
</dl>
        </div>

        
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../../dev/js/app.js"></script>

    </body>
</html>
