

<!DOCTYPE html>
<html class="no-js no-touch" lang="en">
    <head>
        
<script type="text/javascript">(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="cleartype" content="on" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
<link href="../../styles/main.css" rel="stylesheet" />
<link media="print" href="../../styles/print.css" rel="stylesheet" />
    </head>

    <body>
        <div class="wrap  margin-top-xl">
            <footer class="footer-site" aria-label="Page footer">
  <div class="wrap">

    <div class="grid">
      <div class="col-1/6@tablet">
        <img src="../../img/uk-map-with-uos-campuses.svg" alt="" />
      </div>
      <div class="col-5/6@tablet">

        <ul class="list--unstyled  margin-top-xl">
          <li><i class="icon  icon--pin-red"></i> University of Staffordshire, College Road, University Quarter, Stoke-on-Trent, ST4 2DE</li>
          <li><i class="icon  icon--pin-red"></i> University of Staffordshire Centre for Health Innovation, Blackheath Lane, Stafford, ST18 0YB</li>
          <li><i class="icon  icon--pin-red"></i> University of Staffordshire London, Here East, Queen Elizabeth Olympic Park, East London, E20 3BS</li>
        </ul>

        <div class="grid">

          <div class="col-1/4@tablet">
            <p>+44 (0)1782 294000</p>
          </div>

          <div class="col-1/4@tablet">
            <p><a href="">Contact us</a></p>
          </div>

          <div class="col-1/2@tablet">
            <section aria-label="Connect with us">
              <ul class="list--inline  footer-site__social-list">
                <li><a href=""><i class="icon"><img src="../../img/icon-facebook-white.svg" alt="Facebook"/></i></a></li>
                <li><a href=""><i class="icon"><img src="../../img/icon-x-white.svg" alt="X"/></i></a></li>
                <li><a href=""><i class="icon"><img src="../../img/icon-instagram-white.svg" alt="Instagram"/></i></a></li>
                <li><a href=""><i class="icon"><img src="../../img/icon-youtube-white.svg" alt="YouTube"/></i></a></li>
                <li><a href=""><i class="icon"><img src="../../img/icon-tiktok-white.svg" alt="TikTok"/></i></a></li>
                <li><a href=""><i class="icon"><img src="../../img/icon-linkedin-white.svg" alt="LinkedIn"/></i></a></li>
              </ul>
            </section>
          </div>

      </div>
    </div>


    <div class="footer-site__links">
      <div>
        <h6>Study</h6>
        <ul class="list--links">
          <li><a href="">Undergraduate</a></li>
          <li><a href="">Postgraduate</a></li>
          <li><a href="">Short courses and CPD</a></li>
          <li><a href="">Distance learning</a></li>
          <li><a href="">Two-year accelerated degrees</a></li>
          <li><a href="">Partnerships</a></li>
        </ul>
      </div>

      <div>
        <h6>Information for</h6>
        <ul class="list--links">
          <li><a href="">Current students</a></li>
          <li><a href="">Current staff</a></li>
          <li><a href="">Alumni</a></li>
          <li><a href="">Schools and colleges</a></li>
        </ul>
      </div>

      <div>
        <h6>Also see</h6>
        <ul class="list--links">
          <li><a href="">News</a></li>
          <li><a href="">Events</a></li>
          <li><a href="">Job vacancies</a></li>
          <li><a href="">Legal</a></li>
          <li><a href="">Accessibility</a></li>
          <li><a href="">Transparency return</a></li>
        </ul>
      </div>

      <div>
          <img class="footer-site__logo-img" src="../../img/logo-tef-silver.png" alt="TEF Silver" />
        </div>
    </div>

    <p class="align-right">&copy; Staffordshire University 2024</p>
</footer>






        </div>

        
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../../dev/js/app.js"></script>

    </body>
</html>
