<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
    window.frctl = {
        env: 'static'
    };
    </script>
    <script>var cl = document.querySelector('html').classList; cl.remove('no-js'); cl.add('has-js');</script>
    <link rel="shortcut icon" href="../../themes/mandelbrot/favicon.ico" type="image/ico">
<style>
    :root {
        
        
        
    }
</style>

<link rel="stylesheet" href="../../themes/mandelbrot/css/white.css?cachebust=1.9.4" type="text/css">

<link rel="stylesheet" href="../../themes/mandelbrot/css/highlight.css?cachebust=1.9.4" type="text/css">


<title>Error rendering component page-header | University of Staffordshire - 2024 Brand</title>

</head>
<body>



<div class="Frame Frame--full" id="frame">


<div class="Error Error--render">
    <h4 class="Error-title">Error rendering component</h4>
    <div class="Error-message Prose">
        <p>Error: Template @global-search not found</p>

    </div>
    
    <code class="Error-stack">
        <pre>Error: Error: Template @global-search not found
    at c:\Users\cjg4\Documents\Pattern Library\2024design\node_modules\@frctl\twig\src\adapter.js:156:24
    at new Promise (<anonymous>)
    at TwigAdapter.render (c:\Users\cjg4\Documents\Pattern Library\2024design\node_modules\@frctl\twig\src\adapter.js:134:16)
    at ComponentSource._renderVariant (c:\Users\cjg4\Documents\Pattern Library\2024design\node_modules\@frctl\fractal\src\api\components\source.js:212:30)
    at _renderVariant.next (<anonymous>)
    at onFulfilled (c:\Users\cjg4\Documents\Pattern Library\2024design\node_modules\co\index.js:65:19)</pre>
    </code>
    
</div>


</div>




<script src="../../themes/mandelbrot/js/mandelbrot.js?cachebust=1.9.4"></script>



</body>
</html>
