

<!DOCTYPE html>
<html class="no-js no-touch theme-ldn" lang="en">
<head>
    
<script type="text/javascript">(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="cleartype" content="on" />

<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">
<link href="../../styles/main-ldn.css" rel="stylesheet" />
<link media="print" href="../../styles/print.css" rel="stylesheet" />
</head>

<body>

<footer class="footer-site">
  <div class="wrap">
    <a class="footer-site__logo" title="Home" href="/">
      <img src="../../img/theme-ldn/logo-ldn.svg" alt="Digital Institute London Logo" class="no-lazy-load">
    </a>

    <div class="footer-site__main">

      <div class="grid  grid--spaced">
        <div class="col-3/5  col-reverse">
          <div class="grid  grid--spaced  grid-2-cols">
            <div>
              <h6>Courses</h6>
              <ul class="list--unstyled  list--links">
                <li><a href="">Computer Science</a></li>
                <li><a href="">Concept Art for Games and Film</a></li>
                <li><a href="">Computer Games Design</a></li>
                <li><a href="">Esports</a></li>
                <li><a href="">Games PR, and Community Management</a></li>
                <li><a href="">Cyber Security</a></li>
              </ul>
            </div>




















            <div>
              <h6>Connect with us</h6>
              <ul class="list--inline  footer-site__social-list">
                <li><a href=""><i class="icon"><img src="../../img/icon-facebook-white.svg" alt="Facebook"/></i></a></li>
                <li><a href=""><i class="icon"><img src="../../img/icon-twitter-white.svg" alt="Twitter"/></i></a></li>
                
                
                
                <li><a href=""><i class="icon"><img src="../../img/icon-instagram-white.svg" alt="Instagram"/></i></a></li>
                
              </ul>
            </div>
          </div>

        </div>

        <div class="col-2/5">
          <h6><strong>Staffordshire University London</strong></h6>

          <p>
            Here East<br/>
            Queen Elizabeth Olympic Park<br/>
            East London<br/>
            E20 3BS<br/>
          </p>

          <p>+44 (0)1782 294000</p>
          <p><a href="">Contact us</a></p>
          <p>&copy; Staffordshire University London 2024</p>

        </div>
      </div>
    </div>


  </div>
</footer>











<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../../dev/js/app.js"></script>

</body>
</html>
