

<!DOCTYPE html>
<html class="no-js no-touch" lang="en">
    <head>
        
<script type="text/javascript">(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="cleartype" content="on" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
<link href="../../styles/main.css" rel="stylesheet" />
<link media="print" href="../../styles/print.css" rel="stylesheet" />
    </head>

    <body>
        <div class="wrap  margin-top-xl">
            <div class="grid">
    <div class="col-1/4@tablet">
        <div class="pie-chart">
            <svg width="100%" height="100%" class="pie">
                <circle class="circle-1" r="50" cx="100" cy="100" style="stroke-dasharray: 59.85 315;"></circle>
                <circle class="circle-2" r="50" cx="100" cy="100" style="stroke-dasharray: 255.15 315; stroke-dashoffset: -59.85;"></circle>
                <circle class="circle-3" r="50" cx="100" cy="100" style="stroke-dasharray: 0 315; stroke-dashoffset: -315;"></circle>
            </svg>
        </div>
    </div>
    <div class="col-3/4@tablet">
        <div class="pie-chart_key">
            <span class="key-color key-1"></span>
            <span class="key-label"><strong>19%</strong> of time in lectures, seminars or similar</span>
        </div>
        <div class="pie-chart_key">
            <span class="key-color key-2"></span>
            <span class="key-label"><strong>81%</strong> of time in independent study</span>
        </div>
        <div class="pie-chart_key">
            <span class="key-color key-3"></span>
            <span class="key-label"><strong>0%</strong> of time in work based learning</span>
        </div>
    </div>
</div>
        </div>

        
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../../dev/js/app.js"></script>

    </body>
</html>
