

<!DOCTYPE html>
<html class="no-js no-touch" lang="en">
    <head>
        
<script type="text/javascript">(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="cleartype" content="on" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
<link href="../../styles/main.css" rel="stylesheet" />
<link media="print" href="../../styles/print.css" rel="stylesheet" />
    </head>

    <body>
        <div class="wrap  margin-top-xl">
            <div class="quote-banner  quote-banner--bg-digital-blue  align-full">
  <div class="wrap">

    <div class="quote-banner__flexContainer">

      <div class="quote-banner__quoteContainer">
        <div class="card  card--testimonial  card--pink">
          <div class="card__content">
            <blockquote class="blockquote--large">
              <q class="blockquote__title">After coming to Staffs, it feels like my future looks different, very bright in fact.</q>

              <footer class="blockquote__footer">
                <cite class="cite">Zenith Shaileshkumar Vaghasiya</cite>
                <p>MA Sports Journalism graduate, 2020</p>
              </footer>
            </blockquote>
          </div>
        </div>
      </div>

      <figure class="quote-banner__figure">
        <img src="../../images/placeholder-transparent-person.png" alt="" />
      </figure>
    </div>

  </div>
</div>

<div class="quote-banner  quote-banner--bg-dark-blue  align-full  margin-top-4xl">
  <div class="wrap">

    <div class="quote-banner__flexContainer">

      <div class="quote-banner__quoteContainer">
        <div class="card  card--testimonial  card--pink">
          <div class="card__content">
            <blockquote class="blockquote--large">
              <q class="blockquote__title">After coming to Staffs, it feels like my future looks different, very bright in fact.</q>

              <footer class="blockquote__footer">
                <cite class="cite">Zenith Shaileshkumar Vaghasiya</cite>
                <p>MA Sports Journalism graduate, 2020</p>
              </footer>
            </blockquote>
          </div>
        </div>
      </div>

      <figure class="quote-banner__figure">
        <img src="../../images/placeholder-transparent-person.png" alt="" />
      </figure>
    </div>

  </div>
</div>

<div class="quote-banner  quote-banner--bg-teal  align-full  margin-top-4xl">
  <div class="wrap">

    <div class="quote-banner__flexContainer">

      <div class="quote-banner__quoteContainer">
        <div class="card  card--testimonial  card--pink">
          <div class="card__content">
            <blockquote class="blockquote--large">
              <q class="blockquote__title">After coming to Staffs, it feels like my future looks different, very bright in fact.</q>

              <footer class="blockquote__footer">
                <cite class="cite">Zenith Shaileshkumar Vaghasiya</cite>
                <p>MA Sports Journalism graduate, 2020</p>
              </footer>
            </blockquote>
          </div>
        </div>
      </div>

      <figure class="quote-banner__figure">
        <img src="../../images/placeholder-transparent-person.png" alt="" />
      </figure>
    </div>

  </div>
</div>
        </div>

        
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../../dev/js/app.js"></script>

    </body>
</html>
