

<!DOCTYPE html>
<html class="no-js no-touch" lang="en">
    <head>
        
<script type="text/javascript">(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="cleartype" content="on" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
<link href="../../styles/main.css" rel="stylesheet" />
<link media="print" href="../../styles/print.css" rel="stylesheet" />
    </head>

    <body>
        <div class="wrap  margin-top-xl">
            <h2 class="h4">16:9</h2>

<div class="ratio  ratio--16x9">
    <iframe src="https://www.youtube.com/embed/0ctsZ8w2sQI" allowfullscreen></iframe>
</div>

<div class="slab">
    <h2 class="h4">9:16</h2>

    <div class="grid  grid-2-cols">
        <div>
            <div class="ratio  ratio--9x16">
                <iframe src="https://www.youtube.com/embed/2OerQMDA-YU" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

<div class="slab">
    <h2 class="h4">4:3</h2>
    <div class="ratio  ratio--4x3">
        <div>
            <img src="https://picsum.photos/400/300?random=1" alt=""/>
        </div>
    </div>
</div>
        </div>

        
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../../dev/js/app.js"></script>

    </body>
</html>
