

<!DOCTYPE html>
<html class="no-js no-touch" lang="en">
    <head>
        
<script type="text/javascript">(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="cleartype" content="on" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
<link href="../../styles/main.css" rel="stylesheet" />
<link media="print" href="../../styles/print.css" rel="stylesheet" />
    </head>

    <body>
        <div class="wrap  margin-top-xl">
            <nav class="side-nav  col-1/4@tablet  col-full@mobile" aria-label="Section navigation">
    <div class="title  title--bg-red">
        <h2 class="title__highlight h6"><a href="/onboarding/before-you-start/">Before you start</a></h2>
    </div>
    <ul class="side-nav__list  list--unstyled">
        <li>
            <a class="side-nav__link" href="/onboarding/before-you-start/first-day-essentials" title="First day essentials" data-menu-order="1">First day essentials</a>
        </li>
        <li class="side-nav__current" data-menu-order="2">
            HR checklist
        </li> 
        <li>
            <a class="side-nav__link" href="/onboarding/before-you-start/onboarding-and-probation" title="Onboarding and probation" data-menu-order="3">Onboarding and probation</a>
        </li>
        <li>
            <a class="side-nav__link" href="/onboarding/before-you-start/mandatory-training" title="Mandatory training" data-menu-order="4">Mandatory training</a>
        </li>
    </ul>
</nav>
        </div>

        
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../../dev/js/app.js"></script>

    </body>
</html>
