

<!DOCTYPE html>
<html class="no-js no-touch" lang="en">
<head>
    
<script type="text/javascript">(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="cleartype" content="on" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
<link href="../../styles/main.css" rel="stylesheet" />
<link media="print" href="../../styles/print.css" rel="stylesheet" />
</head>

<body>

<div class="slab">
  <div class="slab__bg">
    <img src="../../img/placeholder-slab-bg-img.jpg">
  </div>
  <div class="wrap">
    <h2 class="h3 slab__title">This is a slab with background image</h2>
    <p class="intro">Some intro text might go here, might not.</p>

    <div class="grid  grid-3-cols">
  <div>
    <div class="card  card--ksp  card--pink">
      <div class="card__content">
        <i class="icon  h3  card--ksp__icon">
          <img src="../../img/icon-moneybag-pink.svg" alt="Description of image here please" />
        </i>
        <h2 class="h4  card__title">£11 million funding secured for business</h2>
        <p>Text describing the USP here which could if necessary have an arrow to denote link</p>
      </div>
    </div>
  </div>

  <div>
    <div class="card  card--ksp  card--red">
      <div class="card__content">
        <i class="icon  h3  card--ksp__icon">
          <img src="../../img/icon-threepeople-red.svg" alt="Description of image here please" />
        </i>
        <h2 class="h4  card__title">Over 400 regional vacancies filled</h2>
        <p>Text describing the USP here which could if necessary have an arrow to denote link</p>
      </div>
    </div>
  </div>

  <div>
    <div class="card  card--ksp  card--maroon">
      <div class="card__content">
        <i class="icon  h3  card--ksp__icon">
          <img src="../../img/icon-circle-padlock-purple.svg" alt="Description of image here please" />
        </i>
        <h2 class="h4  card__title">71% of our apprentices secure a permanent position</h2>
        <p>Text describing the USP here which could if necessary have an arrow to denote link</p>
      </div>
    </div>
  </div>
</div>
  </div>
</div>






<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../../dev/js/app.js"></script>

</body>
</html>
