

<!DOCTYPE html>
<html class="no-js no-touch" lang="en">
    <head>
        
<script type="text/javascript">(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="cleartype" content="on" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
<link href="../../styles/main.css" rel="stylesheet" />
<link media="print" href="../../styles/print.css" rel="stylesheet" />
    </head>

    <body>
        <div class="wrap  margin-top-xl">
            <article class="slab  slab--bg-digital-blue  slab--entry-requirements" aria-label="Entry requirements summary">
    <div class="wrap">
        <div class="grid  grid-3-cols">
            <section aria-label="UCAS">
                <h3 class="font-md  margin-bottom-4xs">UCAS</h3>
                <p class="h4">96 UCAS points</p>
            </section>
            <section aria-label="A Levels">
                <h3 class="font-md  margin-bottom-4xs">A Levels</h3>
                <p class="h4  margin-bottom-xs">CCC</p>
            </section>
            <section aria-label="BTEC">
                <h3 class="font-md  margin-bottom-4xs">BTEC</h3>
                <p class="h4">MMM</p>
            </section>
        </div>
        <p>Work out your estimated grades using the <a href="https://www.ucas.com/applying/before-you-apply/what-and-where-to-study/entry-requirements/calculate-your-ucas-tariff-points">UCAS calculator</a></p>
    </div>
</article>

<hr />

<article class="slab  slab--bg-digital-blue  slab--entry-requirements" aria-label="Entry requirements summary">
    <div class="wrap">
        <div class="grid  grid-3-cols">
            <section aria-label="UCAS">
                <h3 class="font-md  margin-bottom-4xs">UCAS</h3>
                <p class="h4">112-120 UCAS points</p>
            </section>
            <section aria-label="A Levels">
                <h3 class="font-md  margin-bottom-4xs">A Levels</h3>
                <p class="h4  margin-bottom-xs">BBC</p>
                <p class="font-sm">To include numerate subject such as chemistry, maths or biology at Grade C or above</p>
            </section>
            <section aria-label="BTEC">
                <h3 class="font-md  margin-bottom-4xs">BTEC</h3>
                <p class="h4">DMM</p>
            </section>
        </div>
        <p>Work out your estimated grades using the <a href="https://www.ucas.com/applying/before-you-apply/what-and-where-to-study/entry-requirements/calculate-your-ucas-tariff-points">UCAS calculator</a></p>
    </div>
</article>
        </div>

        
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../../dev/js/app.js"></script>

    </body>
</html>
