

<!DOCTYPE html>
<html class="no-js no-touch" lang="en">
    <head>
        
<script type="text/javascript">(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="cleartype" content="on" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
<link href="../../styles/main.css" rel="stylesheet" />
<link media="print" href="../../styles/print.css" rel="stylesheet" />
    </head>

    <body>
        <div class="wrap  margin-top-xl">
            <div class="slider--gallery  js-slider--gallery">
  
    <div>
      <div class="tile">
        <figure class="tile__figure">
          <img src="https://picsum.photos/id/304/1600/800" class="" alt=""/>

          <figcaption class="tile__caption">
            <div class="title">
              <p class="h6  title__highlight">Studying in the lab</p>
            </div>
          </figcaption>
        </figure>
      </div>
    </div>

    <div>
      <div class="tile">
        <figure class="tile__figure">
          <img src="https://picsum.photos/id/3/1600/800" class="" alt=""/>

          <figcaption class="tile__caption">
            <div class="title">
              <p class="h6  title__highlight">Graduates give Staffs Uni star role in popular app</p>
            </div>
          </figcaption>
        </figure>
      </div>
    </div>

    <div>
      <div class="tile">
        <figure class="tile__figure">
          <img src="https://picsum.photos/id/22/1600/800" class="" alt=""/>

          <figcaption class="tile__caption">
            <div class="title">
              <p class="h6  title__highlight">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            </div>
          </figcaption>
        </figure>
      </div>
    </div>
  
    <div>
      <div class="tile">
        <figure class="tile__figure">
          <img src="https://picsum.photos/id/304/1600/800" class="" alt=""/>

          <figcaption class="tile__caption">
            <div class="title">
              <p class="h6  title__highlight">Studying in the lab</p>
            </div>
          </figcaption>
        </figure>
      </div>
    </div>

    <div>
      <div class="tile">
        <figure class="tile__figure">
          <img src="https://picsum.photos/id/3/1600/800" class="" alt=""/>

          <figcaption class="tile__caption">
            <div class="title">
              <p class="h6  title__highlight">Graduates give Staffs Uni star role in popular app</p>
            </div>
          </figcaption>
        </figure>
      </div>
    </div>

    <div>
      <div class="tile">
        <figure class="tile__figure">
          <img src="https://picsum.photos/id/22/1600/800" class="" alt=""/>

          <figcaption class="tile__caption">
            <div class="title">
              <p class="h6  title__highlight">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            </div>
          </figcaption>
        </figure>
      </div>
    </div>
  
    <div>
      <div class="tile">
        <figure class="tile__figure">
          <img src="https://picsum.photos/id/304/1600/800" class="" alt=""/>

          <figcaption class="tile__caption">
            <div class="title">
              <p class="h6  title__highlight">Studying in the lab</p>
            </div>
          </figcaption>
        </figure>
      </div>
    </div>

    <div>
      <div class="tile">
        <figure class="tile__figure">
          <img src="https://picsum.photos/id/3/1600/800" class="" alt=""/>

          <figcaption class="tile__caption">
            <div class="title">
              <p class="h6  title__highlight">Graduates give Staffs Uni star role in popular app</p>
            </div>
          </figcaption>
        </figure>
      </div>
    </div>

    <div>
      <div class="tile">
        <figure class="tile__figure">
          <img src="https://picsum.photos/id/22/1600/800" class="" alt=""/>

          <figcaption class="tile__caption">
            <div class="title">
              <p class="h6  title__highlight">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            </div>
          </figcaption>
        </figure>
      </div>
    </div>
  
</div>

<div class="slider--gallery__nav  js-slider--gallery__nav">
  
    <div>
      <img src="https://picsum.photos/id/304/300/300" class="" alt=""/>
    </div>
    <div>
      <img src="https://picsum.photos/id/3/300/300" class="" alt=""/>
    </div>
    <div>
      <img src="https://picsum.photos/id/22/300/300" class="" alt=""/>
    </div>
  
    <div>
      <img src="https://picsum.photos/id/304/300/300" class="" alt=""/>
    </div>
    <div>
      <img src="https://picsum.photos/id/3/300/300" class="" alt=""/>
    </div>
    <div>
      <img src="https://picsum.photos/id/22/300/300" class="" alt=""/>
    </div>
  
    <div>
      <img src="https://picsum.photos/id/304/300/300" class="" alt=""/>
    </div>
    <div>
      <img src="https://picsum.photos/id/3/300/300" class="" alt=""/>
    </div>
    <div>
      <img src="https://picsum.photos/id/22/300/300" class="" alt=""/>
    </div>
  
</div>
        </div>

        
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../../dev/js/app.js"></script>

    </body>
</html>
