

<!DOCTYPE html>
<html class="no-js no-touch" lang="en">
    <head>
        
<script type="text/javascript">(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="cleartype" content="on" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
<link href="../../styles/main.css" rel="stylesheet" />
<link media="print" href="../../styles/print.css" rel="stylesheet" />
    </head>

    <body>
        <div class="wrap  margin-top-xl">
            <div class="slider--event-cards  js-slider--event-cards">
  <div>
    <div class="card  card--event">
      <figure class="card__figure">
        <img src="https://picsum.photos/720/360?random=1" alt=""/>
      </figure>

      <div class="card__date">
        <span class="card__day">28</span>
        <span class="card__month">September</span>
      </div>

      <div class="card__content">
        <div class="title">
          <h2 class="h6  title__highlight"><a href="" class="link--stretched">Enjoying the View? How computer games can help evaluate landscapes</a></h2>
        </div>
        <p>The founders of an immersive storytelling app have returned to their university stomping ground to film their latest episode.</p>
      </div>
    </div>
  </div>

  <div>
    <div class="card  card--event  card--pink">
      <figure class="card__figure">
        <img src="https://picsum.photos/720/360?random=2" alt=""/>
      </figure>

      <div class="card__date">
        <span class="card__day">23</span>
        <span class="card__month">September</span>
      </div>

      <div class="card__content">
        <div class="title">
          <h2 class="h6  title__highlight"><a href="" class="link--stretched">Enjoying the View? How computer games can help evaluate landscapes</a></h2>
        </div>
        <p>The founders of an immersive storytelling app have returned to their university stomping ground to film their latest episode.</p>
      </div>
    </div>
  </div>

  <div>
    <div class="card  card--event  card--red">
      <figure class="card__figure">
        <img src="https://picsum.photos/720/360?random=3" alt=""/>
      </figure>

      <div class="card__date">
        <span class="card__day">30</span>
        <span class="card__month">September</span>
      </div>

      <div class="card__content">
        <div class="title">
          <h2 class="h6  title__highlight"><a href="" class="link--stretched">Enjoying the View? How computer games can help evaluate landscapes</a></h2>
        </div>
        <p>The founders of an immersive storytelling app have returned to their university stomping ground to film their latest episode.</p>
      </div>
    </div>
  </div>

  <div>
    <div class="card  card--event  card--red">
      <div class="card__date">
        <span class="card__day">30</span>
        <span class="card__month">September</span>
      </div>

      <div class="card__content">
        <div class="title">
          <h2 class="h6  title__highlight"><a href="" class="link--stretched">Enjoying the View? How computer games can help evaluate landscapes</a></h2>
        </div>
        <p>The founders of an immersive storytelling app have returned to their university stomping ground to film their latest episode.</p>
      </div>
    </div>
  </div>

  <div>
    <div class="card  card--event">
      <figure class="card__figure">
        <img src="https://picsum.photos/720/360?random=4" alt=""/>
      </figure>

      <div class="card__date">
        <span class="card__day">2</span>
        <span class="card__month">May</span>
      </div>

      <div class="card__content">
        <div class="title">
          <h2 class="h6  title__highlight"><a href="" class="link--stretched">Enjoying the View? How computer games can help evaluate landscapes</a></h2>
        </div>
        <p>The founders of an immersive storytelling app have returned to their university stomping ground to film their latest episode.</p>
      </div>
    </div>
  </div>

  <div>
    <div class="card  card--event  card--maroon">
      <figure class="card__figure">
        <img src="https://picsum.photos/720/360?random5" alt=""/>
      </figure>

      <div class="card__date">
        <span class="card__day">9</span>
        <span class="card__month">October</span>
      </div>

      <div class="card__content">
        <div class="title">
          <h2 class="h6  title__highlight"><a href="" class="link--stretched">Enjoying the View? How computer games can help evaluate landscapes</a></h2>
        </div>
        <p>The founders of an immersive storytelling app have returned to their university stomping ground to film their latest episode.</p>
      </div>
    </div>
  </div>

  <div>
    <div class="card  card--event  card--pink">
      <figure class="card__figure">
        <img src="https://picsum.photos/720/360?random=6" alt=""/>
      </figure>

      <div class="card__date">
        <span class="card__day">1</span>
        <span class="card__month">October</span>
      </div>

      <div class="card__content">
        <div class="title">
          <h2 class="h6  title__highlight"><a href="" class="link--stretched">Enjoying the View? How computer games can help evaluate landscapes</a></h2>
        </div>
        <p>The founders of an immersive storytelling app have returned to their university stomping ground to film their latest episode.</p>
      </div>
    </div>
  </div>

  <div>
    <div class="card  card--event  card--red">
      <div class="card__date">
        <span class="card__day">17</span>
        <span class="card__month">April</span>
      </div>

      <div class="card__content">
        <div class="title">
          <h2 class="h6  title__highlight"><a href="" class="link--stretched">Enjoying the View? How computer games can help evaluate landscapes</a></h2>
        </div>
        <p>The founders of an immersive storytelling app have returned to their university stomping ground to film their latest episode.</p>
      </div>
    </div>
  </div>
</div>
        </div>

        
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../../dev/js/app.js"></script>

    </body>
</html>
