

<!DOCTYPE html>
<html class="no-js no-touch" lang="en">
    <head>
        
<script type="text/javascript">(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="cleartype" content="on" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
<link href="../../styles/main.css" rel="stylesheet" />
<link media="print" href="../../styles/print.css" rel="stylesheet" />
    </head>

    <body>
        <div class="wrap  margin-top-xl">
            <h2 class="h4">Full-time</h2>

<div class="overflow-x">
  <table class="">
    <thead>
    <tr>
      <td colspan="2"></td>
      <th scope="col">Number of applications</th>
      <th scope="col">Percentage of applications that received an offer</th>
      <th scope="col">Percentage of applications that accepted an offer</th>
      <th scope="col">Percentage of applications where the student registered</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th rowspan="2" scope="row">Ethnicity</th>
      <th scope="row">BAME</th>
      <td>2380</td>
      <td>78.7%</td>
      <td>26.7%</td>
      <td>23.7%</td>
    </tr>
    <tr>
      <th scope="row">White</th>
      <td>8260</td>
      <td>84.8%</td>
      <td>34.8%</td>
      <td>32.1%</td>
    </tr>
    <tr>
      <th rowspan="2" scope="row">EIMD quintile</th>
      <th scope="row">1 and 2</th>
      <td>4950</td>
      <td>80.2%</td>
      <td>33.3%</td>
      <td>30.5%</td>
    </tr>
    <tr>
      <th scope="row">3 to 5</th>
      <td>5280</td>
      <td>86.2%</td>
      <td>33.7%</td>
      <td>31%</td>
    </tr>
    <tr>
      <th rowspan="3" scope="row">Gender</th>
      <th scope="row">Female</th>
      <td>5670</td>
      <td>76.4%</td>
      <td>30.5%</td>
      <td>27.8%</td>
    </tr>
    <tr>
      <th scope="row">Male</th>
      <td>5090</td>
      <td>90.6%</td>
      <td>35.8%</td>
      <td>32.9%</td>
    </tr>
    <tr>
      <th scope="row">Other</th>
      <td>N</td>
      <td>N</td>
      <td>N</td>
      <td>N</td>
    </tr>
    </tbody>
  </table>
</div>

<h2 class="h4">Percentage of first degrees at grade 2:1 or above by characteristic for 2017-18 qualifiers</h2>

<div class="overflow-x">
  <table class="">
    <thead>
    <tr>
      <th scope="col">Characteristic</th>
      <th scope="col">Characteristic split</th>
      <th scope="col">Percentage</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th rowspan="2" scope="row">Ethnicity</th>
      <th scope="row">BAME</th>
      <td>60%</td>
    </tr>
    <tr>
      <th scope="row">White</th>
      <td>76%</td>
    </tr>
    <tr>
      <th rowspan="2" scope="row">EIMD quintile</th>
      <th scope="row">1 and 2</th>
      <td>66.3%</td>
    </tr>
    <tr>
      <th scope="row">3 to 5</th>
      <td>74.7%</td>
    </tr>
    <tr>
      <th rowspan="3" scope="row">Gender</th>
      <th scope="row">Female</th>
      <td>69.1%</td>
    </tr>
    <tr>
      <th scope="row">Male</th>
      <td>74.2%</td>
    </tr>
    <tr>
      <th scope="row">Other</th>
      <td>N</td>
    </tr>
    </tbody>
  </table>
</div>

<h2 class="h4">Choosing your accommodation</h2>

<div class="overflow-x">
  <table class="">
    <thead>
    <tr>
      <th><strong>Residence</strong></th>
      <th><strong>Clarice Cliff Court</strong></th>
      <th><strong>College Court</strong></th>
      <th style="text-align: left;"><strong>Leek Road halls (Aynsley, Royal Doulton, Spode and Wedgewood)</strong></th>
      <th><strong>Leek Road halls (Minton)</strong></th>
      <th><strong>Leek Road houses</strong></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><strong>Facilities</strong></td>
      <td>Our en-suite community focused student halls</td>
      <td>Our en-suite College Road student halls</td>
      <td>Our most up to date shared student halls</td>
      <td>Our most affordable shared student hall</td>
      <td>Our popular shared student houses</td>
    </tr>
    <tr>
      <td><strong>Residents</strong></td>
      <td>3-6</td>
      <td>3-6</td>
      <td>12-14</td>
      <td>12-14</td>
      <td>4-6</td>
    </tr>
    <tr>
      <td><strong>Ensuite</strong></td>
      <td>✔</td>
      <td>✔</td>
      <td>✗</td>
      <td>✗</td>
      <td>✗</td>
    </tr>
    <tr>
      <td><strong>Internet</strong></td>
      <td>✔</td>
      <td>✔</td>
      <td>✔</td>
      <td>✔</td>
      <td>✔</td>
    </tr>
    <tr>
      <td><strong>Number of rooms&nbsp;</strong></td>
      <td>297</td>
      <td>150</td>
      <td>519</td>
      <td>36</td>
      <td>177</td>
    </tr>
    <tr>
      <td><strong>Cost (39 week contract)<br></strong></td>
      <td>Total Licence Fee (2024/25): £4,875</td>
      <td>
        <p>Total Licence Fee (2024/25): £4,875</p>
      </td>
      <td>Total Licence Fee (2024/25): £4,290</td>
      <td>Total Licence Fee (2024/25): £3,705&nbsp;</td>
      <td>Total Licence Fee (2024/25): £4,875</td>
    </tr>
    </tbody>
  </table>
</div>
        </div>

        
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../../dev/js/app.js"></script>

    </body>
</html>
