

<!DOCTYPE html>
<html class="no-js no-touch" lang="en">
    <head>
        
<script type="text/javascript">(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="cleartype" content="on" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
<link href="../../styles/main.css" rel="stylesheet" />
<link media="print" href="../../styles/print.css" rel="stylesheet" />
    </head>

    <body>
        <div class="wrap  margin-top-xl">
            <div class="title">
  <h2 class="title__highlight">Variant in a box</h2>
</div>

<div class="box  box--bg-slate">
  <div class="box__content">

    <table class="table--apply">
      <thead>
      <tr>
        <th>Location</th>
        <th>Award</th>
        <th>Study option</th>
        <th>Start date</th>
        <th><span class="visually-hidden">Apply Link</span></th>
      </tr>
      </thead>

      <tbody>
      
        <tr>
          <td data-label="Location">Centre of Excellence Stafford</td>
          <td data-label="Award">BSc (Hons)</td>
          <td data-label="Study option">Part-time</td>
          <td data-label="Start date">28 September 2024</td>
          <td class="table--apply__buttonCell"><a href="" class="button  button--block  button--lg  button--pointy">Apply Now</a>
        </tr>
      
        <tr>
          <td data-label="Location">Centre of Excellence Stafford</td>
          <td data-label="Award">BSc (Hons)</td>
          <td data-label="Study option">Part-time</td>
          <td data-label="Start date">28 September 2024</td>
          <td class="table--apply__buttonCell"><a href="" class="button  button--block  button--lg  button--pointy">Apply Now</a>
        </tr>
      
        <tr>
          <td data-label="Location">Centre of Excellence Stafford</td>
          <td data-label="Award">BSc (Hons)</td>
          <td data-label="Study option">Part-time</td>
          <td data-label="Start date">28 September 2024</td>
          <td class="table--apply__buttonCell"><a href="" class="button  button--block  button--lg  button--pointy">Apply Now</a>
        </tr>
      
      </tbody>
    </table>

  </div>
</div>

<hr/>

<div class="title">
  <h2 class="title__highlight">Variant not in a box, with longer test data</h2>
</div>


<table class="table--apply">
  <thead>
  <tr>
    <th>Location</th>
    <th>Award</th>
    <th>Study option</th>
    <th>Start date</th>
    <th><span class="visually-hidden">Apply Link</span></th>
  </tr>
  </thead>

  <tbody>
  
    <tr>
      <td data-label="Location">Centre of Excellence Stafford</td>
      <td data-label="Award">BSc (Hons)</td>
      <td data-label="Study option">Part-time</td>
      <td data-label="Start date">28 September 2024</td>
      <td class="table--apply__buttonCell"><a href="" class="button  button--block  button--lg  button--pointy">Apply Now</a>
    </tr>
    <tr>
      <td data-label="Location">Lorem Ipsum is simply dummy text of the printing and typesetting industry</td>
      <td data-label="Award">Long Award Name (Hons)</td>
      <td data-label="Study option">Complicated Study Option</td>
      <td data-label="Start date">28 September 2024</td>
      <td class="table--apply__buttonCell"><a href="" class="button  button--block  button--lg  button--pointy">Apply Now</a>
    </tr>
  
    <tr>
      <td data-label="Location">Centre of Excellence Stafford</td>
      <td data-label="Award">BSc (Hons)</td>
      <td data-label="Study option">Part-time</td>
      <td data-label="Start date">28 September 2024</td>
      <td class="table--apply__buttonCell"><a href="" class="button  button--block  button--lg  button--pointy">Apply Now</a>
    </tr>
    <tr>
      <td data-label="Location">Lorem Ipsum is simply dummy text of the printing and typesetting industry</td>
      <td data-label="Award">Long Award Name (Hons)</td>
      <td data-label="Study option">Complicated Study Option</td>
      <td data-label="Start date">28 September 2024</td>
      <td class="table--apply__buttonCell"><a href="" class="button  button--block  button--lg  button--pointy">Apply Now</a>
    </tr>
  
    <tr>
      <td data-label="Location">Centre of Excellence Stafford</td>
      <td data-label="Award">BSc (Hons)</td>
      <td data-label="Study option">Part-time</td>
      <td data-label="Start date">28 September 2024</td>
      <td class="table--apply__buttonCell"><a href="" class="button  button--block  button--lg  button--pointy">Apply Now</a>
    </tr>
    <tr>
      <td data-label="Location">Lorem Ipsum is simply dummy text of the printing and typesetting industry</td>
      <td data-label="Award">Long Award Name (Hons)</td>
      <td data-label="Study option">Complicated Study Option</td>
      <td data-label="Start date">28 September 2024</td>
      <td class="table--apply__buttonCell"><a href="" class="button  button--block  button--lg  button--pointy">Apply Now</a>
    </tr>
  
  </tbody>
</table>
        </div>

        
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../../dev/js/app.js"></script>

    </body>
</html>
