

<!DOCTYPE html>
<html class="no-js no-touch" lang="en">
    <head>
        
<script type="text/javascript">(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="cleartype" content="on" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
<link href="../../styles/main.css" rel="stylesheet" />
<link media="print" href="../../styles/print.css" rel="stylesheet" />
    </head>

    <body>
        <div class="wrap  margin-top-xl">
            <div class="box  box--bg-neon">
    <div class="box__content">
        <table class="table--fees">
            <caption class="visually-hidden">UK tuition fees for Full-time, Stoke-on-Trent campus</caption>
            <thead>
                <tr>
                    <th>Course start date</th>
                    <th>Tuition fee</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>21 September 2026</td>
                    <td><strong>&pound;9,790 per year of study</strong> for Full-time, Stoke-on-Trent campus</td>
                </tr>
                <tr>
                    <td>18 September 2027</td>
                    <td><strong>&pound;9,790 per year of study</strong> for Full-time, Stoke-on-Trent campus</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
        </div>

        
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../../dev/js/app.js"></script>

    </body>
</html>
