

<!DOCTYPE html>
<html class="no-js no-touch" lang="en">
    <head>
        
<script type="text/javascript">(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="cleartype" content="on" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
<link href="../../styles/main.css" rel="stylesheet" />
<link media="print" href="../../styles/print.css" rel="stylesheet" />
    </head>

    <body>
        <div class="wrap  margin-top-xl">
            <ul class="list--inline">
  <li><span class="tag">tag</span></li>
  <li><span class="tag">long tag</span></li>
  <li><span class="tag">really long tag</span></li>
  <li><span class="tag">even looooonger tag</span></li>
</ul>

<ul class="list--inline">
  <li><a href="#" class="tag">link</a></li>
  <li><a href="#" class="tag">long link</a></li>
  <li><a href="#" class="tag">really long tag</a></li>
  <li><a href="#" class="tag">even looooonger tag</a></li>
</ul>

<ul class="list--inline">
  <li><span class="tag  tag--narrow">narrow tags</span></li>
  <li><span class="tag  tag--narrow">have less padding</span></li>
  <li><span class="tag  tag--narrow">at the sides</span></li>
</ul>

<ul class="list--inline">
  <li><span class="tag  tag--red">red tag</span></li>
  <li><span class="tag  tag--pink">pink tag</span></li>
  <li><span class="tag  tag--maroon">maroon tag</span></li>
  <li><span class="tag  tag--slate">slate tag</span></li>
  <li><span class="tag  tag--red  tag--not-rounded">red tag without rounded edges</span></li>
</ul>

<span class="tag">solitary tag</span>

<a href="#" class="tag">solitary linked tag</a>
        </div>

        
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../../dev/js/app.js"></script>

    </body>
</html>
