

<!DOCTYPE html>
<html class="no-js no-touch" lang="en">
    <head>
        
<script type="text/javascript">(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="cleartype" content="on" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
<link href="../../styles/main.css" rel="stylesheet" />
<link media="print" href="../../styles/print.css" rel="stylesheet" />
    </head>

    <body>
        <div class="wrap  margin-top-xl">
            <div class="grid  grid-2-cols@mobile-wide  grid-3-cols@tablet-wide">
  <article aria-label="Epic games centre">
    <span class="tile  tile--facility  tile--accent-pale-blue">
      <figure class="tile__figure">
        <img src="https://picsum.photos/400/400?random=1" class="tile__img" alt=""/>
      </figure>

      <div class="tile__content">
        <div class="title  tile__title  text-center">
          <h3 class="h5  title__highlight">Epic games centre</h3>
        </div>
        <div class="tile__content-body">
            <p>Home to the Epic Games sponsored Design Centre. A fully equipped space designed to nurture future industry developers studying with us on our Games courses.
              <span id="tile-epic-games-centre-read-more" class="read-more__link" data-item="tile-epic-games-centre-additional">Read more</span>
            </p>
            <p id="tile-epic-games-centre-additional" class="read-more__text">Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta.</p>
          <a class="button  button--xs  button--outline-grey">
            <i class="icon  icon--play-circle-red"></i> 
            Watch video
          </a>
          <a class="button  button--xs  button--outline-grey">
            <i class="icon  icon--360-red"></i> 
            Open virtual tour
          </a>
        </div>
      </div>
    </span>
  </article>

  <article aria-label="Esports hub">
    <span class="tile  tile--facility  tile--accent-neon-light">
      <figure class="tile__figure">
        <img src="https://picsum.photos/400/400?random=2" class="tile__img" alt=""/>
      </figure>

      <div class="tile__content">
        <div class="title  tile__title  text-center">
          <h3 class="h5  title__highlight">Esports hub</h3>
        </div>
        <div class="tile__content-body">
          <p>A customised Esports lab for showcase and learning with top of the range industry standard, featuring tournament level hardware and software.</p>
          <a class="button  button--xs  button--outline-grey">
            <i class="icon  icon--360-red"></i> 
            Open virtual tour
          </a>
        </div>
      </div>
    </span>
  </article>

  <article aria-label="Vlog/blog space">
    <span class="tile  tile--facility  tile--accent-lavender">
      <figure class="tile__figure">
        <img src="https://picsum.photos/400/400?random=3" class="tile__img" alt=""/>
      </figure>

      <div class="tile__content">
        <div class="title  tile__title  text-center">
          <h3 class="h5  title__highlight">Vlog/blog space</h3>
        </div>
        <div class="tile__content-body">
          <p>Our Vlog Workspace provides is a private, isolated area packed with digital facilities for you to use.</p>
          <a class="button  button--xs  button--outline-grey"><i class="icon  icon--book-red"></i> Read technical details</a>
        </div>
      </div>
    </span>
  </article>
</div>
        </div>

        
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../../dev/js/app.js"></script>

    </body>
</html>
