

<!DOCTYPE html>
<html class="no-js no-touch" lang="en">
    <head>
        
<script type="text/javascript">(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="cleartype" content="on" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
<link href="../../styles/main.css" rel="stylesheet" />
<link media="print" href="../../styles/print.css" rel="stylesheet" />
    </head>

    <body>
        <div class="wrap  margin-top-xl">
            <div class="box">
  <div class="box__content">
    








<div class="title">
  <h1 class="">
  This is an H1
</h1>
</div>

    








<div class="title">
  <h2 class="  h3">
  This is an H2 styled as an H3
</h2>
</div>

    



  






<div class="title  title--bg-white">
  <p class="">
  This is a paragraph on white
</p>
</div>

    



  






<div class="title  title--bg-dark-blue">
  <h2 class="">
  This is an H2 on dark blue
</h2>
</div>

    



  






<div class="title  title--bg-digital-blue">
  <h4 class="">
  This is an H4 on digital blue
</h4>
</div>

    



  






<div class="title  title--bg-neon">
  <p class="">
  This is a paragraph on neon
</p>
</div>
  </div>
</div>
        </div>

        
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../../dev/js/app.js"></script>

    </body>
</html>
