@use "../../assets/styles/__vars/colours";
@use "../../assets/styles/__vars/spacing";

hr {
  position: relative;
  // see base-elements in vars/_typography
}

.hr--primary {
  border-top-width: 2px;
  border-color: colours.$grey-50-pc;
}

.hr--burgundy {
  border-top-width: 2px;
  border-color: colours.$burgundy;
}

.hr--teal {
  border-top-width: 2px;
  border-color: colours.$teal;
}

// Spacing

.hr--compact {
  margin: spacing.$spacing-xl auto;
}

.hr--spaced {
  margin: spacing.$spacing-5xl auto;
}

.hr--invisible {
  border-color: transparent;
}