.section-header {
  $border-color: $grey--light;
  margin-bottom: $spacing-4xl;

  //-

  &--border-bottom {
    border-bottom: 1px solid $border-color;
  }

  &--border-top {
    border-top: 1px solid $border-color;
  }

  //-

  &--bg-offwhite {
    padding: $spacing-xl 0 0;
    margin-bottom: $spacing-4xl;
    background-color: $offwhite;

    .section-header__title {
      position: relative;
      top: $spacing-xl;
      margin-bottom: $spacing-5xl;
    }
  }
}

