<header class="section-header  section-header--bg-offwhite  section-header--border-top  align-full">
  <div class="wrap">
    <div class="section-header__title  title  title--has-tail">
      <h1 class="h2  title__highlight">Announcing our Spring series of public events</h1>
    </div>
  </div>
</header>

<p>{{ lorem }}</p>