.course-search {
    background: $dark-blue url('#{$image-theme-directory}/course-search-bg.svg') right top no-repeat;
    background-size: 300px;
    padding: $spacing-4xl;

    &, & a, & h2 {
        color: white;
    }

    &__keywords {
        display: block;
        margin-bottom: $spacing-md;

        &[type="search"] {
            max-width: 100%;
            -webkit-appearance: none;
            border-radius: 0.25rem;
            -webkit-border-radius: 0.25rem;
        }
    }
    & h3:not([class]) {
        margin: $spacing-lg 0 $spacing-md;
    }
    &.slab--bg-slate .accordion__title:focus-visible {
        outline-color: $tertiary;
    }
    & .button:hover {
        cursor: pointer;
    }
}
@media (min-width: $third-breakpoint) {
    .course-search {
        &__subject-list {
            -moz-column-count: 3;
            -moz-column-gap: $spacing-xl;
            -webkit-column-count: 3;
            -webkit-column-gap: $spacing-xl;
            column-count: 3;
            column-gap: $spacing-xl;
        }
    }
}
.ui-autocomplete {
    z-index: 1000;
}
.ui-autocomplete-category {
    padding: $spacing-xs $spacing-xs 0 $spacing-xs;
    font-weight: bold;
    color: $dark-blue;
}
.ui-menu-item__course {
    padding: 0 $spacing-xs 0 $spacing-sm;

    &:hover {
        background-color: #EEE;
    }
}