.course-search {
    background: $dark-blue;
    padding: $spacing-4xl;

    &, & a {
        color: white;
    }

    &__keywords {
        display: block;
        margin-bottom: $spacing-md;

        &[type="search"] {
            max-width: 100%;
            -webkit-appearance: none;
            border-radius: 0.25rem;
            -webkit-border-radius: 0.25rem;
        }
    }
    & h3:not([class]) {
        margin: $spacing-lg 0 $spacing-md;
    }
    &.slab--bg-slate .accordion__title:focus-visible {
        outline-color: $tertiary;
    }
}
@media (min-width: $third-breakpoint) {
    .course-search {
        &__keywords {
            &[type="search"] {
                max-width: 60%;
            }
        } 
        &__subject-list {
            -moz-column-count: 3;
            -moz-column-gap: $spacing-md;
            -webkit-column-count: 3;
            -webkit-column-gap: $spacing-md;
            column-count: 3;
            column-gap: $spacing-md;
        }
    }
}
.ui-autocomplete {
    z-index: 1000;
}
.ui-menu-item__course {
    padding: 0 $spacing-xs 0 $spacing-sm;

    &:hover {
        background-color: #EEE;
    }
}