<article class="course-search">
    <h2 class="visually-hidden">Search for a course</h2>
    <label class="visually-hidden" for="course-search__keywords">Keyword(s) to search</label>
    <input class="course-search__keywords" id="course-search__keywords" name="cQueryH" type="search" placeholder="Search courses by keyword">
    
    <label class="visually-hidden" for="course-search__level">Filter</label>
    <select id="course-search__level" name="cFilter">
        <option value="">All levels of study</option>
        <option value="undergraduate">Undergraduate</option>
        <option value="postgraduate">Postgraduate</option>
    </select>

    <button class="button  course-search__submit" id="course-search__submit" name="cSubmit" type="button">Search</button>
</article>