<!DOCTYPE html>
<html class="no-js no-touch" lang="en">
<head>
    {% include '_preview-head.twig' %}
</head>

<body>

<main style="padding: 2rem 0;">
    <div class="wrap">
        {{ yield }}
    </div>
</main>

{% include '_preview-footer.twig' %}

</body>
</html>