<!DOCTYPE html>
<html class="no-js no-touch theme-ldn" lang="en">
<head>
    {% include '_preview-head-ldn.twig' %}
</head>

<body>

{{ yield }}


{% include '_preview-footer-ldn.twig' %}

</body>
</html>