<!DOCTYPE html>
<html class="no-js no-touch theme-ldn" lang="en">
<head>
  {% include '_preview-head-ldn.twig' %}
</head>

<body>

<main>
  <div class="slab  slab--bg-blue-ldn">
    <div class="wrap">
      {{ yield }}
    </div>
  </div>
</main>

{% include '_preview-footer-ldn.twig' %}

</body>
</html>