<!DOCTYPE html>
<html class="no-js no-touch" lang="en">
    <head>
        {% include '_preview-head.twig' %}
    </head>

    <body>
        <div class="wrap  margin-top-xl">
            {{ yield }}
        </div>

        {% include '_preview-footer.twig' %}

    </body>
</html>