<dl class="meta  meta--inline-dd">
  <div class="meta__item">
    <dt>Study Options</dt>
    <dd>Full time</dd><dd>Part time</dd><dd>Foundation Year</dd><dd>Placement Year</dd><dd>Integrated Masters (MSci)</dd>
  </div>

  <div class="meta__item">
    <dt>Days of the week:</dt>
    <dd>Monday</dd><dd>Tuesday</dd><dd>Wednesday</dd><dd>Thursday</dd><dd>Friday</dd>
  </div>

  <div class="meta__item">
    <dt>Day of Rest:</dt>
    <dd>Sunday</dd>
  </div>
</dl>