@use "../__vars/breakpoints";
@use "../__vars/colours";
@use "../__vars/config";
@use "../__vars/spacing";
@use "../__vars/typography";

.footer-site {
  background: colours.$neutral--primary;
  color: #fff;
  clear: both;
  position: relative;
  padding: spacing.$spacing-xl 0;
  z-index: 0;

  a:not(.button) {
    // a:not([class]) instead?
    color: white;
    text-decoration: none;
  }

  li a:not([class]), li a[class*="sys_"] {
    border-bottom: 0;
    font-weight: 300;
  }

  li::marker {
    color: colours.$red;
  }

  .h6 {
    color: white;
    margin-top: spacing.$spacing-lg;
  }

  &__links {
    margin-top: spacing.$spacing-xl;
    border-top: 1px solid colours.$grey-50-pc;
  }

  & .list--links li {
    margin-bottom: 0.25rem;
  }

  @media (min-width: breakpoints.$third-breakpoint) {
    &__links {
      display: flex;
      & > div {
        width: 25%;
      }
    }

    &__logo-img {
      margin: spacing.$spacing-4xl 0;
    }
  }

  @media (max-width: breakpoints.$third-breakpoint) {
    &__map {
      display: none;
    }

    &__logo-img {
      margin: 0 0 spacing.$spacing-lg;
    }
  }

  &__logo {
    vertical-align: bottom;
  }

  &__logo-img {
    display: inline-block;
    float: right;
    max-width: 125px;
  }

  &__social-list {
    .icon {
      @include typography.typescale('3xl');
      margin-right: spacing.$spacing-sm;
      max-height: 100%;
      vertical-align: middle;

      @each $name, $value in config.$social-media-icons {
        &--#{$name} {
          background-image: url('#{$value}');
        }
      }
    }
  }

  &__legal {
    margin: 0 0 spacing.$spacing-2xs;
    @include typography.typescale('xs');
    @include typography.line-height('compact');
  }
}