.footer-site {
  background: $neutral--primary;
  color: #fff;
  clear: both;
  position: relative;
  padding: $spacing-xl 0;
  z-index: 0;

  a:not(.button) {
    // a:not([class]) instead?
    color: white;
    text-decoration: none;
  }

  li a:not([class]), li a[class*="sys_"] {
    border-bottom: 0;
    font-weight: 300;
  }

  li::marker {
    color: $red;
  }

  h6 {
    margin-top: $spacing-lg;
  }

  &__links {
    margin-top: $spacing-xl;
    border-top: 1px solid $grey-50-pc;
  }

  & .list--links li {
    margin-bottom: 0.25rem;
  }

  @media (min-width: $third-breakpoint) {
    &__links {
      display: flex;
      & > div {
        width: 25%;
      }
    }

    &__logo-img {
      margin: $spacing-4xl 0;
    }
  }

  @media (max-width: $third-breakpoint) {
    &__map {
      display: none;
    }

    &__logo-img {
      margin: 0 0 $spacing-lg;
    }
  }

  &__logo {
    vertical-align: bottom;
  }

  &__logo-img {
    display: inline-block;
    float: right;
    max-width: 125px;
  }

  &__social-list {
    .icon {
      @include typescale('3xl');
      margin-right: $spacing-sm;
      max-height: 100%;
      vertical-align: middle;

      @each $name, $value in $social-media-icons {
        &--#{$name} {
          background-image: url('#{$value}');
        }
      }
    }
  }

  &__legal {
    margin: 0 0 $spacing-2xs;
    @include typescale('xs');
    @include line-height('compact');
  }
}