
.header-site {
  padding: 0;
  margin: 0;

  &.has-solid-bg {
    background: black;
  }

  &--dashboard {
    background: $red;
  }

  @media (min-width: $body-border-breakpoint) {
    left: $body-border-width--wide;
  }

  &__flexContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @media (min-width: $megaNav-full-breakpoint) {
      position: relative;
    }
  }

  .site-logo {
    justify-self: flex-start;
    margin-right: auto;
    width: 30%;
    max-width: 210px;
    min-width: 166px;

    img {
      transition: all 200ms;

      @media (min-width: $megaNav-full-breakpoint) {
        position: relative;
        z-index: 100;
      }
    }
  }

  @at-root .has-expanded-nav {

    .header-site {
      .site-logo {
        img {
          //height: 3.1em;
          //opacity: 0;
        }
      }
    }
  }
}


.toggle-megaNav,
.toggle-search-site {
  display: block;
  justify-self: flex-end;
  align-self: center;
  height: $spacing-3xl;
  width: $spacing-3xl;
  margin: $spacing-sm 0 $spacing-sm $spacing-sm;
  padding: 0;
  border: 0;
  z-index: 2;
  cursor: pointer;

  &.is-toggled {
    opacity: 0.5;
  }

  &__label {
    display: block;
    text-align: center;
    @include typescale('2xs');
    padding-top: 1.75rem;
  }
}

input.search-site {
  width: 7rem;
  transition: all 200ms;
  background-color: $grey-50-pc;
  //background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill-rule='evenodd'%3E%3Cpath d='M16.036 18.455l2.404-2.405 5.586 5.587-2.404 2.404zM8.5 2C12.1 2 15 4.9 15 8.5S12.1 15 8.5 15 2 12.1 2 8.5 4.9 2 8.5 2zm0-2C3.8 0 0 3.8 0 8.5S3.8 17 8.5 17 17 13.2 17 8.5 13.2 0 8.5 0zM15 16a1 1 0 1 1 2 0 1 1 0 1 1-2 0'%3E%3C/path%3E%3C/svg%3E");
  background-image: url(#{$image-theme-directory}/bg-search-box.svg);
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: $spacing-2xs center;
  padding-left: $spacing-lg;
  margin-left: $spacing-md;

  &.is-open {
    width: 100%;
  }

  @media (min-width: $megaNav-full-breakpoint) {
    height: $spacing-xl;
    order: 3;

    &__label {
      display: block;
      position: absolute;
      left: -9999em;
      clip: rect(0 0 0 0);
    }
  }
}

.toggle-megaNav {
  background: url('#{$image-theme-directory-icon}/icon-hamburger.svg') center $spacing-2xs no-repeat;
  background-size: $spacing-lg $spacing-lg;

  @media (min-width: $megaNav-full-breakpoint) {
    display: none;
  }
}