{% include '@meganav' %}
<div class="masthead">
  <div class="masthead__inner">
    <div class="masthead__bg">
      <img src="https://www.staffs.ac.uk/student-life/images/hero-images/student-life23.jpg"/>
    </div>
    <div class="wrap">
      <nav class="breadcrumbs">
        <ul>
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">Student life</a>
          </li>
        </ul>
      </nav>

      {% include '@title' with {
        text: 'Your Accommodation',
        textElement: 'h1',
        textElementStyle: 'h1',
        animate: true
      } %}
    </div>
  </div>
</div>


<main id="main-content" role="main" class="">

  <div class="slab">
    <div class="wrap">
      <p class="intro">Finding a home from home is an important part of the student experience. If you’re looking to live close to campus, there’s a range of accommodation nearby to suit your individual needs.</p>
      <p>The Stratford area in East London has a great social scene too. You can socialise with friends in one of the many bars, cafes or restaurants. There are also plenty of shops, including the giant Westfield complex, and lots of other activities to enjoy.</p>
      <p>We have researched a number of practical options for a student budget. You can feel safe and secure and still be at the heart of student life. Student.com also offers a quick and easy to use search platform so you can compare other accommodation providers in London.</p>
      <p>Although we can help you find accommodation, you will need to liaise directly with the provider as the tenancy arrangement will be outside of our control.</p>
    </div>
  </div>

  <div class="slab">
    <div class="zebra">



<div class="zebra__row">
<figure class="zebra__figure">
<img alt="Bedroom at Unite Stratford One including drawers, shelving, desk and bed" height="600" width="800" src="/images/zebra/unite-stratford.jpg">
</figure>
<div class="zebra__body"><header class="title  zebra__title">

<h2 class="h4  title__highlight">Unite Stratford One</h2>

</header>

<p><strong>Price from: £319 per week</strong></p>
<p><strong>Distance from Staffordshire University London: 0.5 miles&nbsp;</strong></p>
<p>With roof terraces, a games lounge, karaoke room and cinema room, you can have your own entertainment. And you could wake up to views of London Stadium and Olympic Park. Unite Stratford One offers single en-suite rooms and studio apartments. It's a 10-minute walk to the Here East campus.</p>
<p><a class="sys_16" href="https://www.unitestudents.com/london/stratford-one">Find out more about Unite Stratford One.</a></p>

</div>
</div>



<div class="zebra__row">
<figure class="zebra__figure">
<img alt="Bedroom in Poland house featuring single bed, desk and wardrobe" height="600" width="800" src="/images/zebra/claredale.jpg">
</figure>
<div class="zebra__body"><header class="title  zebra__title">

<h2 class="h4  title__highlight">AA4S - Claredale House</h2>

</header>

<p>&nbsp;<strong>Price from: £178 per week</strong></p>
<p><strong>Distance from Staffordshire University London: 2.4 miles</strong></p>
<p>Creature comforts include broadband in every room and you’ll also have storage space for your bicycle or car. There is an internal courtyard with lockable front gates and 24/7 help in case of emergency. Claredale has 59 flats, each with two to seven bedrooms (please note, there are no lifts).</p>
<p><a class="sys_16" href="https://www.cassandclaredale.co.uk/term-time-accommodation/claredale-house-term-time/">Find out more about Claredale House.</a></p>

</div>
</div>



<div class="zebra__row">
<figure class="zebra__figure">
<img style="height: 367.5px; width: 490px; background-color: #ffffff;" alt="Well Street bedroom featuring a bed, desk, chair, drawers, shelving and pin board" height="600" width="800" src="/images/zebra/well-street.jpg">
</figure>
<div class="zebra__body"><header class="title  zebra__title">

<h2 class="h4  title__highlight">AA4S - Well Street Hall</h2>

</header>

<p><strong>Price from: £177 per week</strong></p>
<p><strong>Distance from Staffordshire University London: 2.2 miles</strong></p>
<p>Fancy your own mini-fridge in your student room? It’s one of the attractions at Well Street Hall, which also has a TV room where you can unwind. There are 132 single-study bedrooms across three floors (please note, there are no lifts). Wi-Fi is available in each room too.</p>
<p><a class="sys_16" href="https://aa4s.co.uk/term-time-accommodation/well-street-hall/">Find out more about Well Street Hall.</a></p>

</div>
</div>


</div>
  </div>

</main>

{% include '@slider--accolades' %}
{% include '@page-footer' %}