{% include '@meganav' %}
<header class="section-header  section-header--bg-offwhite  section-header--border-top  align-full">
  <div class="wrap">
    <div class="section-header__title  title  title--has-tail">
      <h1>Accommodation</h1>
    </div>
  </div>
</header>

<main id="main-content" role="main" class="">

  <div class="slab">
    <div class="wrap">
      <p class="intro">Unlock your potential with Staffordshire University's short funded training courses and masterclasses to boost your skills and advance your career!</p>
      <p>In today's fast-changing market, constant learning and skill development are the secrets to success. That's why we created the Enterprise Academy, which offers a wide range of high-quality short training masterclasses, courses, and microcredentials designed to meet the most important needs of businesses and professionals.</p>
      <p>Explore our extensive <a href="#">portfolio of short courses</a> below and seize the opportunity to supercharge your career. Contact us today and start your journey with the Enterprise Academy at Staffordshire University!</p>
    </div>
  </div>

  <div class="slab  slab--bg-offwhite">
    <div class="wrap">
      <div class="title  title--has-tail  js-waypoint">
        <h2 class="title__highlight">What to expect</h2>
      </div>
      <ul>
        <li>Tailored CPD packages available to large businesses</li>
        <li>Flexible delivery - workshops, webinars, summer schools, face-to-face sessions</li>
        <li>Learning pathways which can be built upon and used as recognition of prior learning to a range of high-level courses</li>
        <li>Dedicated support from academics</li>
        <li>Competitive pricing structure</li>
      </ul>
    </div>
  </div>

  <div class="slab">
    <div class="wrap">
      <h2 class="slab__title">Our courses</h3>
      <p>With our professional training and development courses, you can upgrade the skills of your workforce to develop new areas of expertise and improve efficiency, morale, and retention. Employers of all kinds are taking a structured approach to training their workforces. Continuing professional development, or 'CPD' is a key commitment to investing in your staff.</p>
    </div>
  </div>

</main>

{% include '@slider--accolades' %}
{% include '@page-footer' %}