{% include '@meganav' %}
<div class="masthead">
  <div class="masthead__inner">
    <div class="masthead__bg">
      <img src="https://www.staffs.ac.uk/student-life/images/hero-images/student-life23.jpg"/>
    </div>
    <div class="wrap">
      <nav class="breadcrumbs">
        <ul>
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">Student life</a>
          </li>
        </ul>
      </nav>

      {% include '@title' with {
        text: 'Student life',
        modifiers: ['has-tail'],
        textElement: 'h1',
        textElementStyle: 'h1',
        animate: true
      } %}
    </div>
  </div>
</div>


<main id="main-content" role="main" class="">

  <div class="slab">
    <div class="wrap">
      <p class="intro">There’s so much potential at Staffordshire University to explore and so many new things to try. You'll have fun times, make new friends and create memories for life.</p>
    </div>
  </div>

  <div class="slab  slab--bg-offwhite">
    <div class="wrap">
      <div class="title  title--has-tail  js-waypoint is-waypoint-reached"><h2 class="title__highlight">Your new home</h2></div>
      <p>Students love our campus for its safe, welcoming vibe. We're home to a diverse student community with afforable living options and a wide range of activities for you to enjoy both on and off campus.</p>
      <div class="grid  grid-2-cols@tablet">
        <div>




        <a class="feature-link" href="/student-life/accommodation">
            <figure class="feature-link__figure">
                    <img src="https://www.staffs.ac.uk/student-life/images/feature-boxes/accommodation-kitchen.jpg" loading="lazy" alt="accommodation-kitchen">
            </figure>

            <div class="feature-link__content">
                <h3 class="h4 feature-link__title">Our accommodation</h3>
                    <p>We're one of the most affordable student cities in the UK - from cosy student homes to larger flats ideal for that quintessential student experience, you're sure to find your home from home with us.</p>
            </div>
        </a>

        </div>
        <div>




        <a class="feature-link" href="/student-life/campus-and-facilities">
            <figure class="feature-link__figure">
                    <img src="https://www.staffs.ac.uk/student-life/images/feature-boxes/campuses.jpg" loading="lazy" alt="campuses">
            </figure>

            <div class="feature-link__content">
                <h3 class="h4 feature-link__title">Our campuses</h3>
                    <p>There's so much to discover on our campuses, including state-of-the art facilities, relaxed student spaces, eateries and venues.</p>
            </div>
        </a>

        </div>
        </div>
    </div>
  </div>

  <div class="slab">
    <div class="wrap">
      <h2 class="slab__title">Our courses</h3>
      <p>With our professional training and development courses, you can upgrade the skills of your workforce to develop new areas of expertise and improve efficiency, morale, and retention. Employers of all kinds are taking a structured approach to training their workforces. Continuing professional development, or 'CPD' is a key commitment to investing in your staff.</p>
    </div>
  </div>

</main>

{% include '@slider--accolades' %}
{% include '@page-footer' %}