<article class="course-ksp{% if colour %}  course-ksp--{{ colour }} {% endif %}" aria-label="{{ headline }}">
    <div class="course-ksp__content">
        <h3 class="course-ksp__title  h4">{{ headline }}</h3>
        <p class="course-ksp__body">{{ body }}</p>
    </div>
</article>