<div class="wrap">
    <div class="course-ksp-container">
        {% include '@course-ksp--item' with {
            headline: 'Specialist facilities',
            body: 'Thermofluid and Aeronautical Labs, Reverse Engineering Lab, Renewable Engineering Lab and Smart Zone.',
            colour: 'neon'
        } %}

        {% include '@course-ksp--item' with {
            headline: 'Workplace learning',
            body: 'Kick-start your career with a placement at Jaguar Land Rover, KMF, Siemens, Eurocopter and mode.',
            colour: 'lavender'
        } %}

        {% include '@course-ksp--item' with {
            headline: 'Develop advanced skills',
            body: 'Thermofluid and Aeronautical Labs, Reverse Engineering Lab, Renewable Engineering Lab and Smart Zone.',
            colour: 'pale-blue'
        } %}
    </div>
</div>