@use "../../assets/styles/__vars/colours";
@use "../../assets/styles/__vars/layout";
@use "../../assets/styles/__vars/spacing";
@use "../../assets/styles/__vars/typography";


blockquote,
.blockquote {
  @include typography.blockquote;

  footer {
    margin-top: spacing.$spacing-lg;
    @include typography.typescale('sm');
  }
}

cite,
.cite {
  @include typography.cite;
}

.blockquote--large,
.blockquote--short {
  @include typography.typescale('2xl', 'em');
  @include typography.line-height('headings');

  @media (min-width: layout.$breakpoint-largescreen-typography) {
    @include typography.typescale('4xl', 'em');
  }
}

.blockquote--small,
.blockquote--long {
  @include typography.typescale('lg', 'em');

  @media (min-width: layout.$breakpoint-largescreen-typography) {
    @include typography.typescale('xl', 'em');
  }
}

.blockquote__title {
  color: colours.$primary;
  color: var(--accent-color, #{colours.$primary});

  @include typography.typescale('2xl');

  @media (min-width: layout.$breakpoint-largescreen-typography) {
    @include typography.typescale('3xl');
  }
}

.blockquote__highlight {
  color: colours.$primary;
  color: var(--accent-color, #{colours.$primary});
}

.blockquote__footer {
  margin-top: spacing.$spacing-lg;
  @include typography.typescale('md');
}

.blockquote__prose {
  margin: spacing.$spacing-lg 0;
  @include typography.typescale('md');
  @include typography.line-height('spaced');
}

.blockquote__figure {
  shape-outside: circle(60%) padding-box;

  img {
    margin-left: auto;
    margin-right: auto;
    max-height: 40vmin;
    width: auto;
  }
}
