<aside class="social-links">
    <h3 class="h4">Connect with us</h3>
    <ul class="list--unstyled  list--inline">
        <li class="social-links--twitter">
            <a href="https://twitter.com/staffsuni">
                <i class="icon icon--twitter"></i>
                <span class="visually-hidden">Twitter: University of Staffordshire</span>
            </a>
        </li>
        <li class="social-links--facebook">
            <a href="https://facebook.com/staffsuni">
                <i class="icon icon--facebook"></i>
                <span class="visually-hidden">Facebook: University of Staffordshire</span>
            </a>
        </li>
        <li class="social-links--instagram">
            <a href="https://instagram.com/staffsuni">
                <i class="icon icon--instagram"></i>
                <span class="visually-hidden">Instagram: University of Staffordshire</span>
            </a>
        </li>
        <li class="social-links--youtube">
            <a href="https://youtube.com/staffsuni">
                <i class="icon icon--youtube"></i>
                <span class="visually-hidden">YouTube: University of Staffordshire</span>
            </a>
        </li>
        <li class="social-links--linkedin">
            <a href="https://www.linkedin.com/school/staffordshire-university/">
                <i class="icon icon--linkedin"></i>
                <span class="visually-hidden">LinkedIn: University of Staffordshire</span>
            </a>
        </li>
        <li class="social-links--tiktok">
            <a href="https://www.tiktok.com/@staffsuni">
                <i class="icon icon--tiktok"></i>
                <span class="visually-hidden">TikTok: University of Staffordshire</span>
            </a>
        </li>
    </ul>
</aside>