@use "../../assets/styles/__vars/breakpoints";
@use "../../assets/styles/__vars/colours";
@use "../../assets/styles/__vars/config";
@use "../../assets/styles/__vars/spacing";

.course-search {
    background: colours.$dark-blue url('#{config.$image-theme-directory}/course-search-bg.svg') right top no-repeat;
    background-size: 300px;
    padding: spacing.$spacing-4xl;

    &, & a, & h2 {
        color: white;
    }

    &__keywords {
        display: block;
        margin-bottom: spacing.$spacing-md;

        &[type="search"] {
            max-width: 100%;
            -webkit-appearance: none;
            border-radius: 0.25rem;
            -webkit-border-radius: 0.25rem;
        }
    }
    & h3:not([class]) {
        margin: spacing.$spacing-lg 0 spacing.$spacing-md;
    }
    &.slab--bg-slate .accordion__title:focus-visible {
        outline-color: colours.$tertiary;
    }
    & .button:hover {
        cursor: pointer;
    }
}
@media (min-width: breakpoints.$third-breakpoint) {
    .course-search {
        &__subject-list {
            -moz-column-count: 3;
            -moz-column-gap: spacing.$spacing-xl;
            -webkit-column-count: 3;
            -webkit-column-gap: spacing.$spacing-xl;
            column-count: 3;
            column-gap: spacing.$spacing-xl;
        }
    }
}
.ui-autocomplete {
    z-index: 1000;
}
.ui-autocomplete-category {
    padding: spacing.$spacing-xs spacing.$spacing-xs 0 spacing.$spacing-xs;
    font-weight: bold;
    color: colours.$dark-blue;
    margin-bottom: spacing.$spacing-3xs;
}
.ui-menu-item__course {
    padding: 0 spacing.$spacing-xs 0 spacing.$spacing-sm;

    &:hover {
        background-color: #EEE;
    }
}