<div class="title">
  <h2>Variant in a box</h2>
</div>

<div class="box  box--bg-slate">
  <div class="box__content">

    <table class="table--apply">
      <thead>
      <tr>
        <th>Location</th>
        <th>Award</th>
        <th>Study option</th>
        <th>Start date</th>
        <th><span class="visually-hidden">Apply Link</span></th>
      </tr>
      </thead>

      <tbody>
      {% for i in 1..3 %}
        <tr>
          <td data-label="Location">Centre of Excellence Stafford</td>
          <td data-label="Award">BSc (Hons)</td>
          <td data-label="Study option">Part-time</td>
          <td data-label="Start date">28 September 2024</td>
          <td class="table--apply__buttonCell"><a href="" class="button  button--block  button--lg  button--pointy">Apply Now</a>
        </tr>
      {% endfor %}
      </tbody>
    </table>

  </div>
</div>

<hr/>

<div class="title">
  <h2>Variant not in a box, with longer test data</h2>
</div>


<table class="table--apply">
  <thead>
  <tr>
    <th>Location</th>
    <th>Award</th>
    <th>Study option</th>
    <th>Start date</th>
    <th><span class="visually-hidden">Apply Link</span></th>
  </tr>
  </thead>

  <tbody>
  {% for i in 1..3 %}
    <tr>
      <td data-label="Location">Centre of Excellence Stafford</td>
      <td data-label="Award">BSc (Hons)</td>
      <td data-label="Study option">Part-time</td>
      <td data-label="Start date">28 September 2024</td>
      <td class="table--apply__buttonCell"><a href="" class="button  button--block  button--lg  button--pointy">Apply Now</a>
    </tr>
    <tr>
      <td data-label="Location">{{ loremShort }}</td>
      <td data-label="Award">Long Award Name (Hons)</td>
      <td data-label="Study option">Complicated Study Option</td>
      <td data-label="Start date">28 September 2024</td>
      <td class="table--apply__buttonCell"><a href="" class="button  button--block  button--lg  button--pointy">Apply Now</a>
    </tr>
  {% endfor %}
  </tbody>
</table>