<div class="quote-banner  quote-banner--reverse  align-full">
  <div class="wrap">

    <div class="quote-banner__flexContainer">

      <div class="quote-banner__quoteContainer">
        <div class="card  card--testimonial  card--red">
          <div class="card__content">
            <blockquote class="blockquote--large">
              <q class="blockquote__title">Since coming to Staffordshire Uni I’ve become much more creative and confident in myself and my abilities</q>

              <footer class="blockquote__footer">
                <cite class="cite">Dan Sheerman</cite>
                <p>Vice President of naming complicated variants of things</p>
              </footer>
            </blockquote>
          </div>
        </div>
      </div>

      <figure class="quote-banner__figure">
        <img src="https://picsum.photos/800/400?random=1" alt="person" />
      </figure>
    </div>

  </div>
</div>