<div class="quote-banner  align-full">
  <div class="wrap">

    <div class="quote-banner__flexContainer">

      <div class="quote-banner__quoteContainer">
        <blockquote class="blockquote--large">
          <q class="blockquote__title">{{ quoteText }}</q>

          <footer class="blockquote__footer">
            <cite class="cite">{{ quoteSource }}</cite>
            <p>{{ quoteQualification }}</p>
          </footer>
        </blockquote>
      </div>

      <figure class="quote-banner__figure  quote-banner__figure--align-bottom">
        <img src="{{ '/images/placeholder-transparent-person.png' | path }}" alt="" />
      </figure>
    </div>

  </div>
</div>