@use "../../assets/styles/__vars/colours";
@use "../../assets/styles/__vars/spacing";

.course-listing {
    .link--stretched {
        color: colours.$dark-blue;
        text-decoration: none;
        padding-bottom: spacing.$spacing-sm;
        border-bottom: spacing.$spacing-3xs solid colours.$red;
    }
}