@use "../../assets/styles/__vars/mixins";

.button {
  // For the moment, these are defined as little mixins over in __vars/mixins so they can be included elsewhere

  @include mixins.button;

  // Sizes

  &--xs {
    @include mixins.button--xs;
  }

  &--sm {
    @include mixins.button--sm;
  }

  &--lg {
    @include mixins.button--lg;
  }

  &--xl {
    @include mixins.button--xl;
  }

  // Layout

  &--block {
    @include mixins.button--block;
    line-height: 1.5;
  }

  &--pointy {
    @include mixins.button--pointy;
  }

  &--caps {
    text-transform: uppercase;
  }

  // Colours

  &--dark-blue {
    @include mixins.button--dark-blue;
  }

  &--digital-blue {
    @include mixins.button--digital-blue;
  }

  &--granite {
    @include mixins.button--granite;
  }

  &--grey {
    @include mixins.button--grey;
  }

  &--outline {
    @include mixins.button--outline;

    .slab--bg-slate &, .slab--bg-teal & {
      color: white;
    }
  }

  &--outline-dark-blue {
    @include mixins.button--outline-dark-blue;
  }

  &--outline-grey {
    @include mixins.button--outline-grey;
  }

  &--outline-slate {
    @include mixins.button--outline-dark-blue;
  }

  &[disabled] {
    @include mixins.button--disabled;
  }
}