.news-record {
    .align-right {
        @media (min-width: $third-breakpoint) {
            max-width: $align-size-md;
        }
    }

    .news-articles-search {
        h3 {
            margin-top: 0;
        }
        button {
            cursor: pointer;
        }
    }
}