@use "../../assets/styles/__vars/breakpoints";
@use "../../assets/styles/__vars/layout";

.news-record {
    .align-right {
        @media (min-width: breakpoints.$third-breakpoint) {
            max-width: layout.$align-size-md;
        }
    }

    .news-articles-search {
        h3 {
            margin-top: 0;
        }
        button {
            cursor: pointer;
        }
    }
}