
// Staffs Palette

$maroon:					              #970048;
$pink:					                #d5035e;
$slate:					                #394851;
$slate--light:                  #616d74;
$offblack:                      #1d1d1b;
$grey--dark:                    #444;
$grey--shadow:                  #e0dfe7;
$grey--light:                   #dddddd;
$greyblue--light:               #e8ebed;
$greyblue--superlight:          #f0f1f2;
$greyblue--supersuperlight:     mix(#f0f1f2, #fff);
$offwhite:                      #f1f1f1;
//$yellow:                        #ffd91b;

$blue:                          #0000cc;
$blue--light:                   #8888cc;

// 2024 Brand palette
$red: #ef4a3b;
// Grounded colours
$burgundy: #8a0045;
$digital-blue: #304dfc;
$dark-blue: #170d38;
$grey: #c2bfd2;
$grey-50-pc: #E0DFE8;
// Elevated colours
$teal: #006b82;
$pale-blue: #bdf7e3;
$neon: #c4ff36;
$neon-50-pc: #E1FF9A;
$yellow: #ffff58;
$yellow-light: #ffffae;
$peach: #febea5;
$lavender: #e8c7ff;



// Third-Party Palette

$blue--twitter:                 #1da1f2;
$blue--facebook:                #3b5998;
$blue--linkedIn:                #2867B2;
$blue--instagram:               #D300C5;
$red--youtube:                  #FF0000;
$grey--tiktok:                  #FE2858;
$grey--x:                       #000000;

// London Palette

$blue--deep-ldn:                rgb(20, 65, 150);
$blue--ldn:                     rgb(0, 130, 200);
$magenta--ldn:                  rgb(185, 15, 130);
$purple--deep-ldn:              rgb(130, 30, 130);
$granite--ldn:                  rgb(65, 70, 75);
$granite--light-ldn:            mix($granite--ldn, white, 85%);

// Theme Colours:

$primary:                       $dark-blue;
$secondary:                     $burgundy;
$tertiary:                      $digital-blue;
/*$primary:                       $dark-blue;
$secondary:                     $burgundy;
$tertiary:                      $grey;*/
$neutral--primary:              $dark-blue;
$neutral--light:                $grey;

/// Referencable colours

$page-bg:                       white;
$text-color:                    black;
$link-color:                    $teal;
$link-color--hover:             $primary;
$heading-color:                 black;
$table-accent:                  $neutral--primary;
$table-accent--light:           $neutral--light;


// Utilities Classes Setup
// these are output by the loops in _utils/utils.scss (included by main)

$utils-bg-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'tertiary': $tertiary,
  'grey-light': $grey--light,
  'offwhite': $offwhite,
  'offblack': $offblack,
  'white': white,
);

$utils-text-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'white': white,
  'black': black,
  'offwhite': $offwhite,
  'offblack': $offblack,
);

// Component Theme Variants Setup
// these are used by components' partials to create colour variants
// they live here (for the time being) so they can be overridden before components are imported for themes (London)

$theme-colours: (
  'primary' : $dark-blue,
  'secondary' : $burgundy,
  'tertiary' : $digital-blue
);

$card-accent-colors: (
  'red': $red,
  'pink': $dark-blue,
  'maroon': $burgundy,
  'slate': $dark-blue,
  'blue-ldn': $dark-blue,
  // CG: New for 2024
  'burgundy': $burgundy,
  'digital-blue': $digital-blue,
  'dark-blue': $dark-blue,
  'teal': $teal,
  'grey': $grey,
  // CG: The following will most likely be used for KSPs
  'pale-blue': $pale-blue,
  'neon': $neon,
  'neon-50-pc': $neon-50-pc,
  'lavender': $lavender
);

$testimonial-card-colors: (
  'burgundy': (
    'background': $burgundy,
    'color': white,
    'contrast-color': $neon
  ),
  'digital-blue': (
    'background': $digital-blue,
    'color': white,
    'contrast-color': $neon
  ),
  'neon': (
    'background': $neon-50-pc,
    'color': black,
    'contrast-color': $digital-blue
  )
);

$profile-card-themes: (
  "grey-with-teal": (
    "background": $greyblue--superlight,
    "accent-color": $teal
  ),
  "grey-with-burgundy": (
    "background": $greyblue--superlight,
    "accent-color": $burgundy
  ),
  "teal-with-neon": (
    "background": $teal,
    "accent-color": $neon
  ),
  "burgundy-with-neon": (
    "background": $burgundy,
    "accent-color": $neon
  ),
  "dark-blue-with-neon": (
    "background": $dark-blue,
    "accent-color": $neon
  )
);

$tile-accent-colors: (
  'burgundy' : $burgundy,  
  'dark-blue': $dark-blue,
  'digital-blue': $digital-blue,
  'grey' : $grey-50-pc,
  'lavender' : $lavender,
  'neon' : $neon,
  'neon-light': $neon-50-pc,
  'pale-blue' : $pale-blue,
  'peach' : $peach,
  'teal' : $teal,
  'yellow-light': $yellow-light
);

$title-bg-colors: (
  'white': white,
  'red': $red,
  'neon': $neon,
  'dark-blue': $dark-blue,
  'digital-blue': $digital-blue,
  'pale-blue': $pale-blue,
  'peach': $peach,
  'yellow-light': $yellow-light
);

$slab-bg-colors: (
  'offwhite': $grey-50-pc,
  'slate': $dark-blue,
  'slate-light': $slate--light,
  'dark-blue': $dark-blue,
  'lavender': $lavender,
  'neon': $neon-50-pc,
  'digital-blue': $digital-blue,
  'teal': $teal
);

$slab-bg-image-colors: (
  'grey': $grey-50-pc,
  'neon': $neon-50-pc,
  'blue': $pale-blue,
  'peach': $peach,
  'yellow': $yellow-light
);

$banner-bg-colors: (
  'burgundy': $burgundy,
  'dark-blue': $dark-blue,
  'digital-blue': $digital-blue,
  'teal': $teal
);

$icon-box-colors: (
  'red': $digital-blue, // CG: Polyfill for legacy colour
  'digital-blue': $digital-blue,
  'dark-blue': $dark-blue,
  'teal' : $teal,
  'pink': $pink,
  'neon': $neon,
  'maroon': $burgundy, // CG: Polyfill for legacy colour
  'burgundy': $burgundy,
  'slate': $dark-blue, // CG: Polyfill for legacy colour
  'offwhite': $grey-50-pc
);

$tag-bg-colors: (
  'red': $red,
  'dark-blue': $dark-blue,
  'digital-blue': $digital-blue,
  'neon': $neon,
  'teal': $teal,
  'burgundy': $burgundy,
  // CG: For wayfinding at open days
  'blue': $blue,
  'green': #00cc66,
  'orange': #ff6600,
  'purple': #9933ff,
  'yellow': $yellow
);

$callout-bg-colors: (
  'dark-blue': $dark-blue,
  'digital-blue': $digital-blue,
  'neon': $neon,
  'teal': $teal,
  'burgundy': $burgundy,
);

$zebra-bg-colors: (
  'burgundy': $burgundy,
  'digital-blue': $digital-blue,
  'teal': $teal
);

$socialmedia-prime-colours: (
  'facebook' : $blue--facebook,
  'twitter'  : $grey--x,
  'linkedIn' : $blue--linkedIn,
  'instagram' : $blue--instagram,
  'youtube' : $red--youtube,
  'tiktok' : $grey--tiktok
);