/** Calculate the luminance for a color. See https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests */
/** Calculate the contrast ratio between two colors. See https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests */
/** Determine whether to use dark or light text on top of given color. Returns black for dark text and white for light text. */
/*$primary:                       $dark-blue;
$secondary:                     $burgundy;
$tertiary:                      $grey;*/
/*@mixin align-wide {
  max-width: none;
  width: calc(100vw - 2.4rem);
  margin-left: calc(-50vw + 50% + 1.2rem);
  margin-right: calc(-50vw + 50% + 1.2rem);

  @media (min-width: $wrap-full-gutter-width) {
    width: calc(90vw);
    margin-left: calc(-45vw + 50%);
    margin-right: calc(-45vw + 50%);
  }

  @media (min-width: $wrap-width + 10rem) {
    width: $wrap-width;
    margin-left: calc(-43rem + 50%);
    margin-right: calc(-43rem + 50%);
  }
}*/
html { position: relative; -webkit-text-decoration-skip: ink; text-decoration-skip-ink: auto; }

@supports (font: -apple-system-body) { html { font: -apple-system-body; } }

body { font-family: 'Plus Jakarta Sans', sans-serif; line-height: 1.6; color: black; background: #fff; font-weight: 400; -webkit-font-variant-ligatures: none; font-variant-ligatures: none; tap-highlight-color: rgba(239, 74, 59, 0.25); }

::-moz-selection { background: rgba(239, 74, 59, 0.2); }

::selection { background: rgba(239, 74, 59, 0.2); }

a { color: #006b82; cursor: pointer; }

a:hover { color: #ef4a3b; }

a img { border: 0px; }

a[href^="mailto"], .url { word-break: break-word; }

p a:not([class]), p a[class*="sys_"], li a:not([class]), li a[class*="sys_"], td a:not([class]), td a[class*="sys_"], dd a:not([class]), dd a[class*="sys_"] { text-decoration: none; font-weight: 500; border-bottom: 1px solid #dddddd; }

.link--standard { font-weight: 500 !important; border-bottom: 1px solid #dddddd !important; }

.link--standard:hover { text-decoration: none !important; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 { line-height: 1.2; font-weight: 600; }

h2, h2 > a { color: #8a0045; }

h1, h2 { margin: 0 0 1.5rem; }

h3, h4, h5, h6 { margin: 0 0 0.5rem; }

h1 + h2, h2 + h3, h4 + h5, h5 + h6 { margin-top: 0; }

h3 + h4 { margin-top: 1.5rem; }

h1, .h1 { font-size: 2rem; }

h2, .h2 { font-size: 1.75rem; }

h3, .h3 { font-size: 1.5rem; }

h4, .h4 { font-size: 1.25rem; }

h5, .h5 { font-size: 1.1rem; }

h6, .h6 { font-size: 1rem; }

@media (min-width: 70rem) and (min-height: 40rem) { h1, .h1 { font-size: 3rem; }
  h2, .h2 { font-size: 2.5rem; }
  h3, .h3 { font-size: 2rem; }
  h4, .h4 { font-size: 1.5rem; }
  h5, .h5 { font-size: 1.25rem; }
  h6, .h6 { font-size: 1.1rem; } }

p { margin: 0 0 1.5em; }

p:empty { margin: 0; }

acronym, abbr { border-bottom: 1px dotted #333; }

strong, .strong { font-weight: 600; }

em { font-style: italic; }

li { margin-bottom: 0.5rem; }

ul { margin: 0 0 1.5rem; list-style-type: square; padding-left: 1.5em; }

ol { margin: 0 0 1.5rem; padding-left: 2em; }

nav ul { list-style: none; padding: 0; }

nav a { text-decoration: none; }

dl { margin: 0 0 1.5rem; }

dt { font-weight: 600; }

dd { margin: 0; }

hr { clear: both; height: 0; border: 0; border-top: 1px solid #dddddd; margin: 4rem auto; }

img { display: block; max-width: 100%; height: auto; width: auto; }

iframe { max-width: 100%; }

figure { position: relative; margin: 0 0 2rem; }

figure img { width: 100%; }

figcaption { margin: 0; padding: 0.75rem 0; background: #fff; color: black; border-bottom: 1px solid #dddddd; line-height: normal; }

figcaption p:last-child { margin-bottom: 0; }

pre { clear: both; font-size: 0.875em; line-height: 1.6; margin: 1.5rem 0; padding: 1em; -moz-tab-size: 2; -o-tab-size: 2; tab-size: 2; background: black; color: #fff; max-width: 100%; overflow: auto; }

pre::-moz-selection { background: rgba(239, 74, 59, 0.75); color: white; }

pre::selection { background: rgba(239, 74, 59, 0.75); color: white; }

code { display: inline-block; line-height: 1.6; font-size: 0.75em; background: rgba(239, 74, 59, 0.05); padding: 0 0.2em; color: #ef4a3b; border: 1px rgba(239, 74, 59, 0.25) solid; border-radius: 0.2em; }

table { font-size: 0.9em; width: 100%; margin: 0 0 2rem; border-spacing: 0; border-collapse: collapse; line-height: 1.6; }

caption { text-align: left; }

thead { border-bottom: 2px solid #170d38; }

thead td, thead th { background: #fff; vertical-align: bottom; }

tr { background: rgba(241, 241, 241, 0.5); border-bottom: 1px solid #f1f1f1; }

tr:nth-child(even) { background: #fff; }

td, th { padding: 1em; }

th { color: #170d38; font-weight: 600; text-align: left; }

td { vertical-align: middle; }

.accordion__title { margin: 0.75rem 0; padding: 0.5rem; }

.accordion__toggle { margin: 0; display: inline-block; vertical-align: middle; }

.intro, .is-style-intro { font-size: 1.1rem; line-height: 1.6; max-width: 50rem; color: #170d38; font-weight: 500; }

@media (min-width: 40em) { .intro, .is-style-intro { font-size: 1.25em; } }

.stat { font-size: 1.5em; font-weight: 600; color: #ef4a3b; text-decoration: none; }

.stat a { color: #ef4a3b; text-decoration: none; }

.font-6xl { font-size: 3rem !important; }

.font-5xl { font-size: 2.5rem !important; }

.font-4xl { font-size: 2rem !important; }

.font-3xl { font-size: 1.75rem !important; }

.font-2xl { font-size: 1.5rem !important; }

.font-xl { font-size: 1.25rem !important; }

.font-lg { font-size: 1.1rem !important; }

.font-md { font-size: 1rem !important; }

.font-sm { font-size: 0.875rem !important; }

.font-xs { font-size: 0.75rem !important; }

.font-2xs { font-size: 0.6875rem !important; }

.font-primary { font-family: 'Plus Jakarta Sans', sans-serif; }

main p:not([class]), article p:not([class]) { max-width: 50rem; }

main ul:not([class]), main ol:not([class]), article ul:not([class]), article ol:not([class]) { max-width: calc(50rem - 1.5em); }

hgroup, .hgroup { margin: 0 0 2rem; }

hgroup h1, hgroup .h1, hgroup h2, hgroup .h2, hgroup h3, hgroup .h3, hgroup h4, hgroup .h4, hgroup h5, hgroup .h5, hgroup h6, hgroup .h6, .hgroup h1, .hgroup .h1, .hgroup h2, .hgroup .h2, .hgroup h3, .hgroup .h3, .hgroup h4, .hgroup .h4, .hgroup h5, .hgroup .h5, .hgroup h6, .hgroup .h6 { margin: 0 0 0.5rem; }

.caps { text-transform: uppercase; }

.tag { display: inline-block; font-size: 0.75em; color: black; background: #f1f1f1; padding: 0.35em 1.5em; line-height: 1; border-radius: 0.35em; text-decoration: none; -webkit-text-decoration-color: revert; text-decoration-color: revert; text-decoration-thickness: revert; }

a.tag:hover { text-decoration: underline; color: black; }

.url { color: black; text-decoration: underline; }

.link-access, .visually-hidden, .screen-reader-text { display: block; position: absolute; left: -9999em; clip: rect(0 0 0 0); }

.link-access:focus, .visually-hidden:focus, .screen-reader-text:focus { position: static; left: auto; clip: none; }

.button { position: relative; display: inline-block; font-size: inherit; margin: 0 0.25rem 1rem 0; padding: 0.75em 1.5em; border: 0; line-height: 1.15; vertical-align: baseline; text-decoration: none; text-align: center; transition: background 150ms ease-out, color 150ms ease-out; box-sizing: border-box; border-radius: 0.25rem; font-weight: 600; background-color: #c4ff36; background-image: linear-gradient(to left, #c4ff36 50%, black 50%); background-size: 200% 100%; background-position: right bottom; background-repeat: no-repeat; color: black; }

.button:hover, .button:focus, .button:active { color: white; background-position: 0% bottom; }

.button--xs { font-size: 0.75em; }

.button--sm { font-size: 0.875em; }

.button--lg { font-size: 1.1em; }

.button--xl { font-size: 1.25em; }

.button--block { display: block; width: 100%; text-align: center; line-height: 1.5; }

.button--pointy:after { content: '\25B6\FE0E'; padding-left: 0.5em; transition: -webkit-transform 200ms; transition: transform 200ms; transition: transform 200ms, -webkit-transform 200ms; }

.button--caps { text-transform: uppercase; }

.button--dark-blue { background-image: linear-gradient(to left, #170d38 50%, black 50%); color: white; }

.button--dark-blue:hover, .button--dark-blue:focus { color: white; }

.button--digital-blue { background-image: linear-gradient(to left, #304dfc 50%, black 50%); color: white; }

.button--digital-blue:hover, .button--digital-blue:focus { color: white; }

.button--granite { background-image: linear-gradient(to left, #41464b 50%, black 50%); color: white; }

.button--granite:hover, .button--granite:focus { color: white; }

.button--grey { background-image: linear-gradient(to left, #E0DFE8 50%, black 50%); color: black; }

.button--grey:hover, .button--grey:focus { color: white; }

.button--outline { color: black; border: 0.2em solid #c4ff36; padding: 0.6em 2em; background-color: transparent; background-image: linear-gradient(to left, rgba(255, 255, 255, 0) 50%, #c4ff36 50%); }

.button--outline:hover, .button--outline:focus, .button--outline:active { color: black; }

.slab--bg-slate .button--outline { color: white; }

.button--outline-dark-blue { color: black; border: 0.2em solid #170d38; padding: 0.6em 2em; background-color: transparent; background-image: linear-gradient(to left, rgba(255, 255, 255, 0) 50%, #170d38 50%); }

.button--outline-dark-blue:hover, .button--outline-dark-blue:focus, .button--outline-dark-blue:active { color: white; }

.button--outline-slate { color: black; border: 0.2em solid #170d38; padding: 0.6em 2em; background-color: transparent; background-image: linear-gradient(to left, rgba(255, 255, 255, 0) 50%, #170d38 50%); }

.button--outline-slate:hover, .button--outline-slate:focus, .button--outline-slate:active { color: white; }

.button[disabled] { opacity: 0.75; border-color: #ccc; background: #ccc; background-position: 0% bottom; color: #aaa; cursor: not-allowed; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -moz-text-size-adjust: 100%; text-size-adjust: 100%; }

.accordion .sys_placeholder-accordionRow { border: 2px solid #394851 !important; }

/* Single Col */
div[class*="-12"].column { padding: 0 0.75rem; }

/*# sourceMappingURL=editor.css.map */
