.title {
  // $title-bg-colors: see __vars/colours

  position: relative;
  --background: #{$dark-blue};
  --color: white;
  max-width: 42em; // @TODO: why? what does this relate to? make a variable
  margin-bottom: $spacing-lg;
  margin-right: $spacing-md;

  + .title {
    margin-top: -$spacing-md;
  }

  &--course-location {
    margin-top: $spacing-xs;
  }
}

.slab, .mini-template-grid {
  .title {
    margin-top: 0;
  }
}

.title__highlight {
  position: relative;
  display: inline;
  left: $spacing-xs;
  padding: 0.25rem;
  line-height: 1.4;
  background: $primary;
  background: var(--background, #{$primary});
  color: white;
  color: var(--color);
  box-shadow: -$spacing-xs 0 0 0 #{$primary}, $spacing-xs 0 0 0 #{$primary};
  box-shadow: -$spacing-xs 0 0 0 var(--background, #{$primary}), $spacing-xs 0 0 0 var(--background, #{$primary});
  box-decoration-break: clone;
}

.tile {
  .title__highlight {
    a {
      color: white;
      color: var(--color);
    }
  }
}

.side-nav {
  .title__highlight {
    --background: #{$red};
    --color: white;

    a {
      color: white;
      color: var(--color);
    }
  }
}


@each $name, $value in $title-bg-colors {
  .title--bg-#{$name} {
    --background: #{$value};
    @if (choose-contrast-color($value) == black) {
      --color: black;
    }
  }
}