<div class="accordion">
  {% include '@accordion--item' with {
    titleElement: 'h2',
    title: 'Accordion toggle with h2',
    content: '<p>Some content inside</p><p>Some content</p>'
  } %}

  {% include '@accordion--item' with {
    titleElement: 'h3',
    title: 'Accordion toggle with h3',
    content: '<p>Some content inside</p><p>Some content</p>'
  } %}

  {% include '@accordion--item' with {
    titleElement: 'h4',
    title: 'Accordion toggle with h4',
    content: '<p>Some content inside</p><p>Some content</p>'
  } %}

  {% include '@accordion--item' with {
    titleElement: 'h5',
    title: 'Accordion toggle with h5',
    content: '<p>Some content inside</p><p>Some content</p>'
  } %}

  {% include '@accordion--item' with {
    titleElement: 'h6',
    title: 'Accordion toggle with h6',
    content: '<p>Some content inside</p><p>Some content</p>'
  } %}

  {% include '@accordion--item' with {
    title: 'Accordion Toggle',
    content: '<p>Some content inside</p><p>Some content</p>'
  } %}
</div>