@use "sass:map";
@use "../../assets/styles/__vars/breakpoints";
@use "../../assets/styles/__vars/colours";
@use "../../assets/styles/__vars/spacing";

.accolade {
    color: black;
    background: colours.$grey-50-pc;
    padding: spacing.$spacing-xl;
    text-align: center;
    margin-bottom: spacing.$spacing-lg;

    @media(min-width: map.get(breakpoints.$breakpoint-stages, 'mobile-wide')) {
        width: 30%;
        margin-right: 2%;
        margin-bottom: 0;

        &:last-child {
            margin-right: 0;
        }

        &-container {
            display: flex;
            justify-content: center;

            &--divider {
                padding: spacing.$spacing-lg 0;
                background: colours.$grey-50-pc;
            }
        }
    }

    &__figure {
        & > img {
            max-width: 100px;
            margin-left: auto;
            margin-right: auto;
        }
        & > svg {
            max-height: 100px;
        }
    }

    &--divider {
        width: 100%;
        margin-right: 0;

        @media(min-width: map.get(breakpoints.$breakpoint-stages, 'tablet')) {
            display: flex;
            flex-direction: row-reverse;

            & .accolade__figure {
                float: left;
                min-width: 75px;
            }

            &:not(:last-child) {
                border-right: 1px solid colours.$grey;
            }
        }
    }
}