<p>The main use for this component is likely to be the results page in the course search.</p>
<article class="margin-bottom-3xl">
        <h3 class="h4">
            <a class="link--stretched" href="https://www.staffs.ac.uk/course/digital-social-media-marketing-bsc" title="Digital and Social Media Marketing">
                <span class="course__title"> 
                        <strong>Digital</strong> and Social Media Marketing
                </span>
                BSc (Hons)

                <span class="tag  tag--teal  tag--not-rounded  align-right">Undergraduate</span>
            </a>
        </h3>
             
        <h4 class="h6">Study options</h4>
        <ul class="list--inline-bulleted">
            <li>Full-time</li>
            <li>Full-time, with a placement year</li>
            <li>Full-time, with a foundation year</li>
        </ul>

        <h4 class="h6">Location</h4>
        <ul class="list--inline-bulleted">
            <li>Stoke-on-Trent campus</li>
        </ul>
</article>