<div class="slider--modules  js-slider--variable">
  <div>
    {% include '@table--modules' %}
  </div>

  <div>
    <table class="table--modules">
      <caption class="visually-hidden">Year x compulsory modules</caption>
      <thead>
      <tr>
        <th colspan="2">Year x compulsory modules</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
            Introduction To Applied Clinical Paramedic Practice
        </td>
        <td class="table--modules__credits">30 credits</td>
      </tr>
      <tr>
        <td>
            Introduction To Biological Sciences And Pharmacology For Paramedic Practice
        </td>
        <td class="table--modules__credits">15 credits</td>
      </tr>
      <tr>
        <td>
            {{ lorem }}
        </td>
        <td class="table--modules__credits">999 credits</td>
      </tr>
      <tr>
        <td>
            {{ placeholderPara1 }}
        </td>
        <td class="table--modules__credits">999 credits</td>
      </tr>
      <tr>
        <td>
            {{ placeholderPara2 }}
        </td>
        <td class="table--modules__credits">999 credits</td>
      </tr>

      </tbody>
    </table>
  </div>

  <div>
    {% include '@table--modules' %}
  </div>

  <div>
    <table class="table--modules">
      <caption class="visually-hidden">Year x compulsory modules</caption>
      <thead>
      <tr>
        <th colspan="2">Year x compulsory modules</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
            Introduction To Applied Clinical Paramedic Practice
        </td>
        <td class="table--modules__credits">30 credits</td>
      </tr>
      <tr>
        <td>
          <a href="">
            Introduction To Biological Sciences And Pharmacology For Paramedic Practice
          </a>
        </td>
        <td class="table--modules__credits">15 credits</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>