<p class="intro">Copy-pasted from a legacy form, to ensure we're not breaking any styles with our 'mild' reset/reboot form-styling</p>

<div class="main__content--with-sidebar">

  <form>
    <p><strong>Thank you for your interest in our MPhil and PhD degrees and at Staffordshire University. This form goes directly to the Graduate School, where either we can answer your questions, or we will forward them to a member of staff
        who can.</strong></p>
    <p>First, we just want to gather some relevant information so that we can best help you. If you are at a point where you are considering an application to Staffordshire University, a member of academic staff (who may well be your future
      supervisor) will help you to move forward.</p>
    <div id="formwrapperJS7865" class="sys_cms-form-control sys_labels-top">
      <div id="formpage_0-7865" class="sys_cms-form-page sys_cms-form-page_0">
        <ul id="formpagelist_0-7865" class="sys_cms-form-body  list--unbulleted  list--spaced">
          <li id="Form_item_0_1" class="sys_cms-form-item sys_name">
            <div class="sys_legend">
              Name
            </div>
            <div class="form__group  form__group--inline">
              <div class="form__item">
                <div>
                  <label for="ctrl_1_first-7865-f38180">First name</label>
                </div>
                <input name="ctl00$ctl00$PageContent$subgeneric_subgeneric_mainPlaceholder$ctrl_1_first-7865-f38180" type="text" id="ctrl_1_first-7865-f38180" class="tiny required" autocomplete="given-name">
              </div>
              <div class="form__item  sys_namesubelement sys_lastnamesubelement">
                <div>
                  <label for="ctrl_1_surname-7865-f38181">Last name</label>
                </div>
                <input name="ctl00$ctl00$PageContent$subgeneric_subgeneric_mainPlaceholder$ctrl_1_surname-7865-f38181" type="text" id="ctrl_1_surname-7865-f38181" class="tiny required" autocomplete="family-name">
              </div>
            </div>
            <div style="clear:both;">

            </div>
          </li>
          <li id="Form_item_0_2" class="sys_cms-form-item sys_email"><label for="ctrl_2-7865-f38182" class="sys_fieldlabel">Email</label>
            <div class="sys_fieldcontent">
              <input name="ctl00$ctl00$PageContent$subgeneric_subgeneric_mainPlaceholder$ctrl_2-7865-f38182" type="email" id="ctrl_2-7865-f38182" class="sys_medium required email" autocomplete="email">
            </div>
          </li>
          <li id="Form_item_0_3" class="sys_cms-form-item sys_phone"><label for="ctrl_3-7865-f38183" class="sys_fieldlabel">Phone number</label>
            <div class="sys_fieldcontent">
              <input name="ctl00$ctl00$PageContent$subgeneric_subgeneric_mainPlaceholder$ctrl_3-7865-f38183" type="tel" id="ctrl_3-7865-f38183" class="sys_medium" autocomplete="tel">
            </div>
          </li>
          <li id="Form_item_0_4" class="sys_cms-form-item sys_radio sys_onecolumn">
            <fieldset class="sys_fieldset--simple">
              <legend class="sys_legend sys_legend--simple">Are you a</legend>
              <div class="sys_fieldcontent">
                <span class="sys_boxclearer"><input value="UK citizen" name="ctl00$ctl00$PageContent$subgeneric_subgeneric_mainPlaceholder$ctrl_4-7865" type="radio" id="ctrl_4_0-7865-f38184" class="radiorequired"><label
                          for="ctrl_4_0-7865-f38184">UK citizen</label></span><span class="sys_boxclearer"><input value="Citizen of an EU country" name="ctl00$ctl00$PageContent$subgeneric_subgeneric_mainPlaceholder$ctrl_4-7865" type="radio"
                                                                                                                  id="ctrl_4_1-7865-f38185" class="radiorequired"><label for="ctrl_4_1-7865-f38185">Citizen of an EU country</label></span><span
                        class="sys_boxclearer"><input value="Other international citizen" name="ctl00$ctl00$PageContent$subgeneric_subgeneric_mainPlaceholder$ctrl_4-7865" type="radio" id="ctrl_4_2-7865-f38186" class="radiorequired"><label
                          for="ctrl_4_2-7865-f38186">Other international citizen</label></span>
              </div>
              <div style="clear:both;">

              </div>
            </fieldset>
          </li>
          <li id="Form_item_0_5" class="sys_cms-form-item sys_radio sys_onecolumn">
            <fieldset class="sys_fieldset--simple">
              <legend class="sys_legend sys_legend--simple">Are you considering studying</legend>
              <div class="sys_fieldcontent">
                <span class="sys_boxclearer"><input value="Part-time" name="ctl00$ctl00$PageContent$subgeneric_subgeneric_mainPlaceholder$ctrl_5-7865" type="radio" id="ctrl_5_0-7865-f38187" class="radiorequired"><label
                          for="ctrl_5_0-7865-f38187">Part-time</label></span><span class="sys_boxclearer"><input value="Full-time" name="ctl00$ctl00$PageContent$subgeneric_subgeneric_mainPlaceholder$ctrl_5-7865" type="radio"
                                                                                                                 id="ctrl_5_1-7865-f38188" class="radiorequired"><label for="ctrl_5_1-7865-f38188">Full-time</label></span><span
                        class="sys_boxclearer"><input value="Distance learning" name="ctl00$ctl00$PageContent$subgeneric_subgeneric_mainPlaceholder$ctrl_5-7865" type="radio" id="ctrl_5_2-7865-f381815" class="radiorequired"><label
                          for="ctrl_5_2-7865-f381815">Distance learning</label></span><span class="sys_boxclearer"><input value="Not sure" name="ctl00$ctl00$PageContent$subgeneric_subgeneric_mainPlaceholder$ctrl_5-7865" type="radio"
                                                                                                                          id="ctrl_5_3-7865-f38189" class="radiorequired"><label for="ctrl_5_3-7865-f38189">Not sure</label></span>
              </div>
              <div style="clear:both;">

              </div>
            </fieldset>
          </li>
          <li id="Form_item_0_6" class="sys_cms-form-item sys_multiline"><label for="ctrl_6-7865-f381810" class="sys_fieldlabel">Have you been in contact with any academic staff at the University about these areas or projects already? If
              so, please give their name(s).</label>
            <div class="sys_fieldcontent">
              <textarea name="ctl00$ctl00$PageContent$subgeneric_subgeneric_mainPlaceholder$ctrl_6-7865-f381810" id="ctrl_6-7865-f381810" cols="40" rows="8" class="sys_medium"></textarea>
            </div>
          </li>
          <li id="Form_item_0_7" class="sys_cms-form-item sys_textbox"><label for="ctrl_7-7865-f381811" class="sys_fieldlabel">Have you already made an application? If so, please provide the applicant reference number.</label>
            <div class="sys_fieldcontent">
              <input name="ctl00$ctl00$PageContent$subgeneric_subgeneric_mainPlaceholder$ctrl_7-7865-f381811" type="text" id="ctrl_7-7865-f381811" class="sys_medium">
            </div>
          </li>
          <li id="Form_item_0_8" class="sys_cms-form-item sys_multiline"><label for="ctrl_8-7865-f381812" class="sys_fieldlabel">Please specify the research area(s), research project(s), or particular researcher(s) or group(s), from our
              website about which you wish to enquire. We need sufficient detail here to be able to identify to whom to send your enquiry.</label>
            <div class="sys_fieldcontent">
              <textarea name="ctl00$ctl00$PageContent$subgeneric_subgeneric_mainPlaceholder$ctrl_8-7865-f381812" id="ctrl_8-7865-f381812" cols="40" rows="8" class="sys_medium required"></textarea>
            </div>
          </li>
          <li id="Form_item_0_9" class="sys_cms-form-item sys_multiline"><label for="ctrl_9-7865-f381813" class="sys_fieldlabel">What is your source of funding for your research degree?</label>
            <div class="sys_fieldcontent">
              <textarea name="ctl00$ctl00$PageContent$subgeneric_subgeneric_mainPlaceholder$ctrl_9-7865-f381813" id="ctrl_9-7865-f381813" cols="40" rows="8" class="sys_small required"></textarea>
            </div>
          </li>
          <li id="Form_item_0_10" class="sys_cms-form-item sys_multiline"><label for="ctrl_10-7865-f381814" class="sys_fieldlabel">If you have any other queries with which we can help, please write these below.</label>
            <div class="sys_fieldcontent">
              <textarea name="ctl00$ctl00$PageContent$subgeneric_subgeneric_mainPlaceholder$ctrl_10-7865-f381814" id="ctrl_10-7865-f381814" cols="40" rows="8" class="sys_medium"></textarea>
            </div>
          </li>
          <li id="Form_item_0_11" class="sys_cms-form-item sys_sectionbreak"><span id="sectionheader_11-7865" class="sys_sectionbreak-header">Disclaimer</span>
            <div id="sectiondescription_11-7865" class="sys_sectionbreak-text">
              <p>Staffordshire University ensures information is stored and handled in accordance with the data protection law. Please read our <a href="http://www.staffs.ac.uk/data-protection/">data protection policies</a> for more
                details.</p>
            </div>
          </li>
          <li class="sys_cms-form-item sys_buttons">
            <button id="btnSubmitForm_7865" class="sys_form-submit button" type="submit">Submit</button>
          </li>
        </ul>
      </div>
      <div id="sys_cms-form-confirmation_7865" style="display:none;">
        <div class="sys_cms-form-confirmation-top">
          <div class="sys_cms-form-confirmation-left-corner">

          </div>
          <div class="sys_cms-form-confirmation-right-corner">

          </div>
        </div>
        <div class="sys_cms-form-confirmation-content">

        </div>
        <div class="sys_cms-form-confirmation-bottom">
          <div class="sys_cms-form-confirmation-left-corner">

          </div>
          <div class="sys_cms-form-confirmation-right-corner">

          </div>
        </div>
      </div>
    </div>
    <input type="hidden" name="ctl00$ctl00$PageContent$subgeneric_subgeneric_mainPlaceholder$hdPageContent7865" id="hdPageContent7865" value="669"><input type="hidden"
                                                                                                                                                          name="ctl00$ctl00$PageContent$subgeneric_subgeneric_mainPlaceholder$hdCurrentProject7865"
                                                                                                                                                          id="hdCurrentProject7865" value="1"><input type="hidden"
                                                                                                                                                                                                     name="ctl00$ctl00$PageContent$subgeneric_subgeneric_mainPlaceholder$hdPageNav7865"
                                                                                                                                                                                                     id="hdPageNav7865"><input type="hidden"
                                                                                                                                                                                                                               name="ctl00$ctl00$PageContent$subgeneric_subgeneric_mainPlaceholder$hdPageRules7865"
                                                                                                                                                                                                                               id="hdPageRules7865"
                                                                                                                                                                                                                               value="{&quot;FormPageRules&quot;:&quot;[]&quot;}"><input
            type="hidden" name="ctl00$ctl00$PageContent$subgeneric_subgeneric_mainPlaceholder$hdActionUrl7865" id="hdActionUrl7865" value="/REST/UI/FormsModule/postform/"><input type="hidden"
                                                                                                                                                                                  name="ctl00$ctl00$PageContent$subgeneric_subgeneric_mainPlaceholder$hdValUrl7865"
                                                                                                                                                                                  id="hdValUrl7865"
                                                                                                                                                                                  value="Please enter a valid URL including http://"><input
            type="hidden" name="ctl00$ctl00$PageContent$subgeneric_subgeneric_mainPlaceholder$hdValFileType7865" id="hdValFileType7865" value="Please choose a file of the following type ({0})"><input type="hidden"
                                                                                                                                                                                                        name="ctl00$ctl00$PageContent$subgeneric_subgeneric_mainPlaceholder$hdValIsDuplicate7865"
                                                                                                                                                                                                        id="hdValIsDuplicate7865"
                                                                                                                                                                                                        value="This value has already been added, please enter a different value."><input
            type="hidden" name="ctl00$ctl00$PageContent$subgeneric_subgeneric_mainPlaceholder$hdValLessThan7865" id="hdValLessThan7865" value="Please enter a value less than {0}."><input type="hidden"
                                                                                                                                                                                           name="ctl00$ctl00$PageContent$subgeneric_subgeneric_mainPlaceholder$hdValMinWords7865"
                                                                                                                                                                                           id="hdValMinWords7865"
                                                                                                                                                                                           value="Please enter at least {0} words."><input
            type="hidden" name="ctl00$ctl00$PageContent$subgeneric_subgeneric_mainPlaceholder$hdValMaxWords7865" id="hdValMaxWords7865" value="Please enter no more than {0} words."><input type="hidden"
                                                                                                                                                                                            name="ctl00$ctl00$PageContent$subgeneric_subgeneric_mainPlaceholder$hdValMinCheckbox7865"
                                                                                                                                                                                            id="hdValMinCheckbox7865"
                                                                                                                                                                                            value="Please select at least {0} option.">

  </form>
</div>
