<div class="grid grid-3-cols">
  <div>
    <div class="box  box--padded">

      <form class="">
        <fieldset>
          <legend class="">Form in a box</legend>

          <div class="form__item">
            <label for="input">Email</label>
            <input type="email" id="input" placeholder="Email">
          </div>

          <div class="form__item">
            <label for="select">Example select</label>
            <select id="select">
              <option value="">Choose...</option>
              <optgroup label="Option group 1">
                <option value="">Option 1</option>
                <option value="">Option 2</option>
                <option value="">Option 3</option>
              </optgroup>
              <optgroup label="Option group 2">
                <option value="">Option 4</option>
                <option value="">Option 5</option>
                <option value="">Option 6</option>
              </optgroup>
            </select>
          </div>
        </fieldset>

        <input type="submit" value="Signup" class="button">
      </form>
    </div>
  </div>
  <div>
    <div class="box  box--padded  box--bg-offwhite">

      <form class="">
        <fieldset>
          <legend class="">Form in a box</legend>

          <div class="form__item">
            <label for="input">Email</label>
            <input type="email" id="input" placeholder="Email">
          </div>

          <div class="form__item">
            <label for="select">Example select</label>
            <select id="select">
              <option value="">Choose...</option>
              <optgroup label="Option group 1">
                <option value="">Option 1</option>
                <option value="">Option 2</option>
                <option value="">Option 3</option>
              </optgroup>
              <optgroup label="Option group 2">
                <option value="">Option 4</option>
                <option value="">Option 5</option>
                <option value="">Option 6</option>
              </optgroup>
            </select>
          </div>
        </fieldset>

        <input type="submit" value="Signup" class="button">
      </form>
    </div>
  </div>
  <div>
    <div class="box  box--padded  box--bg-slate">

      <form class="">
        <fieldset>
          <legend class="">Form in a box</legend>

          <div class="form__item">
            <label for="input">Email</label>
            <input type="email" id="input" placeholder="Email">
          </div>

          <div class="form__item">
            <label for="select">Example select</label>
            <select id="select">
              <option value="">Choose...</option>
              <optgroup label="Option group 1">
                <option value="">Option 1</option>
                <option value="">Option 2</option>
                <option value="">Option 3</option>
              </optgroup>
              <optgroup label="Option group 2">
                <option value="">Option 4</option>
                <option value="">Option 5</option>
                <option value="">Option 6</option>
              </optgroup>
            </select>
          </div>
        </fieldset>

        <input type="submit" value="Signup" class="button">
      </form>
    </div>
  </div>
</div>


<div class="slab  slab--bg-offwhite">
  <div class="wrap">
    {% include '@base' %}
  </div>
</div>

<div class="slab  slab--bg-slate">
  <div class="wrap">
    {% include '@base' %}
  </div>
</div>

<div class="slab  slab--bg-slate-light">
  <div class="wrap">
    {% include '@base' %}
  </div>
</div>

