.masthead {
  $overlay-breakpoint: $third-breakpoint + 10rem;
  background-color: $dark-blue;//$offwhite;
  box-sizing: border-box;
  position: relative;

  &--burgundy {
    background-color: $burgundy;
  }

  &--grey {
    background-color: $grey-50-pc;

    & .title {
      color: $dark-blue!important;
    }
  }

  @media (min-width: map_get($breakpoint-stages, 'tablet-wide')) {
    &__img {
      margin-bottom: -$spacing-3xl;
    }
  }

  & .title {
    color: white;
    max-width: 30rem;
  }

  &__overlay {
    align-self: flex-end;
    align-content: flex-end;
    width: 100%;
    padding: $spacing-lg 0 0;
    box-sizing: border-box;
    background: black;
    color: white;
    z-index: 1;

    @media (min-width: $overlay-breakpoint) {
      background: none;
      padding: 0;
      margin-bottom: $spacing-lg;

      &Inner {
        margin: 0 -#{$grid-gutter};
        padding: $spacing-lg $grid-gutter 0;
        background: rgba(black, 0.75);
        @supports (backdrop-filter: blur(1em)) {
          background: rgba(black, 0.6);
          /*min-height: 340px;*/
        }
        backdrop-filter: blur(1em);

        & .meta--inline dd::before {
          display: none;
        }
      }
    }
  }

  .wrap {
    position: relative;
    align-self: flex-end;
    z-index: 0;
  }

  &--shallow {
    background: $grey-50-pc url('../images/masthead-shallow-bg.svg') no-repeat;
    background-size: cover;

    & .title {
      color: $dark-blue;
    }

    .masthead__inner {
      min-height: 20vh;
      padding-top: 8rem;
    }
  }

  &--course {
    background: $dark-blue;
    color: white;

    & .title {
      color: $neon;
      padding-left: 0;
    }
  }

  &__award-type {
    color: white;
  }

  &__ucas-code strong {
    color: $neon;
    margin-right: $spacing-md;
  }

  &__course-info {
    display: flex;
  }

  @media (max-width: map_get($breakpoint-stages, 'tablet')) {
    &__course-info {
      flex-direction:column-reverse;
    }

    &__course-hero {
      margin-left: -$spacing-xl;
      margin-right: -$spacing-xl;
    }
  }

  @media (min-width: map_get($breakpoint-stages, 'tablet')) {
    &__course-info {  
      & > div {
        width: 50%;
      }

      & img {
        height: 100%;
        position: absolute;
        max-width: none;
        left: 15%;
        z-index: -1;
      }
    }
  }

  &__course-options {
    background:  $dark-blue;
    padding-right: $spacing-xl;

    & label {
      margin: $spacing-lg 0 $spacing-sm;
    }

    & .title {
      margin: $spacing-2xl 0 0 0;
    }

    & select.one-item {
      background: white;
    }


  }

  @media (max-width: map_get($breakpoint-stages, 'mobile-wide')) {
    &--profile {
      .masthead__inner {
        padding: $spacing-6xl 0 $spacing-xl;
        figure {
          margin: 2rem 0 2rem;
        }
      }
    }
  }

  // CG: For home page styles
  &--home {
    min-height: 350px;
    position: relative;

    .masthead__inner {
      position: relative;
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;

    img {
      @supports (object-fit: cover) {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: 60% 35%; // we're going to assume the image's focal point is roughly slightly-above-center right, but specify this as an inline style for each image
      }
    }
  }

  &__knot-overlay {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    z-index: 1;
    background: url('../images/masthead-knot-homepage.svg') right bottom no-repeat;
    background-size: contain;

    .title {
        position: absolute;
        bottom: 5%;
        width: 60%;
        right: 10%;
    }
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    min-height: 35vmin;
    padding: 12rem 0 $spacing-xl;
    align-self: flex-end;
    align-content: flex-end;
    width: 100%;
    position: relative;
    box-sizing: border-box;

    @media (min-width: $overlay-breakpoint) {
      position: static;
    }
  }

  &__story {
    width: 100%;
    position: relative;
    background: $digital-blue;
    padding-top: $spacing-lg;
    color: white;
    z-index: 2;

    & .title {
      text-transform: uppercase;
    }
  }
}

.masthead--with-image {
  & .masthead__inner {
    padding: 2rem 0 $spacing-xl;
  }

  & h1 {
    margin-top: 8rem;
  }
}

.card {
  & a.masthead__school-link {
    color: white;
    border-bottom: 1px solid white!important;

    &:hover {
      border-bottom: none!important;
      text-decoration: none;
    }
  }

}