<div class="masthead  masthead--shallow  masthead--no-bg">
  <div class="masthead__inner">
    <div class="wrap">
      {% include '@title' with {
        text: 'Professional training and development',
        textElement: 'h1',
        animate: true
      } %}
    </div>
  </div>
</div>

<div class="wrap">
  {% include '@breadcrumbs' %}
</div>
