<div class="masthead">
  <div class="masthead__inner">
    <div class="masthead__bg">
      {% if bgImg %}
        {{ bgImg }}
      {% else %}
        <img src="{{ ('/img/masthead0.jpg') | path }}" style="object-position: 55% 20%"/>
      {% endif %}
    </div>
    <div class="wrap">
      {% include '@title' with {
        text: 'Shortlisted for "University of the year"',
        modifiers: ['has-tail'],
        textElement: 'h1',
        textElementStyle: 'h2',
        animate: true
      } %}
      {% include '@title' with {
        text: '- The Times and The Sunday Times Good University Guide 2020',
        modifiers: ['bg-white', 'has-tail'],
        textElement: 'h6',
        animate: true
      } %}
      {% include '@button' with {
        text: 'Book an open day',
      } %}
    </div>
  </div>
</div>
