<article class="masthead-home">
  <div class="masthead-home__knot"></div>

  <div class="masthead-home__hero" style="background-image: url({{ ('/images/masthead-home.jpg') | path }});"></div>

  <div class="masthead-home__story  masthead-home__story--background">
    <!-- CG: Begin content -->
    <div class="masthead-home__story  masthead-home__story--content">
      <div class="wrap">
        <div class="title">
          <h1>Your place of possibility</h1>
        </div>
        <p>University of Staffordshire London is a lively ecosystem designed for the curious, the bold, and the ambitious.</p>

        <a href="" class="button">
            Book an open day
        </a>

        <a href="" class="button  button--grey">
            View courses
        </a>
      </div>
    </div>
    <!-- CG: End content -->
    <div class="wrap  no-show">
        <div class="title">
          <h1>Your place of possibility</h1>
        </div>
        <p>University of Staffordshire London is a lively ecosystem designed for the curious, the bold, and the ambitious.</p>

        <a href="" class="button">
            Book an open day
        </a>

        <a href="" class="button  button--grey">
            View courses
        </a>
      </div>
  </div>
</article>