<div class="masthead">
  <div class="masthead__inner">
    <div class="masthead__bg">
      {% if bgImg %}
        {{ bgImg }}
      {% else %}
        <img src="{{ ('/images/masthead-knot.svg') | path }}"/>
      {% endif %}
    </div>
    <div class="wrap">
      {% include '@title' with {
        text: 'Undergraduate courses',
        textElement: 'h1',
        textElementStyle: 'h1',
        animate: true
      } %}
      {% include '@title' with {
        text: '(If long, consider using h2 textElementStyle)',
        textElement: 'h6',
        animate: true
      } %}
    </div>
  </div>
</div>

<div class="wrap">
  <nav class="breadcrumbs">
    <ul>
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">Courses</a>
      </li>
      <li>
        <a href="#">Medium Length Third Level</a>
      </li>
      <li>
        <a href="#">Relatively Long Fourth Level</a>
      </li>
    </ul>
  </nav>
</div>

<hr />

<div class="masthead  masthead--burgundy">
  <div class="masthead__inner">
    <div class="masthead__bg">
      {% if bgImg %}
        {{ bgImg }}
      {% else %}
        <img src="{{ ('/images/masthead-knot.svg') | path }}"/>
      {% endif %}
    </div>
    <div class="wrap">
      {% include '@title' with {
        text: 'Undergraduate courses',
        textElement: 'h1',
        textElementStyle: 'h1',
        animate: true
      } %}
      {% include '@title' with {
        text: '(If long, consider using h2 textElementStyle)',
        textElement: 'h6',
        animate: true
      } %}
    </div>
  </div>
</div>

<div class="wrap">
  <nav class="breadcrumbs">
    <ul>
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">Courses</a>
      </li>
      <li>
        <a href="#">Medium Length Third Level</a>
      </li>
      <li>
        <a href="#">Relatively Long Fourth Level</a>
      </li>
    </ul>
  </nav>
</div>