{% set slabBg = slabBg ? 'slab--bg-' ~ slabBg : 'slab--bg-slate' %}
{% set bgImgURL = bgImg is not empty ?: ('/images/masthead' ~ random(5) ~ '.jpg') %}

<div class="masthead  masthead--course">
  <div class="wrap">
    <div class="masthead__course-info">
      <div class="masthead__course-options">
        <h1 class="margin-top-lg">Biomedical Science</h1>

        <h2 class="h5"><label for="award-selector">Choose an award</label></h2>
        <select id="award-selector" class="masthead__award-selector" title="Award">
            <option value="bsc-hons">BSc (Hons)</option>
            <option value="msci">MSci</option>
        </select>
        
        <h2 class="h5"><label for="award-selector">Choose a study option</label></h2>
        <select id="study-option-selector--bsc-hons" class="masthead__study-option-selector" data-award="bsc-hons" title="Study Options">
          <option selected>Full-time, Stoke-on-Trent campus</option>
          <option>Full-time, City of Stoke-On-Trent Sixth Form College, with a foundation year</option>
          <option>Full-time, Stoke-On-Trent campus, with a placement year</option>
        </select>
        <select id="study-option-selector--msci" class="masthead__study-option-selector  one-item" style="display: none;" data-award="msci" title="Study Options">
          <option selected>Full-time</option>
        </select>

        <div class="grid  grid-2-cols">
          <div>
            <h2 class="h5">Location</h2>
            <p>Stoke-on-Trent campus</p>
          </div>
          <div>
            <h2 class="h5">UCAS code</h2>
            <p>C900</p>
          </div>

        </div>

        <h2 class="h5">Start dates available</h2>
        <ul class="list--inline-bulleted">
          <li>September 2026</li>
          <li>January 2027</li>
        </ul>

        <ul class="list--inline">
          <li>
            {% include '@button' with {
              text: 'Apply now'
            } %}
          </li>
          <li>
            {% include '@button' with {
              text: 'Book an open day',
              classes: ['button--grey']
            } %}
          </li>
        </ul>
      </div>

      <div class="masthead__course-hero">
        {% if bgImg %}
          {{ bgImg }}
        {% else %}
          <img src="{{ bgImgURL | path }}"/>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="wrap">
  <p class="intro">Course page body copy</p>
</div>