@use "../../assets/styles/__vars/colours";
@use "../../assets/styles/__vars/spacing";
@use "../../assets/styles/__vars/typography";

.pager {
  @include typography.line-height('normal');

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    margin: 0 spacing.$spacing-2xs spacing.$spacing-2xs 0;
  }

  &__link,
  &__current,
  &__ellipsis {
    display: inline-block;
    min-width: 1em;
    padding: spacing.$spacing-xs spacing.$spacing-md;
    text-align: center;
    border: 1px solid colours.$grey--light;
    box-sizing: border-box;
  }

  &__link {
    &:hover {
      text-decoration: underline;
    }
  }

  &__current {
    font-weight: 500;
    cursor: default;
    background: colours.$grey-50-pc;

    &:hover {
      color: colours.$text-color;
      text-decoration: none;
    }
  }

  &__ellipsis {
    border-color: transparent;
  }

  &__next,
  &__prev {
    border-color: colours.$primary;
    background: colours.$primary;
    color: white;

    &:hover {
      color: white;
    }
  }
}