<nav class="pager">
  <ul class="pager__list">
    <li class="pager__item"><a class="pager__link  pager__prev" href="">Previous</a></li>
    <li class="pager__item"><a class="pager__link  pager__number" href="">1</a></li>
    <li class="pager__item"><a class="pager__current">2</a></li>
    <li class="pager__item"><a class="pager__link  pager__number" href="">3</a></li>
    <li class="pager__item"><a class="pager__link  pager__number" href="">4</a></li>
    <li class="pager__item"><span class="pager__ellipsis">…</span></li>
    <li class="pager__item"><a class="pager__link  pager__number" href="">77</a></li>
    <li class="pager__item"><a class="pager__link  pager__next" href="">Next</a></li>
  </ul>
</nav>